<template>
    <div class="my-8 relative">
        <div
            v-if="type !== 'figure'"
            :class="[
                'absolute ml-4 h-7 grid place-items-center z-10',
                'text-base font-sans font-bold px-2 w-fit',
                type === 'focus-territoire' || type === 'simulez-vos-actions'
                    ? 'text-accent border-accent bg-accent-50'
                    : 'text-primaire border border-primaire-100 bg-white',
                'rounded-lg'
            ]"
        >
            {{
                type === 'focus-territoire' ? 'Focus sur votre territoire' : type === 'simulez-vos-actions' ? 'Simulez vos actions' : "Ils l'ont fait"
            }}
        </div>
        <div v-if="type === 'focus-territoire' || type === 'simulez-vos-actions'" class="hidden lg:block absolute top-8 -left-6 text-4xl">
            <UIcon v-if="type === 'focus-territoire'" name="i-heroicons-chart-bar-square" class="text-5xl text-accent -rotate-6" />
            <IconeSimulation v-if="type === 'simulez-vos-actions'" filled />
        </div>
        <div class="pt-3 z-0">
            <div
                :class="[
                    'border',
                    type === 'focus-territoire' || type === 'simulez-vos-actions' ? 'border-accent-50' : 'border-primaire-100',
                    type === 'focus-territoire' || type === 'simulez-vos-actions' ? 'bg-sable-50' : type === 'ils-l-ont-fait' ? 'bg-primaire-50' : '',
                    'rounded-lg'
                ]"
            >
                <div class="p-6 sm:p-8 text-primaire">
                    <div v-if="localisation" class="py-2 flex items-center">
                        <UIcon class="text-xl" name="i-heroicons-map-pin" />
                        <span class="font-bold pl-1">
                            {{ localisation }}
                        </span>
                    </div>
                    <div v-if="titre || sousTitre" class="pb-8">
                        <div class="text-center text-xl font-bold">{{ titre }}</div>
                        <div class="text-center text-base">{{ sousTitre }}</div>
                    </div>
                    <div class="text-lg"><slot></slot></div>
                    <div v-if="urlEnSavoirPlus" class="mt-4">
                        <UButton
                            color="accent"
                            :padded="false"
                            variant="link"
                            trailing-icon="i-heroicons-arrow-right-20-solid"
                            size="md"
                            :label="
                                type === 'focus-territoire'
                                    ? 'Voir plus de détails'
                                    : type === 'simulez-vos-actions'
                                        ? 'Faire la simulation'
                                        : type === 'ils-l-ont-fait'
                                            ? 'Découvrir ce projet'
                                            : 'En savoir plus'
                            "
                            :to="urlEnSavoirPlus"
                            :target="type === 'ils-l-ont-fait' ? '_blank' : '_self'"
                        />
                    </div>
                </div>
            </div>
            <div v-if="informationsMethodologie" class="text-right">
                <BoutonInfoMethodologie
                    :titre="informationsMethodologie.titre"
                    :descriptif="informationsMethodologie.descriptif"
                    :descriptifDetaille="informationsMethodologie.descriptifDetaille"
                    :estPerimetreNational="informationsMethodologie.estPerimetreNational"
                    :libelleBouton="informationsMethodologie.libelleBouton"
                    :libelleLienComplementInformation="informationsMethodologie.libelleLienComplementInformation"
                    :urlComplementInformation="informationsMethodologie.urlComplementInformation"
                />
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import IconeSimulation from 'assets/icones/simulation.svg';
import type { RouteLocationRaw } from 'vue-router';

import BoutonInfoMethodologie, { type InformationsMethodologieBouton } from '../../commun/BoutonInfoMethodologie.vue';

interface Props {
    type: 'focus-territoire' | 'simulez-vos-actions' | 'ils-l-ont-fait' | 'figure';
    titre?: string;
    sousTitre?: string;
    informationsMethodologie?: InformationsMethodologieBouton;
    localisation?: string;
    urlEnSavoirPlus?: string | RouteLocationRaw;
}

defineProps<Props>();
</script>
