<template>
    <div class="text-primaire text-lg">
        <div v-if="(chiffre || phrase) && chiffre !== '-'">
            <div class="flex flex-wrap items-baseline gap-2">
                <div v-if="chiffre" class="chiffre text-7xl font-bold">{{ chiffre }}</div>
                <div v-if="unite" class="unite text-2xl">{{ unite }}</div>
            </div>
            <div v-if="phrase" class="text-2xl font-bold">
                {{ phrase }}
            </div>
            <div v-if="complement">
                {{ complement }}
            </div>
            <div v-if="complement2" class="pt-4 text-sm">
                {{ complement2 }}
            </div>
        </div>
        <div v-else>Désolé, pas de donnée disponible pour ce territoire ou cette échelle territoriale...</div>
    </div>
</template>

<script setup lang="ts">
interface Props {
    chiffre?: string | null;
    unite?: string;
    phrase?: string;
    complement?: string;
    complement2?: string;
}

defineProps<Props>();
</script>

<style scoped>
.chiffre {
    -webkit-text-stroke: 0.15em;
    -webkit-text-stroke-color: var(--couleur-blanc);
    paint-order: stroke fill;
}

.unite {
    -webkit-text-stroke: 0.13em;
    -webkit-text-stroke-color: var(--couleur-blanc);
    paint-order: stroke fill;
}
</style>
