<template>
    <span>
        <slot></slot>
        <TexteAvecPopover titre="Source" icone-titre="i-heroicons-book-open-solid" :description="props.source" :lien="props.lien">
            <sup class="text-accent text-sm">
                {{ isNaN(Number(props.numero)) ? props.numero : `[${props.numero}]` }}
            </sup></TexteAvecPopover
        >
    </span>
</template>

<script setup lang="ts">
import type { HtmlString } from '@lga/base';

import TexteAvecPopover from '~/components/base/TexteAvecPopover.vue';

interface Props {
    numero: string;
    source: HtmlString;
    lien?: string;
}

const props = defineProps<Props>();
</script>
