<template>
    <span>
        <TexteAvecPopover titre="Définition" icone-titre="i-heroicons-information-circle" :description="props.definition" :lien="props.lien"
        ><span>
            <span class="underline decoration-dashed decoration-1 underline-offset-2 decoration-accent"><slot></slot></span>
            <span class="text-accent"><UIcon name="i-heroicons-question-mark-circle" /></span></span
        ></TexteAvecPopover>
    </span>
</template>

<script setup lang="ts">
import type { HtmlString } from '@lga/base';

import TexteAvecPopover from '~/components/base/TexteAvecPopover.vue';

interface Props {
    definition: HtmlString;
    lien?: string;
}

const props = defineProps<Props>();
</script>
