/* font-face en latin */
@font-face {
    font-family: 'font-family-open-sans';
    font-style: normal;
    font-weight: 300 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(./fonts-defaut/OpenSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'font-family-open-sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(./fonts-defaut/OpenSans-Italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'font-family-eigthies-comeback';
    font-weight: 500;
    font-display: swap;
    src: url(./fonts-defaut/EightiesComeback-Medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

:root {

    --font-systeme: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
    --font-family-titre-ds: 'font-family-eigthies-comeback', var(--font-systeme);
    --font-family-texte-ds: 'font-family-open-sans', var(--font-systeme);

    --couleur-primaire-clair: #809C94;
    --couleur-primaire: #124F4B;
    --couleur-primaire-sombre: #042F2E;

    --couleur-secondaire-clair: #DBEAFE;
    --couleur-secondaire: #075985;
    --couleur-secondaire-sombre: #082F49;

    --couleur-accent-clair: #FFA185;
    --couleur-accent: #FF6433;
    --couleur-accent-sombre: #B82B00;
    --couleur-accent-transparent: #FF643340;

    --couleur-neutre-clair: #f3f4f6;
    --couleur-neutre: #374151;
    --couleur-neutre-sombre: #111827;
    --couleur-neutre-80: #4b5563;
    --couleur-neutre-60: #6b7280;
    --couleur-neutre-40: #9ca3af;
    --couleur-neutre-20: #d1d5db;
    --couleur-neutre-transparent: #37415120;

    --couleur-jaune: #FBB427;
    --couleur-blanc: #FFFFFF;
    --couleur-fond: #F8F5F0;
    --couleur-fond-sombre: #E6E2DC;

    --couleur-succes-clair: #5eead4;
    --couleur-succes: #14b8a6;
    --couleur-succes-sombre: #0f766e;
    --couleur-danger-clair: #FF825C;
    --couleur-danger: #B82B00;
    --couleur-danger-sombre: #7A1D00;
    --couleur-warning-clair: #FEEEAD;
    --couleur-warning: #FACC15;
    --couleur-warning-sombre: #FAA92F;

    /* unite de marge/padding pour le design system, en pixel */
    --dsem: 8px;
    --dsem0_5: calc(0.5 * var(--dsem));
    --dsem2: calc(2 * var(--dsem));
    --dsem3: calc(3 * var(--dsem));
    --dsem4: calc(4 * var(--dsem));
    --dsem6: calc(6 * var(--dsem));
    --dsem8: calc(8 * var(--dsem));

    color: var(--couleur-neutre);
}
