<template>
    <div>
        <TemplatePage sansPiedDePage>
            <div v-if="useGetStateTerritoire()" class="h-[calc(100vh-var(--hauteur-entete-totale))]">
                <iframe title="parcel" height="100%" width="100%" allowfullscreen :src="urlParcel"> </iframe>
            </div>
            <div v-else>
                <TitrePage titrePartie1Surlignee="Simulateur" titre-partie2-non-surlignee=" d'action" :texte-sous-titre="TEXTE_SOUS_TITRE" />
                <div class="xl:w-[350px] m-auto">
                    <ChampRechercheTerritoire taille="s" :fnCreerRoute="(idTerritoire: string) => useRouteSimulateur(idTerritoire)" />
                </div>
            </div>
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import type { TerritoireBase } from '@lga/territoires';
import { useRoute } from 'vue-router';

import TemplatePage from '@/components/templates/TemplatePage.vue';
import {
    type TypeModuleParcel,
    useFetchDonneesApi,
    useGetStateTerritoire,
    usePositionnerInfosHead,
    useRouteMonTerritoire,
    useRouteParamsSimulateur,
    useRouteSimulateur,
    useSetStateTef
} from '@/composables';
import TitrePage from '~/components/base/TitrePage.vue';
import ChampRechercheTerritoire from '~/components/navigation/ChampRechercheTerritoire.vue';
import { creerTerritoire } from '~/modeles/DiagnosticModele.js';

const params = useRouteParamsSimulateur();
const idTerritoire = params.idTerritoire;
const typeModule = useRoute().query.typeModule as TypeModuleParcel;

let territoire: TerritoireBase | undefined = undefined;
let idTerritoireParcel: string | null = null;

if (idTerritoire) {
    const donneesApi = await useFetchDonneesApi(idTerritoire);
    useSetStateTef(donneesApi.territoireApi);
    territoire = creerTerritoire(donneesApi.territoireApi);
    idTerritoireParcel = donneesApi.diagnosticApi.idTerritoireParcel;
}

let urlModuleParcel = '';
switch (typeModule) {
    case 'Emplois':
        urlModuleParcel = 'emplois-crees-par-la-relocalisation';
        break;
    case 'ImpactsEcologiques':
        urlModuleParcel = 'impacts-ecologiques-de-la-relocatisation';
        break;
    case 'ChangementAlimentation':
        urlModuleParcel = '3-type-dalimentation';
        break;
    default:
        urlModuleParcel = 'repartition-des-produits-relocalises';
}

const urlParcel = `https://parcel-app.org${idTerritoireParcel ? `/${urlModuleParcel}?idterritoire=${idTerritoireParcel}` : ''}`;

const TEXTE_SOUS_TITRE = `Pour simuler l'impact d'actions sur votre territoire :`;

usePositionnerInfosHead(
    territoire
        ? {
              titre: () => `Simulateur d'action %separator ${territoire.nom}`,
              routeUrlCanonique: useRouteMonTerritoire(territoire.id),
              description: "Simuler l'impact d'actions sur votre territoire"
          }
        : {
              titre: () => `Simulateur d'action`,
              description: "Simuler l'impact d'actions sur votre territoire"
          }
);
</script>
