<template>
    <div class="m-4">
        <h1>Test LegendeCarte</h1>
        <main class="w-fit pt-4">
            <h2 class="pt-2">Legende discrete</h2>
            <Legende type="discrete" :items="itemsLegendeDiscrete" />
            <h2 class="pt-2">Legende continue</h2>
            <Legende type="continue" :items="itemsLegendeContinue" />
        </main>
    </div>
</template>

<script setup lang="ts">
import type { ItemLegende } from '~/components/base/Legende.vue';
import Legende from '~/components/base/Legende.vue';

const MOTIF_RAYURE = 'repeating-linear-gradient(90deg, rgba(255, 255, 255, 1) 0 2px, rgba(0, 0, 0, 0) 1px 5px)';

const itemsLegendeDiscrete: ItemLegende[] = [
    {
        libelle: 'Item A',
        couleur: 'red'
    },
    {
        libelle: 'Item B',
        couleur: 'blue'
    },
    {
        libelle: 'Item C',
        couleur: 'green',
        motif: MOTIF_RAYURE
    },
    {
        libelle: 'Item D',
        couleur: 'yellow'
    }
];

const itemsLegendeContinue: ItemLegende[] = [
    { libelle: '0', couleur: '#ff0000' },
    { libelle: '20', couleur: '#cc0033' },
    { libelle: '40', couleur: '#990066' },
    { libelle: '60', couleur: '#660099' },
    { libelle: '80', couleur: '#3300cc' },
    { libelle: '100+++', couleur: '#0000ff' }
];
</script>
