<template>
    <div class="h-full w-full flex flex-col items-center justify-evenly gap-4 text-primaire">
        <div class="flex flex-col items-center justify-center mx-8 gap-2 pt-4">
            <h2 class="font-sans font-extrabold text-3xl">Et si on passait à l'<TexteStabilo couleur="jaune">action</TexteStabilo>&nbsp;?</h2>
            <p class="font-sans text-3xl">Du champ à l'assiette, des territoires le font déjà&nbsp;!</p>
        </div>
        <div class="w-full h-full flex flex-col items-center justify-evenly">
            <div class="mx-10">
                <h3 class="font-serif text-4xl">Généraliser les pratiques agricoles écologiques</h3>
                <p class="font-sans text-2xl pt-4">
                    Près d'<span class="font-bold">Albi</span>, le collectif Terres citoyennes albigeoises a acquis des terres agricoles pour
                    faciliter des installations en agriculture biologique, tournées vers la demande alimentaire du territoire.
                </p>
            </div>
            <div class="mx-10">
                <h3 class="font-serif text-4xl">Soutenir les productions locales et diversifiées</h3>
                <p class="font-sans text-2xl pt-4">
                    À <span class="font-bold">Romainville</span>, une école primaire propose des repas cuisinés sur place 100 % bio, locaux et plus
                    végétaux (une alternative végétarienne tous les jours). La gestion en propre permet de faire des économies sur le coût des repas
                    et de soutenir les filières locales.
                </p>
            </div>
            <div class="mx-10">
                <h3 class="font-serif text-4xl leading-tight">Garantir l'accès à une alimentation durable et de qualité</h3>
                <p class="font-sans text-2xl pt-4">
                    À <span class="font-bold">Montpellier</span>, des habitants expérimentent une caisse commune d’alimentation. Chacun cotise en
                    fonction de ses moyens et reçoit chaque mois 100 euros pour acheter des aliments choisis selon des critères élaborés
                    collectivement (santé, conditions de production et de travail...).
                </p>
            </div>
        </div>
        <div class="w-full h-fit">
            <LigneCrete filled class="w-full rotate-180 fill-primaire-50" :fontControlled="false"> </LigneCrete>
            <div class="bg-primaire-50 w-full h-fit flex flex-col items-center justify-center gap-4 pt-4">
                <div class="flex flex-col items-center justify-center">
                    <h2 class="font-sans text-xl font-bold text-center">Pour aller plus loin</h2>
                    <UIcon name="i-heroicons-chevron-down" class="text-accent w-full h-8" />
                </div>
                <div class="flex items-center justify-center gap-12 pb-8">
                    <article class="w-[250px] h-[280px] bg-white rounded-md flex flex-col items-center justify-between py-3 px-4">
                        <p class="font-sans text-base font-extrabold text-accent text-center">Consulter le diagnostic complet sur</p>
                        <div class="h-full w-[130%] relative flex items-center justify-center">
                            <NuxtImg
                                :src="CaptureEcranAccueilTEF.url"
                                :width="CaptureEcranAccueilTEF.resolutionX"
                                :height="CaptureEcranAccueilTEF.resolutionY"
                                :alt="CaptureEcranAccueilTEF.descriptionAlt"
                                class="rounded-lg border-4 border-gray-200"
                            />
                        </div>
                        <div class="text-primaire font-bold text-center text-lg bg-jaune-500 py-1 px-2 w-fit -rotate-[4deg] -mb-6">
                            territoiresfertiles.fr
                        </div>
                    </article>
                    <article class="w-[250px] h-[280px] bg-white rounded-md flex flex-col items-center justify-between py-3 px-4">
                        <p class="font-sans text-base font-extrabold text-accent text-center">Télécharger le rapport de Terre de Liens</p>
                        <div class="relative w-full h-[180px] grid place-items-center">
                            <div class="absolute bottom-2 translate-x-1 -translate-y-1 w-[120px] h-[160px] bg-gray-200" />
                            <div class="absolute bottom-2">
                                <NuxtImg
                                    :src="CouvertureRapportTDL.url"
                                    :width="CouvertureRapportTDL.resolutionX"
                                    :height="CouvertureRapportTDL.resolutionY"
                                    :alt="CouvertureRapportTDL.descriptionAlt"
                                    class="w-[120px]"
                                />
                            </div>
                        </div>
                        <div class="text-primaire font-bold text-lg text-center bg-jaune-500 py-1 px-2 w-fit -rotate-[4deg] -mb-6">
                            terredeliens.org
                        </div>
                    </article>
                </div>
            </div>
            <BarreLogos class="py-4" :logos="LOGOS_PARTENAIRES_ET_BDT" taille="moyenne" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { IMG0077 as CaptureEcranAccueilTEF, LOGOS_PARTENAIRES_ET_BDT } from '@lga/images-definitions';
import { IMG0080 as CouvertureRapportTDL } from '@lga/images-definitions';

import LigneCrete from '@/assets/motifs/ligne-crete-2xl.svg';
import { NuxtImg } from '#components';
import BarreLogos from '~/components/base/BarreLogos.vue';
import TexteStabilo from '~/components/base/TexteStabilo.vue';
</script>
