<template>
    <figure class="m-auto max-w-[500px] text-center">
        <div class="md:grid grid-flow-col items-end">
            <div class="chart-treemap">
                <ChartTreemapCultures
                    :hauteur="optionsTreemapCulturesGauche.hauteur"
                    :largeur="optionsTreemapCulturesGauche.largeur"
                    :donnees="optionsTreemapCulturesGauche.donnees"
                    :activer-labels="optionsTreemapCulturesGauche.activerLabels"
                ></ChartTreemapCultures>
                <p class="m-0">
                    <span class="font-bold">{{ props.titreCulturesGauche }}</span> : {{ formaterNombreEnEntierString(sauTotaleCulturesGaucheHa) }} ha
                </p>
            </div>
            <div class="chart-treemap">
                <ChartTreemapCultures
                    :hauteur="optionsTreemapCulturesDroite.hauteur"
                    :largeur="optionsTreemapCulturesDroite.largeur"
                    :donnees="props.donneesTreemapCulturesDroite"
                    :activer-labels="optionsTreemapCulturesDroite.activerLabels"
                    :activer-fill-pattern="false"
                ></ChartTreemapCultures>
                <p class="m-0">
                    <span class="font-bold">{{ props.titreCulturesDroite }}</span> : {{ formaterNombreEnEntierString(sauTotaleCulturesDroiteHa) }} ha
                </p>
            </div>
        </div>
        <Legende class="my-1 mx-auto" type="discrete" :items="itemsLegende"></Legende>
        <div class="print:hidden flex justify-center items-center gap-2">
            <UToggle v-model="etirer" />
            <label class="text-sm text-primaire">Étirer</label>
        </div>
    </figure>
</template>

<script setup lang="ts">
import { formaterNombreEnEntierString, sommeArray } from '@lga/base';
import type { ItemLegende } from '@lga/design-system/build/composants/Legende';
import { computed, ref } from 'vue';

import Legende from '~/components/base/Legende.vue';

import type { DonneesTreemapCultures } from './ChartTreemapCultures.vue';
import ChartTreemapCultures from './ChartTreemapCultures.vue';

const LARGEUR_PAR_DEFAUT_PIXELS = 225;
const HAUTEUR_MAX_PIXELS = 350;
const HAUTEUR_BASCULEMENT_AFFICHAGE_CARRE_PIXELS = 25;
const TAILLE_MIN_CARRE_PIXELS = 15;

export interface OptionsChartTreemapDoubleCultures {
    titreCulturesGauche: string;
    titreCulturesDroite: string;
    donneesTreemapCulturesGauche: DonneesTreemapCultures[];
    donneesTreemapCulturesDroite: DonneesTreemapCultures[];
    hauteurPixels?: number;
}
const props = defineProps<OptionsChartTreemapDoubleCultures>();

const etirer = ref(false);

const hauteurMaxPixels = props.hauteurPixels ?? HAUTEUR_MAX_PIXELS;
const sauTotaleCulturesGaucheHa = computed(() => sommeArray(props.donneesTreemapCulturesGauche.map((i) => i.sauHa)));
const sauTotaleCulturesDroiteHa = computed(() => sommeArray(props.donneesTreemapCulturesDroite.map((i) => i.sauHa)));

const itemsLegende = computed<ItemLegende[]>(() => {
    const donneesDroiteEtGauche = [...props.donneesTreemapCulturesGauche, ...props.donneesTreemapCulturesDroite];
    const donneesSansDoublons = new Map<string, ItemLegende>(
        donneesDroiteEtGauche
            .sort((a, b) => a.labelCourt.localeCompare(b.labelCourt))
            .map((d) => [d.code, { couleur: d.couleur, libelle: d.labelLong + ` (${d.code})` }])
    );
    return [...donneesSansDoublons.values()];
});

const optionsTreemapCulturesGauche = computed(() => {
    return {
        donnees: props.donneesTreemapCulturesGauche,
        ...calculerOptionsTreemap(etirer.value, sauTotaleCulturesGaucheHa.value ?? 0, sauTotaleCulturesDroiteHa.value ?? 0)
    };
});

const optionsTreemapCulturesDroite = computed(() => {
    return {
        donnees: props.donneesTreemapCulturesDroite,
        ...calculerOptionsTreemap(etirer.value, sauTotaleCulturesDroiteHa.value ?? 0, sauTotaleCulturesGaucheHa.value ?? 0)
    };
});

const calculerOptionsTreemap = (
    etirer: boolean,
    superficieTreemap: number,
    superficieTreemapAdjacent: number
): { hauteur: number; largeur: number; activerLabels: boolean } => {
    if (etirer || superficieTreemap >= superficieTreemapAdjacent) {
        return { hauteur: hauteurMaxPixels, largeur: LARGEUR_PAR_DEFAUT_PIXELS, activerLabels: true };
    } else {
        const ratio = superficieTreemap / superficieTreemapAdjacent;
        let hauteur = hauteurMaxPixels * ratio;
        let largeur = LARGEUR_PAR_DEFAUT_PIXELS;
        if (hauteur < HAUTEUR_BASCULEMENT_AFFICHAGE_CARRE_PIXELS) {
            hauteur = largeur = Math.max(TAILLE_MIN_CARRE_PIXELS, Math.sqrt(hauteur * largeur));
        }
        return { hauteur: Math.round(hauteur), largeur: Math.round(largeur), activerLabels: ratio > 0.5 ? true : false };
    }
};
</script>
