<template>
    <div class="m-auto w-[250px] flex justify-center">
        <ClientOnly>
            <apexchart
                :height="hauteurConteneur"
                :width="largeurConteneur"
                :options="optionsApex"
                :series="seriesApex"
                class="treemap-chart"
            ></apexchart>
            <template #fallback>
                <p class="w-full h-[320px] text-center">Graphique treemap</p>
            </template>
        </ClientOnly>
    </div>
</template>

<script setup lang="ts">
import { formaterNombreEnEntierString, sommeArray } from '@lga/base';
import type { ApexOptions } from 'apexcharts';
import { computed } from 'vue';

import { ClientOnly } from '#components';

const FILL_PATTERN = {
    type: 'pattern',
    pattern: {
        style: 'verticalLines',
        width: 6,
        height: 6,
        strokeWidth: 8
    }
};

export interface DonneesTreemapCultures {
    code: string;
    labelCourt: string;
    labelLong: string;
    couleur: string;
    sauHa: number;
    detailCultures?: DonneesTreemapDetailCultures[];
}

export interface DonneesTreemapDetailCultures {
    codeCulture: string;
    nomCulture: string;
    sauHa: number;
}

export interface OptionsTreemapCultures {
    donnees: DonneesTreemapCultures[];
    hauteur: number;
    largeur?: number;
    activerFillPattern?: boolean;
    activerLabels?: boolean;
}

const props = withDefaults(defineProps<OptionsTreemapCultures>(), {
    largeur: undefined,
    activerFillPattern: false,
    activerLabels: false
});

const seriesApex = computed<ApexAxisChartSeries>(() => {
    return [
        {
            data: props.donnees.map((d) => {
                return { x: d.labelCourt, y: d.sauHa };
            })
        }
    ];
});

const hauteurConteneur = props.hauteur;

const largeurConteneur = props.largeur ?? '100%';

const optionsApex = computed<ApexOptions>(() => {
    const estSurfaceTotaleNulle = sommeArray(props.donnees.map((i) => i.sauHa)) === 0;
    const couleursApex = props.donnees.map((d) => d.couleur);

    const apexOptionsLocales: ApexOptions = {
        legend: {
            show: false
        },
        chart: {
            height: estSurfaceTotaleNulle ? 0 : props.hauteur,
            width: props.largeur ?? '100%',
            type: 'treemap',
            animations: {
                enabled: false
            },
            sparkline: {
                enabled: true
            }
        },
        colors: couleursApex,
        dataLabels: {
            enabled: props.activerLabels ?? true
        },
        plotOptions: {
            treemap: {
                distributed: true,
                enableShades: false,
                borderRadius: 0
            }
        },
        tooltip:
            props.donnees[0]?.detailCultures === undefined
                ? {
                      custom: (contexteApex: { dataPointIndex: number }) => {
                          return calculerHtmlTooltipChartSansDetailCultures(props.donnees, contexteApex.dataPointIndex);
                      }
                  }
                : {
                      custom: (contexteApex: { dataPointIndex: number }) => {
                          return calculerHtmlTooltipChartAvecDetailCultures(props.donnees, contexteApex.dataPointIndex);
                      }
                  },
        fill: props.activerFillPattern ? FILL_PATTERN : {}
    };
    return apexOptionsLocales;
});

const calculerHtmlTooltipChartSansDetailCultures = (donnees: DonneesTreemapCultures[], dataPointIndex: number) => {
    return `<div class="tooltip texte-titre">${donnees[dataPointIndex].labelLong}<br>${formaterNombreEnEntierString(
        donnees[dataPointIndex].sauHa
    )} ha</div>`;
};

const calculerHtmlTooltipChartAvecDetailCultures = (donnees: DonneesTreemapCultures[], dataPointIndex: number) => {
    return `
            <div class="tooltip">
              <h1 class="texte-titre"><span class="dot" style="background-color: ${donnees[dataPointIndex].couleur}"></span>${
                  donnees[dataPointIndex].labelLong
              } : ${formaterNombreEnEntierString(donnees[dataPointIndex].sauHa)} ha</h1>
              <ul>${donnees[dataPointIndex].detailCultures
                  ?.map((dc) => {
                      return `
                 <li class="texte-moyen">${dc.nomCulture} : ${formaterNombreEnEntierString(dc.sauHa)} ha</li>
                  `;
                  })
                  .join('\n')}
              </ul>
            </div>`;
};
</script>

<style scoped>
.treemap-chart :deep(.tooltip h1) {
    background-color: var(--couleur-neutre-20);
    color: var(--couleur-neutre);
    text-transform: none;
    padding: 0.3rem 0.5rem;
    margin: 0;
}

.treemap-chart :deep(.tooltip .dot) {
    position: relative;
    top: 2px;
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.3rem;
}

.treemap-chart :deep(.tooltip ul) {
    padding: 0 0.5rem;
    margin: 0.2rem 0;
}

.treemap-chart :deep(.tooltip li) {
    list-style: none;
}

.treemap-chart :deep(rect) {
    stroke-width: 1px;
}

.treemap-chart :deep(text) {
    fill: var(--couleur-neutre);
    font-size: 12px;
}
</style>
