<template>
    <div>
        <TemplatePage>
            <section>
                <div class="flex flex-col items-center justify-center gap-4 p-8">
                    <h1 class="font-serif text-3xl text-bold text-center px-2">Les initiatives de {{ nomTerritoire }}</h1>
                    <div class="text-bold">{{ codeProfilCollectivite }} | {{ codeProfilAgriculture }}</div>
                    <div class="flex items-center justify-center gap-2">
                        <span class="px-2">Afficher par</span>
                        <URadioGroup v-model="optionAffichageInitiatives" :options="optionsUiAffichageInitiatives" />
                    </div>
                </div>
                <table class="m-auto">
                    <thead>
                        <tr class="[&>th]:px-1">
                            <th class="text-xl">ID</th>
                            <th>Localisation</th>
                            <th>Titre</th>
                            <th>Thème</th>
                            <th>Tags Sujets</th>
                            <th>Score</th>
                            <th>Tags Score élevé</th>
                            <th>Tags Score moyen</th>
                            <th>Tags Score faible</th>
                            <th>Bonus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="item in initiatives"
                            :key="item.id"
                            :class="['text-xs', '[&>td]:px-1']"
                            :style="{ backgroundColor: BACKGROUND_COLORS[item.idsConstatsThemes[0] as IdTheme] }"
                        >
                            <td>{{ item.id }}</td>
                            <td>{{ item.localisation }}</td>
                            <td>{{ item.titre }}</td>
                            <td>{{ arrayVersString(item.idsConstatsThemes) }}</td>
                            <td>{{ arrayVersString(item.tagsSujets) }}</td>
                            <td class="text-right">{{ item.score }}</td>
                            <!--            eslint-disable vue/no-v-html -->
                            <td v-html="arrayTagProfilVersHtml(item.tagsProfilsScoreEleve)"></td>
                            <!--            eslint-disable vue/no-v-html -->
                            <td v-html="arrayTagProfilVersHtml(item.tagsProfilsScoreMoyen)"></td>
                            <!--            eslint-disable vue/no-v-html -->
                            <td v-html="arrayTagProfilVersHtml(item.tagsProfilsScoreFaible)"></td>
                            <td>{{ item.bonusScore ?? '' }}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <h2 class="font-serif text-3xl text-bold text-center p-4">Définition des tags</h2>
                    <div v-for="[cle, codes] in Object.entries(DEFINITIONS_JOKERS_PROFILS)" :key="cle" class="py-2">
                        <span class="font-bold">{{ cle }}</span> : {{ arrayVersString(codes) }}
                    </div>
                </div>
            </section>
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import '@lga/commun/build/composants/champ-recherche-territoire/ChampRechercheTerritoire.js';

import type { IdConstat, IdTheme } from '@lga/indicateurs';
import {
    convertirTagsEnCodes,
    DEFINITIONS_INITIATIVES,
    DEFINITIONS_JOKERS_PROFILS,
    type OptionTri,
    recupererListe3InitiativesParConstats,
    recupererListeInitiativesAvecScore,
    type TagProfil
} from '@lga/initiatives';
import { type RouteParams, useRoute } from 'vue-router';

import { computed, ref, useFetchDonneesApi } from '#imports';
import TemplatePage from '~/components/templates/TemplatePage.vue';
import { creerDiagnosticFlashModele as creerDiagnosticFlashModele } from '~/modeles/DiagnosticModele.js';

type IDictionary = {
    [key in IdTheme]: string;
};

const BACKGROUND_COLORS: IDictionary = {
    'risques-securite-alimentaire': 'rgba(128, 128, 128, 0.3)',
    'terres-agricoles': 'rgba(0, 255, 0, 0.3)',
    'autonomie-alimentaire': 'rgba(255, 165, 0, 0.3)',
    'transformation-distribution': 'rgba(0, 255, 0.3)',
    accessibilite: 'rgba(255, 0, 0, 0.3)',
    consommation: 'rgba(135,206,235, 0.3)',
    agriculteurs: 'rgba(255, 255, 0, 0.3)',
    ressources: 'rgba(128, 0, 128, 0.3)',
    biodiversite: 'rgba(0, 0, 0, 0.3)',
    climat: 'rgba(255, 255, 255, 0.3)'
};

const arrayVersString = (array?: unknown[]) => (array ? array.join(', ') : '');

const arrayTagProfilVersHtml = (array: TagProfil[]) =>
    array
        .map((i) => {
            return convertirTagsEnCodes([i]).includes(codeProfilCollectivite)
                ? `<strong class='text-accent-600'>${i}</strong>`
                : convertirTagsEnCodes([i]).includes(codeProfilAgriculture)
                  ? `<strong class='text-primaire-600'>${i}</strong>`
                  : i;
        })
        .join(', ');

const params = useRoute().params as RouteParams<'_debug-_initiatives-idTerritoire'>;
const idTerritoire: string = params.idTerritoire;

const donneesApi = await useFetchDonneesApi(idTerritoire);
const nomTerritoire = donneesApi.diagnosticApi.nomTerritoire;
const codeProfilAgriculture = donneesApi.diagnosticApi.profils.codeProfilAgriculture;
const codeProfilCollectivite = donneesApi.diagnosticApi.profils.codeProfilCollectivite;
const diagnosticFlash = creerDiagnosticFlashModele(donneesApi);

const initiatives = computed(() => {
    return optionAffichageInitiatives.value === 'initiativesConstats'
        ? recupererListe3InitiativesParConstats(
              {
                  codeProfilAgriculture: codeProfilAgriculture,
                  codeProfilCollectivite: codeProfilCollectivite
              },
              diagnosticFlash.constatsModeles.filter((i) => i.id !== 'absence-donnees').map((i) => i.id) as IdConstat[],
              DEFINITIONS_INITIATIVES
          )
        : recupererListeInitiativesAvecScore(
              DEFINITIONS_INITIATIVES,
              {
                  codeProfilAgriculture: codeProfilAgriculture,
                  codeProfilCollectivite: codeProfilCollectivite
              },
              optionAffichageInitiatives.value
          );
});

type OptionAffichageInitiatives = OptionTri | 'initiativesConstats';

interface OptionUiAffichageInitiatives {
    value: OptionAffichageInitiatives;
    label: string;
}
const optionsUiAffichageInitiatives: OptionUiAffichageInitiatives[] = [
    {
        value: 'ScoreDecroissant',
        label: 'score décroissant'
    },
    {
        value: 'Theme',
        label: 'thèmes'
    },
    {
        value: 'initiativesConstats',
        label: '3 initiatives par constat'
    }
];
const optionAffichageInitiatives = ref<OptionAffichageInitiatives>('ScoreDecroissant');
</script>
