<template>
    <div>
        <TemplatePage sansPiedDePage>
            <main class="h-[calc(100vh-var(--hauteur-entete-principale))] lg:grid grid-cols-[400px_auto]">
                <MenuChoixIndicateurCarte
                    v-model="idIndicateurActif"
                    :class="`absolute top-0 lg:relative z-50 h-full ${estVisible ? 'visible' : 'invisible lg:visible'}`"
                    :indicateurs="indicateurs"
                    @majIndicateur="majUrl"
                />
                <div class="col-start-2 h-full w-full relative">
                    <Carte
                        :boundingBox="territoire ? territoire.boundingBox : undefined"
                        :definitionCoucheTerritoiresColores="definitionCoucheTerritoiresColores"
                        :definitionCoucheCercles="definitionCoucheCercles"
                        :zoom="zoom"
                    />
                    <BlocCarte class="absolute max-w-[400px] w-[calc(100%-16px)] top-0 left-0 z-10">
                        <UButton
                            class="w-full text-center font-bold text-base lg:leading-snug justify-center"
                            variant="ghost"
                            trailing-icon="i-heroicons-information-circle"
                            size="lg"
                            :label="titreCarte"
                            @click="changerAffichageInformations"
                        />
                        <div class="flex gap-4 justify-center items-center">
                            <USelectMenu
                                v-model="echelleTerritoriale"
                                class="w-[170px] lg:hidden"
                                :options="echellesTerritoriales"
                                option-attribute="libelle"
                                @change="majUrl"
                            />
                            <UButton class="lg:hidden px-4" label="Changer de carte" color="accent" variant="solid" @click="changerAffichageMenu" />
                        </div>
                        <TexteP v-if="sontInformationsAffichees" class="text-sm px-4">
                            <div v-html="indicateur.description"></div>
                        </TexteP>
                    </BlocCarte>
                    <USelectMenu
                        v-model="echelleTerritoriale"
                        class="w-[170px] absolute hidden lg:block top-2 right-12"
                        :options="echellesTerritoriales"
                        option-attribute="libelle"
                        @change="majUrl"
                    />
                    <BlocCarte
                        v-if="indicateur.styleCarte.seuilsLegende"
                        class="absolute mx-auto lg:mx-2 max-w-[500px] bottom-0 right-0 left-0 lg:right-auto flex flex-col items-center"
                    >
                        <LegendeCarte :styleCarte="indicateur.styleCarte" />
                    </BlocCarte>
                    <BlocCarte class="invisible xl:visible absolute max-w-[500px] bottom-0 right-0 text-sm">
                        <span class="font-bold">Source : </span>
                        <span>Les Greniers d'Abondance, à partir des données </span>
                        <span v-html="calculerLibelleSourcesIndicateur(indicateur, true, true)"></span>
                    </BlocCarte>
                </div>
            </main>
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import { type IndicateurCarte, INDICATEURS, SA } from '@lga/indicateurs';
import type { BoundingBoxApi } from '@lga/specification-api';
import { StyleCarteCerclesProportionnels, StyleCarteCerclesProportionnelsColores } from '@lga/styles-carte';
import { EchelleTerritoriale, type TerritoireBase } from '@lga/territoires';
import { computed, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import { useFetchTerritoire, useGetApiBaseUrl, useRouteCartes, useRouteParamsCartes, useSetStateTef } from '@/composables';
import TexteP from '~/components/base/TexteP.vue';
import BlocCarte from '~/components/cartes/BlocCarte.vue';
import Carte, { type DefinitionCoucheCercles, type DefinitionCoucheTerritoiresColores } from '~/components/cartes/Carte.vue';
import { recupererIndicateursCercles, recupererIndicateursTerritoires } from '~/components/cartes/carte-utils.js';
import LegendeCarte from '~/components/cartes/LegendeCarte.vue';
import MenuChoixIndicateurCarte from '~/components/cartes/MenuChoixIndicateurCarte.vue';
import TemplatePage from '~/components/templates/TemplatePage.vue';
import { creerTerritoire } from '~/modeles/DiagnosticModele.js';
import { calculerLibelleSourcesIndicateur } from '~/modeles/liens-utils.js';

const router = useRouter();

const apiBaseUrl = useGetApiBaseUrl();

const params = useRouteParamsCartes();

const indicateurs = SA.indicateursCarte;

const idIndicateurActif = ref(params.idIndicateur ?? INDICATEURS.noduNormalise.id);
const indicateur = computed(() => indicateurs.find((i) => i.id === idIndicateurActif.value) ?? (INDICATEURS.noduNormalise as IndicateurCarte));

const echellesTerritoriales = EchelleTerritoriale.listerToutes.reverse();
const echelleTerritoriale = ref(EchelleTerritoriale.fromNomGeojsonEtUrl(params.echelleTerritoriale ?? '') ?? EchelleTerritoriale.Epcis);

const idTerritoire: string = useRoute().query.territoire as string;
let territoire: TerritoireBase | undefined;
if (idTerritoire) {
    const territoireApi = await useFetchTerritoire(idTerritoire);
    useSetStateTef(territoireApi);
    territoire = creerTerritoire(territoireApi);
    const echelleTerritoire = EchelleTerritoriale.fromId(territoire.categorie.codeCategorie);
    if (echelleTerritoire) echelleTerritoriale.value = echelleTerritoire;
}

const zoom = territoire?.categorie.codeCategorie === 'COMMUNE' ? 11 : undefined;

const urlPmtilesTerritoires = computed(
    () => `${apiBaseUrl}/crater/api/cartes/vectorielles/${echelleTerritoriale.value?.categorieTerritoire.codeCategorie.toLocaleLowerCase()}s.pmtiles`
);

const definitionCoucheTerritoiresColores = computed<DefinitionCoucheTerritoiresColores>(() => {
    const codeCategorie = echelleTerritoriale.value.categorieTerritoire.codeCategorie;
    const nomIndicateurRequeteApi = indicateur.value.nomIndicateurRequeteApi;
    if (!(indicateur.value.styleCarte instanceof StyleCarteCerclesProportionnels)) {
        return {
            urlPmtilesTerritoires: urlPmtilesTerritoires.value,
            recupererIndicateurs: (bbox: BoundingBoxApi) => recupererIndicateursTerritoires(bbox, codeCategorie, nomIndicateurRequeteApi),
            style: indicateur.value.styleCarte
        };
    }
    return {
        urlPmtilesTerritoires: urlPmtilesTerritoires.value,
        recupererIndicateurs: () => undefined,
        style: indicateur.value.styleCarte
    };
});

const definitionCoucheCercles = computed<DefinitionCoucheCercles | undefined>(() => {
    const codeCategorie = echelleTerritoriale.value.categorieTerritoire.codeCategorie;
    const urlIndicateur =
        (indicateur.value.styleCarte instanceof StyleCarteCerclesProportionnelsColores
            ? indicateur.value.nomIndicateurComplementaireRequeteApi
            : indicateur.value.nomIndicateurRequeteApi) ?? '';
    const urlIndicateurCouleurs = indicateur.value.nomIndicateurRequeteApi;
    if (indicateur.value.styleCarte instanceof StyleCarteCerclesProportionnels) {
        return {
            recupererDonnees: (bbox: BoundingBoxApi) => recupererIndicateursCercles(bbox, codeCategorie, urlIndicateur, urlIndicateurCouleurs),
            style: indicateur.value.styleCarte
        };
    }
    return undefined;
});

const titreCarte = computed(() => indicateur.value.libelle + (indicateur.value.unite ? ' [' + indicateur.value.unite + ']' : ''));

const estVisible = ref(false);
const changerAffichageMenu = () => {
    estVisible.value = !estVisible.value;
};

const majUrl = () => {
    // on ne fait pas un navigateTo (replace=true) car on veut juste changer le hash, et pas déclencher un routage
    // Voir https://router.vuejs.org/guide/migration/index.html#Usage-of-history-state
    const route = useRouteCartes(indicateur.value.id, echelleTerritoriale.value.nomGeojsonEtUrl);
    history.replaceState(history.state, '', router.resolve(route).fullPath);
    estVisible.value = false;
};

const sontInformationsAffichees = ref(false);
const changerAffichageInformations = () => {
    sontInformationsAffichees.value = !sontInformationsAffichees.value;
};
</script>
