<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test InfographiePotentielNourricier</h1>
        <main class="mx-0 px-0 w-auto bg-neutral-50">
            <div class="w-fit border-4 m-auto">
                <InfographiePotentielNourricier :chiffre="43"></InfographiePotentielNourricier>
            </div>
        </main>
    </div>
</template>

<script setup lang="ts">
import InfographiePotentielNourricier from '~/components/diagnostics/infographies/InfographiePotentielNourricier.vue';
</script>
