<template>
    <div class="m-2">
        <h1 class="text-2xl sm:text-3xl font-serif p-2">Outils de debug et d'analyse</h1>
        <main class="m-4">
            <p>Config : Voir la <a href="/_debug/_config">page</a></p>
            <p>Tests composants UI : Voir la <a href="/_debug/_tests">page</a></p>
            <p>Tests Initiatives : Voir la <a href="/_debug/_initiatives/france">page</a></p>
        </main>
    </div>
</template>

<style scoped>
a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
</style>
