<template>
    <TemplateArticle :titre="theme?.titre ?? ''" :sectionsMenu="sectionsMenu">
        <template #bandeauTitre>
            <slot name="bandeauTitre"></slot>
        </template>
        <template v-for="section in sectionsMenu" #[section.hash]>
            <slot :name="section.hash" />
        </template>
    </TemplateArticle>
</template>

<script setup lang="ts">
import type { IdTheme } from '@lga/indicateurs';

import { computed } from '#imports';
import TemplateArticle from '~/components/templates/TemplateArticle.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import { getTheme } from '~/modeles/Theme.js';

interface Props {
    idTheme: IdTheme;
    sectionsMenu: ItemLienHash[];
}

const props = defineProps<Props>();

const theme = computed(() => getTheme(props.idTheme));
</script>
