<template>
    <TemplateThematique :id-theme="modele.idTheme" :sectionsMenu="SECTIONS">
        <template #bandeauTitre>
            <TexteP>
                La France ne manque pas de terres : avec 28 millions d’hectares<TexteAvecPopoverSource
                    numero="*"
                    :source="
                        htmlstring`Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023. Utilisation du territoire.')}`
                    "
                ></TexteAvecPopoverSource
                >, la surface agricole représente 52&nbsp;% du territoire hexagonal. De quoi nourrir tout le monde en théorie, mais tous les
                territoires n’ont pas le même potentiel.
            </TexteP>
        </template>

        <template #[ID_SECTION_1]>
            <TexteP>
                Ce titre d'un conte de l'écrivain russe Léon Tolstoï nous renvoie à une question existentielle : de quelle
                <GloseAvecPopoverDefinition cleGlose="sau" /> avons-nous besoin pour nous nourrir ? Aujourd’hui en France,
                <TexteAvecPopoverSource
                    numero="1"
                    :source="
                        htmlstring`4 300 m² pour un adulte ; Le revers de notre assiette. Solagro (2019) | Empreintes sol, énergie et carbone de l'alimentation. Rapport de l’ADEME (2020).`
                    "
                >elle s’élève à environ 4&nbsp;000&nbsp;m² par personne en moyenne pour la population dans son ensemble</TexteAvecPopoverSource
                >, mais avec des variations importantes en fonction du régime alimentaire (cf figure ci-dessous), des
                <GloseAvecPopoverDefinition cleGlose="conditionsPedoClimatiques" />du territoire et des pratiques agricoles (cf
                <TexteRenvoiThematique :idTheme="IDS_THEMES.biodiversite" />).
            </TexteP>

            <Encadre
                type="figure"
                titre="Surface agricole nécessaire"
                sous-titre="pour nourrir une personne"
                :informationsMethodologie="{
                    titre: 'Surfaces agricoles nécessaires selon le régime alimentaire',
                    descriptif: htmlstring`Source: Le revers de notre assiette. Page 31. Solagro (2019)`
                }"
            >
                <Image
                    src="/images/thematiques/sau-par-habitant-v2-1008x443.png"
                    alt="Surface agricole nécessaire pour nourrir une personne"
                    :width="1008"
                    :height="443"
                ></Image>
            </Encadre>

            <TexteP>
                En regard, la
                <TexteAvecPopoverSource
                    numero="2"
                    :source="
                        htmlstring`données utilisées pour le calcul (périmètre France métropolitaine 2022) : SAU = 28,3 millions d’hectares (${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023')}) ; population = 65,7 millions d’habitants (INSEE).`
                    "
                >surface agricole moyenne disponible par habitant dans l’hexagone est de 4&nbsp;300&nbsp;m² </TexteAvecPopoverSource
                >. Il est donc théoriquement possible de nourrir tout le monde en France !
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et chez vous, quelle adéquation entre surfaces nécessaire et disponible ?
                <Encadre
                    type="focus-territoire"
                    :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.indicateurTauxAdequationBrutRegimeActuel.indicateur)"
                >
                    <IndicateurFocusTerritoire
                        :chiffre="modele.indicateurTauxAdequationBrutRegimeActuel.chiffre"
                        :unite="modele.indicateurTauxAdequationBrutRegimeActuel.unite"
                        complement="d'adéquation théorique entre besoins et productions"
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>
        </template>
        <template #[ID_SECTION_2]>
            <TexteP>
                Pour un territoire donné, avoir une vaste surface agricole ne suffit pas, encore faut-il que les productions soient assez diversifiées
                pour couvrir les besoins alimentaires de la population et que les rendements soient suffisants. En comparant besoins et productions
                pour plusieurs grands groupes de cultures, on peut se faire une idée du
                <GloseAvecPopoverDefinition cleGlose="potentielNourricier" /> de ce territoire.
            </TexteP>

            <TexteP>
                À l’échelle de la France, les
                <TexteAvecPopoverDefinition :definition="htmlstring`Rapport production / consommation`"
                >taux d’auto-approvisionnement</TexteAvecPopoverDefinition
                >
                en différents produits sont globalement assez bons.
                <TexteAvecPopoverSource
                    numero="3"
                    :source="
                        htmlstring`${creerLienExterneHtmlBrut('https://www.franceagrimer.fr/content/download/70677/document/ETU-2023-SOUVERAINETE_ALIMENTAIRE.pdf', 'Souveraineté alimentaire : un éclairage par les indicateurs de bilan. Rapport de FranceAgriMer (2023).')}`
                    "
                >Les principales dépendances aux importations concernent le soja, la viande de mouton et des produits plus exotiques (certains
                    fruits, le riz, l’huile de palme)</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource numero="4" :source="htmlstring`Le revers de notre assiette. Solagro (2019), page 45`"
                >Ces importations représentent tout de même l’équivalent de 10 millions d’hectares (35% de la SAU hexagonale) tandis que nous
                    exportons l’équivalent de 12,7 millions d’hectares de SAU (45%)</TexteAvecPopoverSource
                >
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Qu’en est-il du potentiel nourricier de votre territoire ?
                <Encadre
                    type="focus-territoire"
                    :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.indicateurTauxAdequationMoyenPondereRegimeActuel.indicateur)"
                >
                    <IndicateurFocusTerritoire
                        :chiffre="modele.indicateurTauxAdequationMoyenPondereRegimeActuel.chiffre"
                        :unite="modele.indicateurTauxAdequationMoyenPondereRegimeActuel.unite"
                        complement="d'adéquation théorique entre besoins et productions, en tenant compte de la diversité des cultures"
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>

            <TexteP>
                Si la production d’un territoire peut en théorie couvrir les besoins de la population, la réalité est toute autre, comme on peut le
                voir à la <TexteRenvoiThematique idTheme="autonomie-alimentaire"></TexteRenvoiThematique> !
            </TexteP>
        </template>
        <template #[ID_SECTION_3]>
            <TexteP>
                <TexteAvecPopoverSource
                    numero="5"
                    :source="
                        htmlstring`Fosse J. (2019) « Objectif zéro artificialisation nette » : quels leviers pour protéger les sols ? Rapport France Stratégie.`
                    "
                >Depuis 1981, environ deux millions d’hectares de terres agricoles ont été remplacées par des constructions humaines sur le
                    territoire hexagonal</TexteAvecPopoverSource
                >, c’est deux fois la superficie de la Gironde. Ces terres auraient pu nourrir cinq millions de personnes !
                <TexteAvecPopoverSource
                    numero="6"
                    :source="
                        htmlstring`Agreste (2015) L’artificialisation des terres de 2006 à 2014 : pour deux tiers sur des espaces agricoles. Agreste Primeur 326.`
                    "
                >Les lotissements de maisons individuelles sont le principal moteur de l’artificialisation</TexteAvecPopoverSource
                >. Il faut bien que les gens puissent se loger, vous direz-vous. Certes,
                <TexteAvecPopoverSource
                    numero="7"
                    :source="
                        htmlstring`Bouvart C. et al. (2018) Objectif « zéro artificialisation nette ». Éléments de diagnostic. Publication du Commissariat Général au Développement Durable.`
                    "
                >mais l’artificialisation progresse trois fois plus vite que la population française et se produit à 70&nbsp;% dans des zones sans
                    tension sur le marché du logement</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et sur votre territoire, les terres agricoles sont-elles menacées ?
                <Encadre
                    type="focus-territoire"
                    :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.indicateurArtificialisation5ans.indicateur)"
                >
                    <IndicateurFocusTerritoire
                        :chiffre="modele.indicateurArtificialisation5ans.chiffre"
                        :unite="modele.indicateurArtificialisation5ans.unite"
                        complement="artificialisés en 5 ans."
                        :complement2="modele.indicateurArtificialisation5ans.chiffreComplement"
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>

            <TexteP
            >Chaque hectare de terre agricole qui disparaît dégrade de manière irréversible la capacité nourricière d’un territoire. Face aux
                incertitudes à venir sur le maintien des rendements actuels, ce n’est peut-être pas la meilleure des stratégies. En plus de ça,
                l’étalement urbain éloigne les habitants des commerces et des services. La dépendance à la voiture individuelle en est renforcée, une
                situation à risque au vu des contraintes prévues sur l’approvisionnement pétrolier. Pour ne rien gâcher, l'artificialisation des
                terres émet d’importantes quantités de CO2, elle augmente le risque d’inondation, limite le rechargement des nappes phréatiques et
                elle participe à la disparition de la biodiversité et des espaces verts.</TexteP
            >

            <TexteP>
                Même dans un contexte de croissance économique et démographique, l’artificialisation des terres agricoles n’est pas une fatalité ! Les
                collectivités peuvent agir sur les bâtiments vacants et sous-occupés, réhabiliter les friches urbaines ou périurbaines, mais aussi
                rénover et densifier l’existant. Quant à la mise en place d’un cadre réglementaire protégeant les terres agricoles, les élus ont
                toutes les cartes en main (<GloseAvecPopoverDefinition cleGlose="plu" />, <GloseAvecPopoverDefinition cleGlose="scot" />,
                <GloseAvecPopoverDefinition cleGlose="zap" />, <GloseAvecPopoverDefinition cleGlose="pean" />, etc.)
            </TexteP>

            <Encadre
                type="ils-l-ont-fait"
                localisation="La communauté urbaine Grand Poitiers"
                url-en-savoir-plus="https://www.urbanisme-puca.gouv.fr/poitiers-grand-poitiers-communaute-urbaine-gpcu-a2766.html"
            >Ce territoire fait partie du programme territoires pilotes de sobriété foncière. Elle a mis en place plusieurs actions pour faire
                face à des besoins en logements croissants tout en maîtrisant l’artificialisation.</Encadre
            >
        </template>
        <template #[ID_SECTION_4]>
            <TexteP>
                Si les terres agricoles déclinent en superficie, leur profondeur n’est pas en reste ! Plus d’un quart des sols en France affichent
                ainsi une <GloseAvecPopoverDefinition cleGlose="erosion" />
                <TexteAvecPopoverSource
                    numero="8"
                    :source="
                        htmlstring`${creerLienExterneHtmlBrut('https://www.donnees.statistiques.developpement-durable.gouv.fr/lesessentiels/essentiels/sol-perte-hydrique.html', 'Ministère de la Transition Écologique et Solidaire (2019) Rapport sur l’état de l’environnement. L’érosion hydrique des sols.')} | Densité moyenne des sols : 1 200 kg/m3 ; vitesse de formation comprise entre 0,058 et 0,083 mm par an. Voir Montgomery DR. (2007) Soil erosion and agricultural sustainability. 42 PNAS 104:13268–13272.`
                    "
                >
                    supérieure à une tonne de terre par hectare et disparaissent ainsi plus rapidement qu’ils ne se forment par altération de la roche
                    mère</TexteAvecPopoverSource
                >. Laisser les sols « nus » (sans couverture végétale) lors de pluies importantes est la principale cause d’érosion. Elle est aggravée
                si les terrains sont en pente et s’il n’y a pas d’obstacles au ruissellement de l’eau.
            </TexteP>

            <Image
                src="/images/thematiques/erosion-5184x3456.jpg"
                alt="Parcelle agricole soumise à l’érosion suite à de fortes pluies (Seine-Maritime)"
                :width="5184"
                :height="3456"
                credit="Thibault Lorin CC BY-NC-SA"
            >Parcelle agricole soumise à l’érosion suite à de fortes pluies (Seine-Maritime)</Image
            >

            <TexteP>
                A défaut d’avoir la quantité, nous avons sûrement la qualité se dira-t-on. Malheureusement, sur ce point-là, le constat n’est souvent
                pas meilleur. Résidus de pesticides, microparticules de plastiques, hydrocarbures, métaux lourds :
                <TexteAvecPopoverSource
                    numero="9"
                    :source="
                        htmlstring`Commissariat Général au Développement Durable (2019) Rapport de synthèse. L’environnement en France. La Documentation Française (ed.). | Boots et al. (2019) Effects of Microplastics in Soil Ecosystems: Above and Below Ground. Environmental Science and Technology 53(19):11496–11506.`
                    "
                >de nombreuses pollutions diffuses touchent les sols agricoles et affectent leur productivité</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="10"
                    :source="
                        htmlstring`Roussel O. et al. (2001) Évaluation du déficit en matière organique des sols français et des besoins potentiels en amendements organiques. Étude et Gestion des Sols 8:65–81.`
                    "
                >On estime par ailleurs à 40&nbsp;% la part de terres arables déficitaires en matière organique</TexteAvecPopoverSource
                >. Une situation peu réjouissante
                <TexteAvecPopoverSource
                    numero="11"
                    :source="htmlstring`Gis Sol (2011) L’état des sols de France. Groupement d’intérêt scientifique sur les sols.`"
                >puisque cette matière organique favorise l’activité biologique des sols, la rétention et la libération progressive des
                    nutriments, l’infiltration et le stockage des eaux pluviales, et donc le maintien de la fertilité des sols au cours du
                    temps</TexteAvecPopoverSource
                >.
            </TexteP>

            <Image
                src="/images/thematiques/stocks-carbone-2934x2515.jpg"
                alt="Parcelle agricole soumise à l’érosion suite à de fortes pluies (Seine-Maritime)"
                :width="2934"
                :height="2515"
                :source="
                    htmlstring`${creerLienExterneHtmlBrut('https://www.gissol.fr/donnees/cartes/la-carte-nationale-des-stocks-de-carbone-des-sols-integree-dans-la-carte-mondiale-de-la-fao-4335', 'Gis Sol, IGCS-RMQS, Inra 2017')}`
                "
            >
                <TexteAvecPopoverSource
                    numero="*"
                    :source="
                        htmlstring`Roussel O. et al. (2001) Évaluation du déficit en matière organique des sols français et des besoins potentiels en amendements organiques. Étude et Gestion des Sols 8:65–81.`
                    "
                >Stocks de carbone organique dans les 30 premiers centimètres des sols de France métropolitaine en tonnes par hectare. Un sol peut
                    être considéré comme déficitaire pour des valeurs inférieures à 50 tonnes par hectare (environ 2&nbsp;% de matière
                    organique)</TexteAvecPopoverSource
                >. Les terres les plus pauvres sont les zones de grandes cultures et les régions viticoles.
            </Image>

            <Encadre
                type="ils-l-ont-fait"
                localisation="France"
                url-en-savoir-plus="https://osez-agroecologie.org/pratiques-agroecologiques?objectif_agro=43"
            >Couverts végétaux, allongement des rotations, techniques culturales simplifiées… de nombreux agriculteurs mettent en place des
                pratiques permettant d’améliorer la qualité et la fertilité des sols, retrouvez leurs témoignages sur la plateforme OSAE de
                Solagro.</Encadre
            >

            <ARetenir>
                <ListLiAvecIcone>
                    À l’échelle de la France, nous avons suffisamment de terres agricoles pour nourrir la population, mais il se peut que ce ne soit
                    pas le cas localement dans votre territoire, notamment si les productions ne sont pas assez diversifiées.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >La surface nécessaire pour se nourrir dépend du régime alimentaire, des conditions pédoclimatiques et des pratiques
                    agricoles.</ListLiAvecIcone
                >
                <ListLiAvecIcone>
                    Les terres agricoles et notre souveraineté alimentaire sont menacées par l’artificialisation, mais des solutions existent pour les
                    protéger.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >La qualité des sols est souvent problématique, mais les pratiques agroécologiques permettent de l’améliorer.</ListLiAvecIcone
                >
            </ARetenir>
        </template>
    </TemplateThematique>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { IDS_THEMES } from '@lga/indicateurs';

import { useGetStateIdTerritoire, useRouteDiagnosticsIndicateur } from '@/composables';
import ListLiAvecIcone from '~/components/base/ListLiAvecIcone.vue';
import TexteP from '~/components/base/TexteP.vue';
import TexteRenvoiThematique from '~/components/base/TexteRenvoiThematique.vue';
import { creerLienExterneHtmlBrut } from '~/modeles/liens-utils.js';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import type { ThematiqueTerresAgricolesModele } from '~/modeles/thematiques/thematique-terres-agricoles.js';

import ARetenir from './commun/ARetenir.vue';
import Encadre from './commun/Encadre.vue';
import GloseAvecPopoverDefinition from './commun/GloseAvecPopoverDefinition.vue';
import Image from './commun/Image.vue';
import IndicateurFocusTerritoire from './commun/IndicateurFocusTerritoire.vue';
import TexteAvecPopoverDefinition from './commun/TexteAvecPopoverDefinition.vue';
import TexteAvecPopoverSource from './commun/TexteAvecPopoverSource.vue';
import TemplateThematique from './TemplateThematique.vue';

defineProps<{
    modele: ThematiqueTerresAgricolesModele;
}>();

const ID_SECTION_1 = 'ce-qu-il-faut-de-terre-a-l-homme';
const ID_SECTION_2 = 'la-surface-ne-fait-pas-tout';
const ID_SECTION_3 = 'le-beton-se-la-coule-douce';
const ID_SECTION_4 = 'des-sols-en-mauvais-etat';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_1,
        libelle: '« Ce qu’il faut de terre à l’homme »'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_2,
        libelle: 'La surface ne fait pas tout'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_3,
        libelle: 'Le béton se la coule douce'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_4,
        libelle: 'Des sols en mauvais état'
    }
];
</script>
