<template>
    <TemplateThematique :id-theme="modele.idTheme" :sectionsMenu="SECTIONS">
        <template #bandeauTitre>
            <TexteP>
                La plupart des départements français affichent un
                <GloseAvecPopoverDefinition cleGlose="potentielNourricier" />
                honorable, au moins pour certains produits. Pourtant, les chances pour que ce qui se trouve dans votre assiette vienne des fermes et
                usines alentour sont très faibles ! Voyons ça de plus près.
            </TexteP>
        </template>

        <template #[ID_SECTION_1]>
            <TexteP>
                Comment produit-on aujourd’hui un banal yaourt à la fraise ? De prime abord, on pourrait penser que ce dernier ne nécessite grosso
                modo qu’une vache, un pré, des fraises et des ferments lactiques. C’est en réalité un poil plus complexe : mises bout à bout, les
                étapes de sa fabrication font intervenir plus d’une dizaine d’espèces animales, végétales et microbiennes, autant d’usines dans des
                secteurs industriels variés (exploitation minière et pétrolière, chimie minérale et organique, machinisme agricole, plasturgie,
                agroalimentaire) et
                <TexteAvecPopoverSource
                    numero="1"
                    :source="
                        htmlstring`Böge S. (1995) The well-travelled yogurt pot: lessons for new freight transport policies and regional production. World Transport Policy & Practice 1:7–11`
                    "
                >plus de 9&nbsp;000 km de transport routier</TexteAvecPopoverSource
                >. Le yaourt doit ensuite être acheminé vers une plateforme logistique où il sera expédié vers un commerce, alors seulement vous
                pourrez l’acheter&nbsp;!
            </TexteP>

            <Image src="/images/thematiques/yaourt-1344x672.png" alt="Yaourt" :width="1344" :height="672">
                Composition détaillée d’un yaourt à la fraise
            </Image>
        </template>

        <template #[ID_SECTION_2]>
            <TexteP>
                Notre yaourt à la fraise n’est qu’un exemple parmi d’autres de la complexité du système alimentaire moderne. Aujourd’hui en France,
                <TexteAvecPopoverSource numero="2" :source="htmlstring`L’autonomie alimentaire des villes. Utopies (2017)`"
                >la grande majorité de la production agricole d’un département est exportée et la grande majorité de l’alimentation de ses
                    habitants est importée</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource numero="3" :source="INDICATEURS.distanceMoyenneParcourueAliments.description">
                    On estime à environ {{ formaterNombreEnEntierString(INDICATEURS.distanceMoyenneParcourueAliments.valeur) }} km le transport
                    nécessaire pour notre nourriture du quotidien</TexteAvecPopoverSource
                >, soit la distance entre Brest et Nice&nbsp;!
            </TexteP>

            <TexteP>
                Cette organisation repose sur un vaste réseau logistique, essentiellement routier, et fonctionnant à flux tendu. Si certains
                réarrangements sont possibles en cas de perturbations, un tel système reste particulièrement sensible aux contraintes sur le prix ou
                l’approvisionnement en carburants ou à des dysfonctionnement des infrastructures électriques ou numériques.
            </TexteP>
        </template>

        <template #[ID_SECTION_3]>
            <TexteP>
                La spécialisation agricole des territoires et la concentration des outils de transformation et des plateformes logistiques (cf
                <TexteRenvoiThematique :idTheme="IDS_THEMES.transformationDistribution" />) sont deux éléments clés pour expliquer l’allongement
                spatial des chaînes de production et de distribution de nourriture.
            </TexteP>

            <TexteP>
                Tirant profit de certaines <GloseAvecPopoverDefinition cleGlose="conditionsPedoClimatiques" />, de la présence d’infrastructures
                (ports, usines) ou d’opportunités techniques et économiques, la plupart des régions françaises se sont spécialisées dans un petit
                nombre de productions. Une fois amorcé, ce phénomène a tendance à se renforcer de lui-même, les agriculteurs d’un territoire ayant
                davantage intérêt à se conformer à la production dominante. Autrefois majoritairement en polyculture-élevage,
                <TexteAvecPopoverSource
                    numero="4"
                    :source="
                        htmlstring`Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023 Exploitations en France')}.`
                    "
                >les exploitations actuelles sont désormais neuf fois sur dix spécialisées dans un seul type de production</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                À l’échelle de la France, la spécialisation des territoires a eu comme principale conséquence la séparation entre zones de cultures et
                d’élevage. Aux plaines des bassins parisien et aquitain les grandes cultures, au Grand Ouest la production intensive de lait, de porcs
                et de volailles, aux zones montagneuses l’élevage plus extensif de ruminants.
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Qu’en est-il sur votre territoire ?
                <Encadre type="focus-territoire">
                    <div class="">La production agricole majoritaire de votre territoire est :</div>
                    <div class="pt-2 text-2xl sm:text-3xl font-bold">{{ modele.otex.phrase }}</div>
                    <div class="flex flex-row flex-wrap gap-8 pt-8">
                        <UButton
                            color="accent"
                            :padded="false"
                            variant="link"
                            trailing-icon="i-heroicons-arrow-right-20-solid"
                            size="md"
                            :to="useRouteDiagnosticsIndicateur(modele.otex.indicateur)"
                        >Voir plus de détails</UButton
                        >
                        <UButton
                            color="accent"
                            :padded="false"
                            variant="link"
                            trailing-icon="i-heroicons-arrow-right-20-solid"
                            size="md"
                            to="https://stats.agriculture.gouv.fr/cartostat/#c=indicator&i=otex_2020_1.otefda20&t=A02&view=map11"
                            target="_blank"
                        >Voir la carte de l'Agreste</UButton
                        >
                    </div>
                </Encadre>
            </TexteP>

            <TexteP>
                En plus d’un besoin en transports accru et des risques face à une contraction de l’approvisionnement en pétrole, la spécialisation
                agricole a des effets pervers. Les fortes densités d’animaux dans les zones d’élevage génèrent d’importantes quantités de déjections à
                l’origine d’une grave pollution des milieux aquatiques. La concentration des cultures irriguées pèse localement fortement sur la
                ressource en eau. Un aléa climatique ou biologique (maladie, ravageur) a plus de chance de causer de lourds dégâts dans les zones
                spécialisées par rapport à d’autres plus diversifiées.
            </TexteP>
        </template>

        <template #[ID_SECTION_4]>
            <TexteP>
                Notre dépendance critique au pétrole pour le bon fonctionnement des flux agricoles et alimentaires risque de nous jouer quelques
                mauvais tours. Anticipons une réduction des capacités de transport avant que les contraintes physiques et géopolitiques ne s’en
                chargent pour nous ! L’objectif peut être résumé ainsi : ne pas faire venir de loin la nourriture qui pourrait facilement être
                produite à proximité, en cherchant en priorité à assurer un auto-approvisionnement minimum pour les produits de base. Cela signifie
                concrètement développer des filières de proximité pour transformer et écouler localement les produits agricoles et diversifier les
                productions si nécessaire.
            </TexteP>

            <TexteP>
                Facile à dire… Le processus de spécialisation procède par effets de cliquet et il est très difficile de revenir en arrière une fois
                certains seuils dépassés. Allez convaincre des cultivateurs beaucerons de relancer l’élevage sans vétérinaires, inséminateurs,
                techniciens spécialisés, vendeurs de matériel, laiteries, abattoirs. Allez dire à un agriculteur alsacien de remplacer une partie de
                son maïs par des haricots rouges, du pois chiche, ou des légumes de plein champ, sans variétés ou matériel adaptés, sans techniciens
                ou voisins pour le conseiller, sans garantie sur les rendements et sur les débouchés, le tout pour plus de travail et une rentabilité
                plus faible.
            </TexteP>

            <TexteP>
                Les initiatives de diversification avec transformation à la ferme et vente directe peuvent être les germes d’une future
                transformation, mais le changement d’échelle nécessite davantage de moyens et de planification. Les collectivités territoriales
                peuvent jouer un rôle majeur grâce à la commande publique et à leur compétence en matière de développement économique. Pour aller plus
                loin, il faut garantir aux producteurs des débouchés rémunérateurs. La mise en place d’une sécurité sociale de l’alimentation répond à
                cet enjeu au niveau national (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.accessibilite" />). Au niveau européen, nous pouvons
                mobiliser les outils de la PAC (aides couplées, prix garantis), sans oublier d’harmoniser les règles de commerce international pour
                éviter des mises en concurrence déloyales.
            </TexteP>

            <Encadre
                v-if="modele.cultureLaPlusDeficitaire && useGetStateIdTerritoire().value"
                type="simulez-vos-actions"
                :url-en-savoir-plus="useRouteSimulateur(useGetStateIdTerritoire().value, 'Relocalisation')"
            >
                <p>
                    La production en <strong>{{ modele.cultureLaPlusDeficitaire.nomGroupeCulture.toLocaleLowerCase() }}</strong> du territoire
                    représente
                    <strong
                    >{{
                        modele.cultureLaPlusDeficitaire.tauxAdequationBrutPourcent < 1
                            ? 'moins de 1'
                            : formaterNombreEnEntierString(modele.cultureLaPlusDeficitaire.tauxAdequationBrutPourcent)
                    }}
                        %</strong
                    >
                    des
                    {{ modele.cultureLaPlusDeficitaire.nomGroupeCulture.toLocaleLowerCase() }}
                    consommés par les habitants. Et si on développait des filières locales, il faudrait combien de terres ?
                </p>
            </Encadre>

            <Encadre
                type="ils-l-ont-fait"
                localisation="Vendée"
                url-en-savoir-plus="https://www.terre-net.fr/reportages/article/207386/nous-reservons-l-irrigation-a-l-alimentation-humaine- "
            >Des agriculteurs se sont regroupés pour diversifier leurs productions avec la mise en culture de légumes secs destinés à la vente
                directe sur le territoire.</Encadre
            >

            <Encadre type="ils-l-ont-fait" localisation="Pays Basque" url-en-savoir-plus="https://herriko.fr/"
            >Le travail de l’association Uztartu rassemblant des entreprises agroalimentaires et des structures agricoles a permis la
                structuration de filières locales pour le pain et la viande bovine.</Encadre
            >

            <ARetenir>
                <ListLiAvecIcone>
                    Aujourd’hui, un produit en apparence aussi banal qu’un yaourt à la fraise a mobilisé en réalité une organisation extrêmement
                    complexe et un très grand nombre de ressources.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >Notre système alimentaire repose sur un vaste réseau logistique principalement routier, et fonctionnant à flux tendu. Cela le
                    rend vulnérable à des contraintes sur le prix des carburants ou l’approvisionnement en pétrole, et à des dysfonctionnements des
                    systèmes électriques ou informatiques.
                </ListLiAvecIcone>
                <ListLiAvecIcone>
                    La spécialisation historique des régions agricoles et la concentration des unités de transformation expliquent en grande partie
                    notre dépendance actuelle au transport.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >Pour réduire notre vulnérabilité, nous pouvons développer des filières alimentaires de proximité (production agricole,
                    transformation agroalimentaire, logistique). Une planification impliquant différentes échelles, du local à l’Union Européenne, est
                    nécessaire.
                </ListLiAvecIcone>
            </ARetenir>
        </template>
    </TemplateThematique>
</template>

<script setup lang="ts">
import { formaterNombreEnEntierString, htmlstring } from '@lga/base';
import { IDS_THEMES, INDICATEURS } from '@lga/indicateurs';

import { useGetStateIdTerritoire, useRouteDiagnosticsIndicateur, useRouteSimulateur } from '@/composables';
import ListLiAvecIcone from '~/components/base/ListLiAvecIcone.vue';
import TexteP from '~/components/base/TexteP.vue';
import TexteRenvoiThematique from '~/components/base/TexteRenvoiThematique.vue';
import { creerLienExterneHtmlBrut } from '~/modeles/liens-utils.js';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import type { ThematiqueAutonomieAlimentaireModele } from '~/modeles/thematiques/thematique-autonomie-alimentaire.js';

import ARetenir from './commun/ARetenir.vue';
import Encadre from './commun/Encadre.vue';
import GloseAvecPopoverDefinition from './commun/GloseAvecPopoverDefinition.vue';
import Image from './commun/Image.vue';
import TexteAvecPopoverSource from './commun/TexteAvecPopoverSource.vue';
import TemplateThematique from './TemplateThematique.vue';

defineProps<{
    modele: ThematiqueAutonomieAlimentaireModele;
}>();

const ID_SECTION_1 = 'l-exemple-du-yaourt-a-la-fraise';
const ID_SECTION_2 = 'notre-nourriture-a-bien-voyage';
const ID_SECTION_3 = 'c-est-quoi-la-specialite-du-coin';
const ID_SECTION_4 = 'relocaliser-une-partie-de-notre-alimentation';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_1,
        libelle: 'L’exemple du yaourt à la fraise'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_2,
        libelle: 'Notre nourriture a bien voyagé'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_3,
        libelle: 'C’est quoi la spécialité du coin ?'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_4,
        libelle: 'Relocaliser une partie de notre alimentation'
    }
];
</script>
