<template>
    <TemplateThematique :id-theme="modele.idTheme" :sectionsMenu="SECTIONS">
        <template #bandeauTitre>
            <TexteP>
                Qu’y a-t-il de commun entre le marais poitevin, la plaine steppique de la Crau, le bocage normand ou les pelouses calcaires des Vosges
                ? En plus d’être des écosystèmes remarquables, ces milieux ont tous été façonnés par l’homme en vue d’en tirer de la nourriture.
                <TexteAvecPopoverSource
                    numero="*"
                    :source="
                        htmlstring`Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023. Utilisation du territoire.')} SAU = 52 % du territoire hexagonal.`
                    "
                >Plus de la moitié du territoire de France métropolitaine est concerné par l’agriculture</TexteAvecPopoverSource
                >, ce qui fait de cette activité la première force de transformation des paysages et de la biodiversité. Pour le meilleur comme pour
                le pire.
            </TexteP>
        </template>

        <template #[ID_SECTION_1]>
            <TexteP>
                Au cours de la modernisation agricole de la seconde moitié du XXe siècle, les paysages se sont radicalement transformés. Les terres
                les moins productives ont été abandonnées et ont laissé progressivement place à la forêt. À l’inverse, on a fait en sorte de tirer le
                meilleur parti des terres restantes et de faciliter leur exploitation : haies arrachées, talus rasés, zones humides drainées,
                parcelles regroupées. Ainsi,
                <TexteAvecPopoverSource numero="1" :source="htmlstring`Rapport « La haie, levier de la planification écologique. » du CGAAER (2023).`"
                >environ 70&nbsp;% des haies ont été arrachées dans notre pays depuis 1945, et la tendance s’est encore accélérée ces dernières
                    années</TexteAvecPopoverSource
                >
                ! La polyculture-élevage a régressé et les <GloseAvecPopoverDefinition cleGlose="assolement" pluriel />
                <TexteAvecPopoverSource
                    numero="2"
                    :source="
                        htmlstring`Schaller N. (2012) La diversification des assolements en France : intérêts, freins et enjeux. Centre d’études et de prospective du Ministère de l’Agriculture, de l’Agroalimentaire et de la Forêt, analyse n°51.`
                    "
                >se sont simplifiés</TexteAvecPopoverSource
                >. Certains paysages des grandes plaines céréalières affichent aujourd’hui une monotonie saisissante. D’autres régions, notamment en
                zone de montagne ou de bocage, ont été moins durement touchées, même si les pratiques agricoles s’y sont intensifiées.
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et chez vous ?
                <Encadre type="focus-territoire" :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.indicateurHVN.indicateur)">
                    <IndicateurFocusTerritoire
                        :chiffre="modele.indicateurHVN.chiffre"
                        :unite="modele.indicateurHVN.unite"
                        complement="C'est le score Haute Valeur Naturelle de votre territoire."
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>
        </template>

        <template #[ID_SECTION_2]>
            <TexteP>
                Les changements au niveau des paysages se sont accompagnés d’un recours accru aux intrants permettant de doper la production, en
                particulier les pesticides et les engrais minéraux.
                <TexteAvecPopoverSource
                    numero="3"
                    :source="htmlstring`Barbu C. et al. (2024) « Plan Ecophyto : tout comprendre aux annonces du gouvernement » The Conversation.`"
                >Les plans nationaux (Ecophyto) visant à réduire l’utilisation des pesticides ont été efficaces pour les plus nocifs d’entre eux,
                    mais la consommation globale est restée relativement stable depuis le premier lancement en 2009</TexteAvecPopoverSource
                >. Côté engrais, si les quantités consommées ont diminué après un pic à la fin des années 1980,
                <TexteAvecPopoverSource
                    numero="4"
                    :source="
                        htmlstring`Pertes estimées à 30 % pour l'azote et 20 % pour le phosphore sur la période 2016-2020 ; source Agreste (2023) ${creerLienExterneHtmlBrut('https://agreste.agriculture.gouv.fr/agreste-web/disaron/GraFra2023Integral/detail/', 'Graph’Agri 2023. Bilans azote et phosphore.')}`
                    "
                >une part importante de l’azote et du phosphore apportés aux cultures est perdue</TexteAvecPopoverSource
                >
                et participe à la pollution de l’air et des eaux.
            </TexteP>

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et chez vous ?
                <Encadre type="focus-territoire" :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.indicateurNodu.indicateur)">
                    <IndicateurFocusTerritoire
                        :chiffre="modele.indicateurNodu.chiffre"
                        :unite="modele.indicateurNodu.unite"
                        :complement="modele.indicateurNodu.chiffreComplement"
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>

            <TexteP>
                L’utilisation de ces produits permet d’obtenir des rendements importants et relativement stables, mais le prix à payer est élevé.
                <TexteAvecPopoverSource
                    numero="5"
                    :source="htmlstring`Expertise collective de l’INSERM (2021) Pesticides et effets sur la santé. Nouvelles données.`"
                >Une expertise collective de l'INSERM a établi que les travailleurs agricoles exposés aux pesticides sont plus susceptibles de
                    contracter des pathologies graves comme certains cancers ou la maladie de Parkinson</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="6"
                    :source="
                        htmlstring`Voir l’article publié en 2012 sur le site de la Banque des Territoires ${creerLienExterneHtmlBrut('https://www.banquedesterritoires.fr/eau-potable-nitrates-et-pesticides-principales-causes-dabandon-des-points-de-captage', `« Environnement - Eau potable : nitrates et pesticides, principales causes d'abandon des points de captage »`)} | voir aussi des cas de fermetures récentes liés à la découverte de nouvelles molécules préoccupantes dans cet article de 2023 de la Cellule investigation de Radio France ${creerLienExterneHtmlBrut('https://www.francetvinfo.fr/monde/environnement/pesticides/enquete-des-residus-de-pesticides-provoquent-la-fermeture-de-captages-d-eau_5920283.html', '« Résidus de pesticides : plusieurs forages d’eau potable fermés en France »')}.`
                    "
                >Les résidus de pesticides et les nutriments issus du surplus d’engrais contaminent les eaux et engendrent d'importants coûts de
                    dépollution, voire la fermeture de certains captages d’eau potable</TexteAvecPopoverSource
                >. Quant aux impacts sur la vie sauvage, ils atteignent une ampleur historique.
            </TexteP>
        </template>

        <template #[ID_SECTION_3]>
            <TexteP>
                Si vous êtes né avant 1990, vous vous souvenez peut-être des nuées d’insectes s’agitant autour des lumières les soirs d’été ou bien
                des pare-brises couverts de moucherons après un trajet dans la campagne. En une vingtaine d’années, les populations d’insectes se sont
                littéralement effondrées sous nos yeux. Les études dans les pays occidentaux se succèdent et
                <TexteAvecPopoverSource
                    numero="7"
                    :source="
                        htmlstring`Voir l’avis de l’Académie des Sciences publié en 2021 ${creerLienExterneHtmlBrut('https://www.academie-sciences.fr/fr/Rapports-ouvrages-avis-et-recommandations-de-l-Academie/declin-insectes-urgence.html', `« Le déclin des insectes : il est urgent d'agir. »`)}.`
                    "
                >toutes font état de reculs massifs liés à l’homogénéisation des paysages, des cultures et à l’intensification des pratiques
                    agricoles</TexteAvecPopoverSource
                >.
                <TexteAvecPopoverSource
                    numero="8"
                    :source="
                        htmlstring`Office Français de la Biodiversité (2023) La biodiversité française en déclin, 10 ans de chiffres-clés par l'Observatoire national de la biodiversité.`
                    "
                >Même constat du côté des oiseaux, des chauves-souris, ou de la biodiversité aquatique</TexteAvecPopoverSource
                >.
            </TexteP>

            <TexteP>
                Vous n’êtes peut-être pas un grand amateur de petites bêtes, pourtant, les insectes, oiseaux et autres espèces sauvages jouent un rôle
                essentiel pour l’agriculture. Elles assurent la pollinisation des plantes, empêchent la prolifération des espèces nuisibles,
                entretiennent la fertilité des sols.
                <TexteAvecPopoverSource numero="9" :source="htmlstring`FAO (2019) State of World Biodiversity for Food and Agriculture.`"
                >Plus la biodiversité se dégrade, plus nous devons intervenir et recourir à des traitements pour la remplacer, et plus nos
                    systèmes agricoles sont gourmands en intrants et vulnérables en cas d’arrivée d’un nouveau prédateur ou d’une nouvelle
                    maladie</TexteAvecPopoverSource
                >.
            </TexteP>
        </template>

        <template #[ID_SECTION_4]>
            <TexteP>
                Que l’on considère les pratiques agricoles héritées de l’après-guerre du point de vue de leurs impacts sur notre santé et
                l’environnement, du point de vue de notre perte d’autonomie et de souveraineté (cf
                <TexteRenvoiThematique :idTheme="IDS_THEMES.ressources" />) ou du point de vue de notre vulnérabilité face au dérèglement climatique
                (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.climat" />), nous avons de très bonnes raisons de les faire évoluer.
            </TexteP>

            <TexteP>
                En réponse à cela, les agriculteurs sont de plus en plus nombreux à s’orienter vers l’agroécologie. Derrière ce concept, à la fois
                référentiel technique et méthodologique, champ de recherche multidisciplinaire et mouvement social, se développe une démarche visant à
                concevoir et à conduire des agrosystèmes soutenables sur la base des connaissances scientifiques modernes. Un des objectifs est
                notamment de remplacer au mieux certaines interventions humaines (fertilisation, gestion des bioagresseurs, travail du sol) par des
                processus naturellement à l'œuvre dans les écosystèmes.
            </TexteP>

            <TexteP>
                L’agroécologie peut s’envisager sous la forme d’un ensemble de grands principes : diversification des productions et des paysages,
                recherche d’autonomie, sobriété dans l’utilisation des ressources, préservation des milieux et de la santé globale. Elle se traduit
                concrètement par des pratiques comme la plantation de haies, la réduction ou l’abandon des engrais et pesticides de synthèse, la
                diversification des cultures, les mélanges variétaux, la mise en place de couverts végétaux, l’introduction de légumineuses dans
                l’assolement, la réduction du travail du sol, l’élevage à l’herbe des ruminants, etc. L’agriculture biologique est aujourd’hui une
                référence en termes de système de production agroécologique. Les agriculteurs engagés dans cette voie témoignent de sa faisabilité
                technique tout en expérimentant de nouvelles pistes d’amélioration. En parallèle, et souvent en combinaison avec l’agriculture
                biologique, les démarches autour de l’agriculture de conservation des sols, des systèmes d’élevage herbagers et de
                l'<GloseAvecPopoverDefinition cleGlose="agroforesterie" /> se développent.
            </TexteP>

            <Encadre
                v-if="useGetStateIdTerritoire().value"
                type="simulez-vos-actions"
                :url-en-savoir-plus="useRouteSimulateur(useGetStateIdTerritoire().value, 'ImpactsEcologiques')"
            >
                <p>Et si on développait l'agriculture biologique, quels seraient les impacts écologiques&nbsp;?</p>
            </Encadre>

            <Encadre type="ils-l-ont-fait" localisation="France" url-en-savoir-plus="https://osez-agroecologie.org/index.php"
            >Découvrez des exemples de pratiques et des témoignages d’agriculteurs engagés dans une démarche d’agroécologie sur la plateforme OSAE
                de Solagro.</Encadre
            >
        </template>

        <template #[ID_SECTION_5]>
            <TexteP>
                Les agriculteurs qui développent des systèmes agroécologiques nous montrent qu’il n’y a pas d’obstacles techniques infranchissables et
                que
                <TexteAvecPopoverSource
                    numero="10"
                    :source="
                        htmlstring`Voir par exemple le cas des systèmes bovins laitiers analysés par le CIVAM « Observatoire technico-économique des systèmes bovins laitiers – Édition 2023 ».`
                    "
                >ces modèles sont viables en plus d’être autonomes et économes</TexteAvecPopoverSource
                >. Pourtant, le passage à l’échelle ne va pas de soi. Quand bien même des agriculteurs souhaiteraient faire évoluer leurs pratiques,
                <TexteAvecPopoverSource
                    numero="11"
                    :source="
                        htmlstring`Pour un panorama des verrous qui s’opposent à ce changement voir le rapport « Qui veille au grain ? Sécurité alimentaire : une affaire d’État. » publié par Les Greniers d’Abondance aux Éditions Yves Michel (2022).`
                    "
                >leurs marges de manœuvre réelles dans le contexte économique et politique actuel sont bien souvent
                    limitées</TexteAvecPopoverSource
                >. Parmi les nombreux obstacles, nous pouvons citer :
                <ul class="ps-8 list-disc">
                    <li>
                        la dépendance à des engagements, des décisions et des investissements passés qui conditionnent la stratégie de l’entreprise
                        agricole pour plusieurs années ;
                    </li>
                    <li>
                        le manque à gagner lié à certaines pratiques comme la diversification des cultures ou la réduction des intrants, faute de
                        valorisation suffisante des productions (prix qui ne compensent pas la baisse des rendements, débouchés incertains ou peu
                        rémunérateurs pour certains produits) ;
                    </li>
                    <li>
                        des modèles agroécologiques et des références techniques trop peu présents dans l’environnement professionnel et
                        informationnel ;
                    </li>
                    <li>
                        un
                        <TexteAvecPopoverDefinition
                            :definition="
                                htmlstring`Ensemble des mécanismes formels et informels qui enjoignent un individu à se conformer aux normes de son groupe social.`
                            "
                        >contrôle social</TexteAvecPopoverDefinition
                        >
                        <TexteAvecPopoverSource
                            numero="12"
                            :source="
                                htmlstring`Voir par exemple le livre-enquête « Silence dans les champs » de Nicolas Legendre. Éditions Arthaud (2023).`
                            "
                        >plus ou moins strict</TexteAvecPopoverSource
                        >.
                    </li>
                </ul>
            </TexteP>

            <TexteP>
                Dans ce contexte défavorable à l’agroécologie, les injonctions à s’y conformer peuvent avoir des effets totalement contre productifs
                en venant nourrir un sentiment d’impuissance, voire de ressentiment. Il est toutefois possible de proposer un nouveau cadre où
                l’adoption des pratiques agroécologiques deviendrait une véritable opportunité économique. Au niveau national, la mise en place d’une
                sécurité sociale de l’alimentation répond à cet enjeu en ouvrant des débouchés garantis et rémunérateurs aux producteurs qui
                s’engagent dans une transformation de leur système (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.accessibilite" />).
                <TexteAvecPopoverSource
                    numero="13"
                    :source="
                        htmlstring`Voir le rapport « Transition de l’élevage : gérer les investissements passés et repenser ceux à venir » de l’Institute for Climate Economics (2023).`
                    "
                >La prise en charge financière par la puissance publique des investissements devenus obsolètes (ou actifs échoués) fait également
                    partie des leviers à mobiliser</TexteAvecPopoverSource
                >. Au niveau européen, l’harmonisation du commerce international, avec entre autres la mise en place de
                <GloseAvecPopoverDefinition cleGlose="mesuresMiroirs" />, est indispensable pour éviter des distorsions de concurrence liées aux
                produits importés.
            </TexteP>

            <Encadre
                type="ils-l-ont-fait"
                localisation="Lons-le-Saunier, Jura"
                url-en-savoir-plus="https://territoiresbio.fr/decouvrez-leurs-experiences/lons-le-saunier/"
            >Confrontée à des problèmes de qualité de son eau potable, la ville de Lons-le-Saunier a lancé dès les années 2000 une politique de
                soutien à l’agriculture biologique : rémunération pour encourager les changements de pratiques, structuration des débouchés pour les
                produits bio, acquisition de terres, etc. Apprenez-en davantage sur ce territoire et découvrez de nombreux autres exemples sur le site
                <TexteLien url="https://territoiresbio.fr/">Territoires Bio</TexteLien>.</Encadre
            >

            <Encadre
                type="ils-l-ont-fait"
                localisation="Dijon Métropole"
                url-en-savoir-plus="https://www.inrae.fr/dossiers/alimentation-saine-durable/recherche-lepreuve-du-reel-entretien-sophie-nicklaus"
            >Ce territoire a lancé un programme ambitieux sur l’alimentation et l’agriculture durables. Parmi les objectifs poursuivis :
                l’accompagnement à la conversion en agriculture biologique, le développement de filières locales pour les légumineuses, la création
                d’une légumerie pour la restauration collective…</Encadre
            >

            <TexteP v-if="useGetStateIdTerritoire().value">
                Et chez vous ?
                <Encadre type="focus-territoire" :url-en-savoir-plus="useRouteDiagnosticsIndicateur(modele.indicateurPartBio.indicateur)">
                    <IndicateurFocusTerritoire
                        :chiffre="modele.indicateurPartBio.chiffre"
                        :unite="modele.indicateurPartBio.unite"
                        complement="C'est la part de surfaces en Agriculture Biologique ou en conversion."
                    >
                    </IndicateurFocusTerritoire>
                </Encadre>
            </TexteP>
        </template>

        <template #[ID_SECTION_6]>
            <TexteP>
                Un des revers de l’agroécologie
                <TexteAvecPopoverDefinition
                    :definition="
                        htmlstring`Précision : La situation est différente dans certains pays dits « du Sud » ou l’agroécologie apparaît comme un levier d’augmentation et de stabilisation des rendements.`
                    "
                >dans le contexte français</TexteAvecPopoverDefinition
                >
                est sa moindre productivité, toutes choses égales par ailleurs. On s’attend à ce que sa généralisation conduise à une diminution de la
                production agricole –
                <TexteAvecPopoverSource
                    numero="14"
                    :source="
                        htmlstring`Solagro (2016) Le scénario Afterres2050 version 2016 | Poux X. et Aubert P-M. (2018) Une Europe agroécologique en 2050 : une agriculture multifonctionnelle pour une alimentation saine. Enseignement d’une modélisation du système alimentaire européen, Iddri-AScA. Institut du Développement Durable et des Relations Internationales.`
                    "
                >de l’ordre de 30&nbsp;% selon certains scénarios</TexteAvecPopoverSource
                >. Mais il faut garder à l’esprit qu’une diminution de la production est également attendue avec le modèle actuel faute de ressources
                suffisantes, avec en plus, une vulnérabilité accrue face aux chocs, notamment climatiques. Il est néanmoins tout à fait possible de
                maintenir la sécurité alimentaire avec une production agricole en baisse, il faut pour cela s’orienter vers des régimes moins riches
                en produits animaux (cf <TexteRenvoiThematique :idTheme="IDS_THEMES.consommation" />).
            </TexteP>

            <ARetenir>
                <ListLiAvecIcone>
                    La modernisation de l’agriculture française au cours de la seconde moitié du XXe siècle s’est accompagnée d’une simplification des
                    productions et des paysages et d’une intensification du recours aux intrants (engrais et pesticides de synthèse).
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >L’augmentation des rendements ainsi permise a eu comme contrepartie des impacts importants sur la santé et l’environnement. La
                    biodiversité des milieux agricoles a connu une chute spectaculaire.</ListLiAvecIcone
                >
                <ListLiAvecIcone>
                    L’agroécologie, bien représentée aujourd’hui en France par l’agriculture biologique, propose un cadre cohérent pour concevoir une
                    agriculture durable. Son développement ne peut reposer que sur la seule bonne volonté des agriculteurs, il nécessite un nouveau
                    cadre économique et réglementaire pour rendre attractifs les changements de trajectoire et les sécuriser.
                </ListLiAvecIcone>
                <ListLiAvecIcone
                >Que ce soit du fait de la transition agroécologique ou des contraintes énergétiques et économiques, on s’attend à une diminution
                    du recours aux intrants et une baisse de la production agricole. Dans ce contexte, une moindre consommation de produits d’origine
                    animale permet de maintenir notre sécurité alimentaire.</ListLiAvecIcone
                >
            </ARetenir>
        </template>
    </TemplateThematique>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { IDS_THEMES } from '@lga/indicateurs';

import { useGetStateIdTerritoire, useRouteDiagnosticsIndicateur, useRouteSimulateur } from '@/composables';
import ListLiAvecIcone from '~/components/base/ListLiAvecIcone.vue';
import TexteLien from '~/components/base/TexteLien.vue';
import TexteP from '~/components/base/TexteP.vue';
import TexteRenvoiThematique from '~/components/base/TexteRenvoiThematique.vue';
import { creerLienExterneHtmlBrut } from '~/modeles/liens-utils.js';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import type { ThematiqueBiodiversiteModele } from '~/modeles/thematiques/thematique-biodiversite.js';

import ARetenir from './commun/ARetenir.vue';
import Encadre from './commun/Encadre.vue';
import GloseAvecPopoverDefinition from './commun/GloseAvecPopoverDefinition.vue';
import IndicateurFocusTerritoire from './commun/IndicateurFocusTerritoire.vue';
import TexteAvecPopoverDefinition from './commun/TexteAvecPopoverDefinition.vue';
import TexteAvecPopoverSource from './commun/TexteAvecPopoverSource.vue';
import TemplateThematique from './TemplateThematique.vue';

defineProps<{
    modele: ThematiqueBiodiversiteModele;
}>();

const ID_SECTION_1 = 'la-grande-simplification';
const ID_SECTION_2 = 'l-intensification-des-pratiques-agricoles';
const ID_SECTION_3 = 'une-biodiversite-en-chute-libre-dans-les-campagnes';
const ID_SECTION_4 = 'l-agroecologie-une-réponse-globale';
const ID_SECTION_5 = 'generaliser-l-agroecologie-mission-impossible';
const ID_SECTION_6 = 'l-agroecologie-peut-elle-nourrir-la-france';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_1,
        libelle: 'La grande simplification'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_2,
        libelle: 'L’intensification des pratiques agricoles'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_3,
        libelle: 'Une biodiversité en chute libre dans les campagnes'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_4,
        libelle: 'L’agroécologie, une réponse globale'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_5,
        libelle: 'Généraliser l’agroécologie : mission impossible ?'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION_6,
        libelle: 'L’agroécologie peut-elle nourrir la France ?'
    }
];
</script>
