<template>
    <div :id="IDS_DOMAINES.agesChefsExploitation">
        <TitreH3>Âge des chefs d'exploitation</TitreH3>

        <TexteP>
            Les informations sont tirées directement des données
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.exploitations_selon_age_chef_exploitation" />.
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
