<template>
    <div :id="ID_CHEPTELS">
        <TitreH3>Cheptels</TitreH3>
        <TexteP>
            Les données sur les Cheptels sont calculées à partir des données
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.cheptels" :annees="SOURCES_DONNEES_RETRAITEES.cheptels_crater.annees" /> qui
            fournissent le nombre de têtes pour différentes catégories d'animaux (Bovins, Ovins, Caprins, Porcins, Volailles, etc.).
        </TexteP>
        <TexteP>
            Pour certaines communes on ne connait pas le nombre de têtes pour un type de cheptel donné du fait du secret statistique. Pour pallier ce
            problème, on réalise une estimation de la façon suivante : on calcule d'abord le solde entre le nombre de têtes total du département et
            celui obtenu en sommant les têtes de toutes les communes du département non touchées par le secret statistique. On répartit ensuite ce
            solde entre les différentes communes concernées par le secret statistique au prorata des
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.sau_ra" /> de ces communes. Le nombre de têtes obtenu est ensuite converti en
            <GloseAvecPopoverDefinition cleGlose="ugb" /> via un coefficient moyen par type de cheptel obtenu à partir des données France.
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { SOURCES_DONNEES, SOURCES_DONNEES_RETRAITEES } from '@lga/indicateurs';

import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import GloseAvecPopoverDefinition from '~/components/diagnostics/thematiques/commun/GloseAvecPopoverDefinition.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
import { ID_CHEPTELS } from '../methodologie-utils.js';
</script>
