<template>
    <div :id="IDS_DOMAINES.eau">
        <TitreH3>Les indicateurs de dépendance à l'eau</TitreH3>
        <Irrigation />
        <ArretesSecheresse />
        <ScoreEau />
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import TitreH3 from '~/components/base/TitreH3.vue';

import ArretesSecheresse from './ArretesSecheresse.vue';
import Irrigation from './Irrigation.vue';
import ScoreEau from './ScoreEau.vue';
</script>
