<template>
    <div :id="IDS_DOMAINES.hvn">
        <TitreH3>Le score Haute Valeur Naturelle</TitreH3>

        <TexteP>
            Cet indicateur est calculé par <c-lien href="https://solagro.org">Solagro</c-lien>. La méthodologie utilisée pour le calcul HVN est
            consultable dans cette <c-lien href="https://solagro.org/nos-domaines-d-intervention/agroecologie/haute-valeur-naturelle">page</c-lien>.
        </TexteP>
        <TexteP>
            La description synthétique ci-dessous reprend les informations essentielles qui sont réutilisées dans l'application, à savoir le score HVN
            global sur 30, et ses 3 composantes, chacune notée sur 10 : L’indice de Haute Valeur Naturelle caractérise les systèmes agricoles qui
            maintiennent un haut niveau de biodiversité. Il agrège des composantes très représentatives de la nature des modes de production comme la
            dépendance aux intrants, le poids des monocultures, etc… Trois dimensions, notées de 0 à 10, sont prises en compte&nbsp;:
            <TexteFormule>
                <ul>
                    <li>
                        indicateur 1 : Cet indicateur évalue la diversité de l’assolement et la part des prairies dans l’assolement. Des points sont
                        perdus dès qu’une culture dépasse 10% de la SAU.<br />Cet indicateur évalue aussi la capacité à stocker du carbone et protéger
                        les ressources en eau via la présence de prairies permanentes et temporaires ainsi que des couverts végétaux.
                    </li>
                    <li>
                        indicateur 2 : Cet indicateur tient compte du niveau de fertilisation minérale azotée apportée aux prairies, ainsi que des
                        espèces cultivées et des rendements moyens obtenus. Il prend également en compte l'extensivité des élevages.
                    </li>
                    <li>
                        indicateur 3 : Le dernier indicateur identifie la présence d’éléments fixes du paysage (infrastructures agroécologiques) dont
                        la liste dépend des informations statistiquement disponibles actuellement : lisières de bois, haies, vergers traditionnels,
                        étangs piscicoles et prairies humides (Pointereau, 2007 et 2010).
                    </li>
                </ul>
            </TexteFormule>
        </TexteP>

        <TexteP>
            Le score global est noté sur 30. Un territoire est considéré comme territoire à haute valeur naturelle à partir du seuil de 14,78/30.
        </TexteP>
        <TexteP>
            Cet indicateur est fournit à l’échelle de la commune par SOLAGRO. La valeur pour les échelles géographiques supérieures (EPCI,
            département...) est calculée en faisant une moyenne pondérée par la SAU productive.
        </TexteP>

        <TitreH4>Message détaillé</TitreH4>
        <TexteFormule>
            <ul>
                <li>
                    Score HVN global &lt; 14.78 : “Le territoire présente une haute valeur naturelle inférieure à la cible du cahier des charges
                    Solagro. La réduction de l'intensité des cheptels, la réduction des intrants chimiques et une meilleures gestion des
                    infrastructures agroécologiques (haies, lisières, prairies humides...) sont les pistes d'amélioration à explorer.”
                </li>
                <li>
                    Score HVN global &gt;= 14,78 : “Le territoire présente une haute valeur naturelle correspondant à la cible de labellisation du
                    cahier des charges Solagro. Le territoire bénéficie d'exploitations agricoles mettant en œuvre une diversité d'assolement, des
                    pratiques agricoles extensives et présentant des infrastructures agroécologiques semi-naturels témoignant de la qualité de service
                    environnemental.”
                </li>
            </ul>
        </TexteFormule>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';
</script>
