<template>
    <div :id="IDS_DOMAINES.bio">
        <TitreH3>Part de surface biologique dans la surface agricole utile</TitreH3>

        <TitreH4>Données d’entrée</TitreH4>
        <TexteP>
            Cet indicateur utilise les <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.surfaces_agricoles_bio" /> – labellisées AB et
            celles en conversion – et les surfaces agricoles productives (voir la
            <LienMethodologieSurfacesAgricoles></LienMethodologieSurfacesAgricoles>) issues du
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" />.
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP> L’indicateur est calculé selon la formule suivante : </TexteP>
        <TexteFormule> part_surfaces_biologiques [en %] = surfaces_biologiques / surface_agricole_utile_productive * 100 </TexteFormule>

        <TexteP>
            Avec :
            <ul>
                <li>surfaces_biologiques : surfaces agricoles biologiques (en conversion ou labellisées AB) en 2019 [ha]</li>
                <li>surface_agricole_utile_productive : surface agricole utile productive en 2017 [ha]</li>
            </ul>
        </TexteP>

        <TitreH4>Limites</TitreH4>
        <TexteP>
            <ul>
                <li>
                    Comme expliqué dans la <LienMethodologieSurfacesAgricoles></LienMethodologieSurfacesAgricoles>, les surfaces agricoles totales
                    utilisées sont sous-estimées. Le ratio est donc mal estimé si les deux surfaces ne sont pas sous-estimées du même ordre de
                    grandeur. La part de surfaces agricoles biologiques est toujours ramenée à une valeur entre 0 et 100%, notamment pour des valeurs
                    qui dépasseraient 100% en cas de problèmes de cohérence de souces de données.
                </li>
                <li>
                    Pour des raisons de confidentialité, les données ne sont pas disponibles sur les territoires pour lesquels il y a moins de 3
                    exploitants en bio. Dans ces cas là, cet indicateur (et la note globale pour l’axe pratiques agricoles n’est pas disponible).
                </li>
                <li>La surface agricole utile productive est celle de 2017 et non de 2019 comme il faudrait en tout rigueur.</li>
            </ul>
        </TexteP>

        <TitreH4>Message détaillé</TitreH4>
        <TexteFormule>
            “La surface agricole biologique représente [valeur] de sa SAU productive ([valeur_absolue] ha), ce qui représente [valeur/valeur_France]
            fois la moyenne nationale.”
        </TexteFormule>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
import LienMethodologieSurfacesAgricoles from '../liens/LienMethodologieSurfacesAgricoles.vue';
</script>
