<template>
    <div :id="IDS_DOMAINES.politiqueAmenagement">
        <TitreH3>Politique d'aménagement</TitreH3>

        <TitreH4>Données d’entrées</TitreH4>
        <TexteP>
            Cet indicateur mobilise les données d'<LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.artificialisation_sols" />
            concernant l’artificialisation des sols à des fins d’habitat, d’activité ou mixte, ainsi que la variation du nombre de ménages et
            d’emplois sur la période 2011-2016, pour chaque commune. Il permet d'appréhender le respect de l'objectif national de
            <TexteLien url="https://www.ecologie.gouv.fr/artificialisation-des-sols">Zéro Artificialisation Nette</TexteLien>. Il utilise également la
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.geographie_des_communes" /> pour le calcul des superficies des communes.
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP>L’indicateur, qualitatif, est calculé selon la formule suivante :</TexteP>
        <TexteFormule>
            <ul>
                <li>si surface_artificialisée = 0 : &quot;L'objectif Zéro Artificialisation Nette a été atteint entre 2013 et 2018.&quot;</li>
                <li>
                    si surface_artificialisée &gt; 0 et évolution_menages_emplois &gt; 0 : &quot;L'objectif Zéro Artificialisation Nette n'a pas été
                    atteint entre 2013 et 2018 puisque [surface_artificialisée] ha ont été artificialisés soit
                    [ratio_surface_artificialisée_superficie] % de la superficie totale du territoire.&quot;
                </li>
                <li>
                    si surface_artificialisée &gt; 0 et évolution_menages_emplois &lt;= 0 : &quot;L'objectif Zéro Artificialisation Nette n'a pas été
                    atteint entre 2013 et 2018 puisque [surface_artificialisée] ha ont été artificialisés soit
                    [ratio_surface_artificialisée_superficie] % de la superficie totale du territoire, alors que le territoire a perdu
                    [évolution_menages_emplois] ménages et emplois.&quot;
                </li>
            </ul>
        </TexteFormule>
        <TexteP
        >avec :
            <ul>
                <li>surface_artificialisée : superficie totale d’espaces naturels, agricoles et forestiers artificialisés entre 2013 et 2018 [ha]</li>
                <li>superficie : superficie totale du territoire [ha]</li>
                <li>ratio_surface_artificialisée_superficie : surface_artificialisée / superficie * 100 [%]</li>
                <li>évolution_menages_emplois = (menages_final + emplois_final) - (menages_initial + emplois_initial)</li>
                <li>menages_initial : nombre de ménages en 2011</li>
                <li>menages_final : nombre de ménages en 2016</li>
                <li>emplois_initial : nombre d’emplois en 2011</li>
                <li>emplois_final : nombre d’emplois en 2016</li>
            </ul>
        </TexteP>

        <TitreH4>Limites</TitreH4>
        <TexteP>
            Comme expliqué dans les limites de la description des données d'<LienMethodologieSourceDonnee
                :sourceDonnee="SOURCES_DONNEES.artificialisation_sols"
            />, une incertitude subsiste sur la valeur du flux de surfaces artificialisées du fait de sa méthodologie de calcul.
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteLien from '~/components/base/TexteLien.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
