<template>
    <div :id="IDS_DOMAINES.rythmeArtificialisation">
        <TitreH3>Rythme d’artificialisation</TitreH3>

        <TitreH4>Données d’entrées</TitreH4>
        <TexteP>
            Cet indicateur mobilise les données d'<LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.artificialisation_sols" />
            concernant l’artificialisation des sols à des fins d’habitat, d’activité ou mixte, ainsi que les données du
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" /> pour obtenir la surface agricole utile productive.
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP>L’indicateur est calculé selon la formule suivante :</TexteP>
        <TexteFormule>
            rythme_artificialisation [en % sur une période de 5 ans] = surface_artificialisée / surface_agricole_utile_productive * 100
        </TexteFormule>
        <TexteP
        >avec :
            <ul>
                <li>surface_artificialisée : superficie totale d’espaces naturels, agricoles et forestiers artificialisés entre 2013 et 2018 [ha]</li>
                <li>surface_agricole_utile_productive : surface agricole utile productive en 2017 [ha]</li>
            </ul>
        </TexteP>
        <TexteP>
            Cet indicateur est calculé sur base de la surface agricole utile productive et non de la surface totale d’espaces naturels, agricoles et
            forestiers pour ne pas tenir compte du capital d’espace naturels et forestiers dans le calcul de l’indicateur car ce dernier doit
            absolument être conservé en l’état et ne pas légitimer une éventuelle artificialisation (il est en effet courant de voir ces espaces
            reclassés en zone agricole dans les documents d'urbanisme pour combler l'artificialisation de surfaces agricoles).
        </TexteP>

        <TitreH4>Limites</TitreH4>
        <TexteP>
            <ul>
                <li>La surface agricole utile productive est sous-estimée ce qui a pour conséquence de sur-estimer la valeur de l’indicateur ;</li>
                <li>une incertitude subsiste sur la valeur du flux de surfaces artificialisées du fait de sa méthodologie de calcul ;</li>
                <li>la surface agricole utile productive utilisée ne correspond pas à la date initiale du flux artificialisé considéré.</li>
            </ul>
        </TexteP>

        <TitreH4>Message détaillé</TitreH4>
        <TexteP>Un message détaillé est donné en fonction de la valeur de cet indicateur selon les seuils suivants :</TexteP>
        <TexteFormule>
            <ul>
                <li>
                    valeur = 0% : &quot;Aucune terre n'a été artificialisée entre 2013 et 2018, ce qui permet de préserver les terres agricoles
                    existantes. Il convient néanmoins de s'assurer que ces surfaces sont suffisantes pour nourrir la population et qu’elles ne sont
                    pas menacées d’urbanisation.&quot;
                </li>
                <li>
                    valeur entre 0% et 80% * [valeur France] : &quot;Le rythme d'artificialisation entre 2013 et 2018 est inférieur à la moyenne
                    française. Ce taux doit néanmoins être examiné au regard des surfaces agricoles disponibles et des besoins en surfaces agricoles
                    au niveau local, départemental ou régional.&quot;
                </li>
                <li>
                    valeur entre 80% [valeur France] et 120% [valeur France] : &quot;Le rythme d'artificialisation entre 2013 et 2018 correspond à la
                    moyenne française. La politique de préservation des terres agricoles doit être renforcée, et ce d’autant plus si la surface
                    agricole utile productive par habitant est insuffisante localement ou aux échelles de territoires supérieures.&quot;
                </li>
                <li>
                    valeur entre 120% * [valeur France] et 1% : &quot;Le rythme d'artificialisation entre 2013 et 2018 est supérieur à la moyenne
                    française. La politique de préservation des terres agricoles doit être très renforcée, et ce d’autant plus si la surface agricole
                    utile productive par habitant est insuffisante localement ou aux échelles de territoires supérieures.&quot;
                </li>
                <li>
                    valeur &gt; 1% : &quot;Plus de 1% des terres ont été artificialisées entre 2013 et 2018, ce qui va à l’encontre du principe de
                    préservation des terres agricoles et représente un risque de perte de ressources pour le territoire ou pour d’autres territoires
                    dépendants.&quot;
                </li>
            </ul>
        </TexteFormule>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
</script>
