<template>
    <div :id="IDS_DOMAINES.sauParHabitant">
        <TitreH3>Surface agricole utile productive par habitant</TitreH3>

        <TitreH4>Données d’entrées</TitreH4>
        <TexteP>
            Cet indicateur mobilise les données du <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" /> pour obtenir la surface
            agricole utile productive (voir <LienMethodologieSurfacesAgricoles />) et les données de
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.population_totale" />.
        </TexteP>

        <TitreH4>Méthode de calcul</TitreH4>
        <TexteP>L’indicateur est calculé selon la formule suivante :</TexteP>
        <TexteFormule> sau_par_habitant [en m²/habitant] = surface_agricole_utile_productive * 10 000 / population_totale </TexteFormule>
        <TexteP
        >avec :
            <ul>
                <li>surface_agricole_utile_productive : surface agricole utile productive en 2017 [ha]</li>
                <li>population_totale : population municipale en 2017 [habitants]</li>
            </ul>
        </TexteP>

        <TitreH4>Limites</TitreH4>
        <TexteP>
            Comme expliqué dans <LienMethodologieSurfacesAgricoles />, la surface agricole utile productive est sous-estimée ce qui a pour conséquence
            de sous-estimer la valeur de l’indicateur.
        </TexteP>

        <TitreH4>Message détaillé</TitreH4>
        <TexteP>
            Un message détaillé est donné en fonction de la valeur de cet indicateur selon des seuils présentés dans la page 141 figure 33 du guide
            <TexteLien url="https://resiliencealimentaire.org/page-telechargement-guide/">Vers la résilience alimentaire</TexteLien>
            basée sur la figure 2 page 31 de Solagro (2019), Le revers de notre assiette. Changer d’alimentation pour préserver notre santé et notre
            environnement. comme suit :
        </TexteP>
        <TexteFormule>
            <ul>
                <li>
                    valeur &lt; 100 m²/hab: “La surface agricole utile productive par habitant est nulle ou quasiment inexistante, ce qui représente
                    un risque important par manque de ressources pour produire de la nourriture localement. Il est important de mettre en place les
                    politiques adéquates pour libérer des terres agricoles et créer des liens avec les territoires voisins. Il convient également de
                    s'assurer que les surfaces agricoles sont suffisantes pour répondre aux besoins des populations au niveau départemental ou
                    régional.&quot;
                </li>
                <li>
                    valeur &lt; 1700 m²/hab : &quot;La surface agricole utile productive par habitant est beaucoup trop faible, même pour un régime
                    alimentaire très végétal.&quot;
                </li>
                <li>
                    valeur &lt; 2500 m²/hab : &quot;La surface agricole utile productive par habitant est trop faible pour le régime alimentaire
                    actuel, mais suffisante pour un régime alimentaire alimentaire très végétal.&quot;
                </li>
                <li>
                    valeur &lt; 4000 m²/hab : &quot;La surface agricole utile productive par habitant est trop faible pour le régime alimentaire
                    actuel mais suffisante pour un régime alimentaire moins carné type méditerranéen&quot;
                </li>
                <li>
                    valeur &gt;= 4000 m²/hab : &quot;La surface agricole utile productive par habitant est suffisante pour le régime alimentaire
                    actuel.”
                </li>
            </ul>
        </TexteFormule>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES, SOURCES_DONNEES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteLien from '~/components/base/TexteLien.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
import LienMethodologieSurfacesAgricoles from '../liens/LienMethodologieSurfacesAgricoles.vue';
</script>
