<template>
    <div :id="IDS_DOMAINES.production">
        <TitreH3>Évaluation globale du maillon Production</TitreH3>

        <TitreH4>Note</TitreH4>
        <TexteP
        >La note est calculée sur la base de deux notes :
            <ul>
                <li>
                    <TexteP>Une note basé sur l'indicateur I = adéquation théorique entre production et consommation : </TexteP>
                    <TexteFormule>NA = I / 10</TexteFormule>
                </li>
                <li>
                    <TexteP>Une note reflétant les pratiques agricoles basée sur deux notes : </TexteP>
                    <ul>
                        <li>
                            <TexteP>
                                une note N1 calculée sur base de l’indicateur de <strong>part de surface biologique</strong>, bornée entre 0 et 10 et
                                obtenue par interpolation entre :
                            </TexteP>
                            <TexteFormule>
                                <ul>
                                    <li>la note 0, obtenue si la part de surface agricole bio est de 0%</li>
                                    <li>
                                        la note 5, obtenue si la part de surface agricole bio est la même que la part moyenne surface agricole bio en
                                        France
                                    </li>
                                </ul>
                            </TexteFormule>
                        </li>
                        <li>
                            <TexteP>
                                une note N2 calculée sur base de l’indicateur <strong>score Haute Valeur Naturelle</strong> en ramenant ce score d’une
                                note sur 30 à une note sur 10 :
                            </TexteP>
                            <TexteFormule>N2 = Score HVN / 30</TexteFormule>
                        </li>
                        <li>
                            <TexteP>ces deux notes sont agrégées comme suit : </TexteP>
                            <TexteFormule>NB = (N1 + N2) / 2</TexteFormule>
                        </li>
                    </ul>
                    <TexteP>Les deux notes sont finalement combinées de la façon suivante : </TexteP>
                    <TexteFormule>N = (NA + NB) / 2</TexteFormule>
                </li>
            </ul>
        </TexteP>

        <TitreH4>Message de synthèse</TitreH4>
        <TexteP
        >Le message est composé deux parties :
            <ul>
                <li>
                    <TexteP>Une partie basée sur la note NA : </TexteP>
                    <TexteFormule>
                        <ul>
                            <li>Si NA = 10, alors message = &quot;Production suffisante pour couvrir tous les besoins&quot;</li>
                            <li>
                                Si NA &gt;= 7 et &lt; 10, alors message = &quot;Production presque suffisante pour couvrir les besoins, quelques
                                secteurs déficitaires&quot;
                            </li>
                            <li>Si NA &gt;= 3 et &lt; 7, alors message = &quot;Production insuffisante pour couvrir les besoins&quot;</li>
                            <li>Si NA &lt; 3, alors message = &quot;Production nettement insuffisante pour couvrir les besoins&quot;</li>
                        </ul>
                    </TexteFormule>
                </li>
                <li>
                    <TexteP>Une partie basée sur la note N. B. : </TexteP>
                    <TexteFormule>
                        <ul>
                            <li>Si NB &gt;= 7 et &lt; 10, alors message = &quot;Pratiques agricoles favorables à la biodiversité.&quot;</li>
                            <li>Si NB &gt;= 3 et &lt; 7, alors message = &quot;Pratiques agricoles préjudiciables à la biodiversité.&quot;</li>
                            <li>Si NB &lt; 3, alors message = &quot;Pratiques agricoles très préjudiciables à la biodiversité.&quot;</li>
                        </ul>
                    </TexteFormule>
                </li>
            </ul>
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';
</script>
