<template>
    <div :id="INDICATEURS.scoreEau.id">
        <TitreH4>Calcul de la note globale pour la dépendance à l'eau</TitreH4>
        <TexteP>
            La note finale note_eau, exprimant la dépendance à la ressource eau pour l’irrigation est obtenue en faisant la moyenne de la note
            irrigation et de la note impact des arrêtés sécheresse :
            <TexteFormule> note_eau = (note_irrigation + note_arretes_secheresse) / 2 </TexteFormule>
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { INDICATEURS } from '@lga/indicateurs';

import TexteFormule from '~/components/base/TexteFormule.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH4 from '~/components/base/TitreH4.vue';
</script>
