<template>
    <div :id="ID_OTEX">
        <TitreH3>Spécialisation des territoires</TitreH3>

        <TexteP>
            Les exploitations sont classées selon leur spécialisation : l'<GloseAvecPopoverDefinition cleGlose="otex" />. Ce classement se fait à
            partir des coefficients de production brute standard (PBS). Une exploitation est spécialisée dans un domaine si la PBS de la ou des
            productions concernées dépasse deux tiers du total.
        </TexteP>
        <TexteP>De la même façon, les communes sont classées selon leur spécialisation sur base du PBS total des exploitations de la commune.</TexteP>

        <TexteP
        >Les OTEX 12 postes, regroupées en OTEX 5 postes, sont les suivantes :
            <ul>
                <li>Grandes Cultures (groupe Grandes Cultures)</li>
                <li>Viticulture (groupe Viticulture)</li>
                <li>Maraîchage Horticulture (groupe Maraîchage Horticulture ou Fruits)</li>
                <li>Fruits (groupe Maraîchage Horticulture ou Fruits)</li>
                <li>Bovin lait (groupe Élevage)</li>
                <li>Bovin viande (groupe Élevage)</li>
                <li>Bovin mixte (groupe Élevage)</li>
                <li>Ovins Caprins et autres Herbivores (groupe Élevage)</li>
                <li>Porcins Volailles (groupe Élevage)</li>
                <li>Polyculture Polyélevage (groupe Polyculture Polyélevage)</li>
                <li>Non Classées (groupe Non définie)</li>
                <li>Sans Exploitations (groupe Non définie)</li>
                <li>Non renseignées (groupe Non définie)</li>
            </ul>
        </TexteP>

        <TexteP> Pour plus d'informations, voir <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.otex" />. </TexteP>
    </div>
</template>

<script setup lang="ts">
import { SOURCES_DONNEES } from '@lga/indicateurs';

import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import GloseAvecPopoverDefinition from '~/components/diagnostics/thematiques/commun/GloseAvecPopoverDefinition.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
import { ID_OTEX } from '../methodologie-utils.js';
</script>
