<template>
    <div :id="ID_SURFACES_AGRICOLES">
        <TitreH3>Surfaces agricoles</TitreH3>
        <TexteP>
            Une nomenclature des surfaces agricoles est employée pour faire la distinction entre surfaces dites
            <strong>peu productives</strong> et celles dites <strong>productives</strong> afin d'éviter de surestimer les capacités nourricières d'un
            territoire – par exemple de moyenne ou haute altitude. Cette distinction est utilisée d'une part pour décrire les surfaces agricoles
            présentes sur un territoire, et d'autre part dans le calcul des différents indicateurs qui se base
            <strong>exclusivement sur les surfaces dites productives</strong>. Elle est réalisée à partir des catégories de culture du
            <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" />. de la façon suivante :
            <ul>
                <li>
                    les surfaces agricoles peu productives (dites aussi non cultivées) rassemblent les groupes de cultures “17 Estives et landes”
                    (contenant notamment les pâturages d’altitudes), “11 Gel (surfaces gelées sans production)” (contenant les jachères) et une partie
                    de “28 Divers” ;
                </li>
                <li>
                    les surfaces agricoles productives rassemblent tous les autres groupes de cultures du
                    <LienMethodologieSourceDonnee :sourceDonnee="SOURCES_DONNEES.rpg" />.
                </li>
            </ul>
        </TexteP>

        <TexteP>
            Un point de vigilance concerne les
            <TexteLien url="https://www.geoportail.gouv.fr/actualites/les-usages-du-registre-parcellaire-graphique#!"
            >limites du Recensement Parcellaire Graphique</TexteLien
            >
            : ce gisement de données n'a connaissance que des parcelles appartenant à un exploitant les ayant déclarées dans sa demande de subvention
            à la <GloseAvecPopoverDefinition cleGlose="pac" />. En conséquence l'estimation des surfaces agricoles (productive ou peu productive) peut
            être sous estimée de plusieurs pourcents sur certains territoires (plusieurs dizaines de pourcents dans les cas extrêmes).
        </TexteP>

        <TexteP>
            Ces orientations sont le résultat de travaux réalisés en partenariat avec la métropole de Nice Côte d'Azur. Le détail de l'étude est
            accessible <TexteLien url="/pdf/Rapport_d_etude_pour_la_metropole_de_Nice_Cote_d_Azur-v1.1.pdf">ici</TexteLien>.
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import { SOURCES_DONNEES } from '@lga/indicateurs';

import TexteLien from '~/components/base/TexteLien.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import GloseAvecPopoverDefinition from '~/components/diagnostics/thematiques/commun/GloseAvecPopoverDefinition.vue';

import LienMethodologieSourceDonnee from '../liens/LienMethodologieSourceDonnee.vue';
import { ID_SURFACES_AGRICOLES } from '../methodologie-utils.js';
</script>
