<template>
    <section class="flex flex-col items-center justify-evenly gap-8 text-center mx-auto px-0" data-cy="bloc-accueil-recherche-territoire">
        <h2 class="max-w-[900px] font-serif text-3xl/snug sm:text-5xl/snug xl:text-6xl/snug text-primaire-500 sm:px-0 pt-6 pb-2 sm:py-8">
            Votre territoire peut-il<br /><TexteStabilo couleur="jaune">nourrir</TexteStabilo> ses habitants&nbsp;?
        </h2>
        <BlocRechercheTerritoire></BlocRechercheTerritoire>
        <div class="relative">
            <div class="absolute bottom-0 bg-primaire-900 h-[30%] w-full -z-10"></div>
            <picture>
                <source :media="`(max-width: ${MIN_LARGEUR_DESKTOP - 1}px)`" :srcset="SRCSET_IMAGE_HERO_MOBILE" />
                <source :media="`(min-width: ${MIN_LARGEUR_DESKTOP}px)`" :srcset="SRCSET_IMAGE_HERO_DESKTOP" />
                <img alt="Paysage fertile" class="w-fit min-h-[140px] md:min-h-[220px] object-cover" />
            </picture>
        </div>
    </section>
</template>

<script setup lang="ts">
import '@lga/commun/build/composants/champ-recherche-territoire/ChampRechercheTerritoire.js';

import { useHead } from '#imports';

import TexteStabilo from '../base/TexteStabilo.vue';
import BlocRechercheTerritoire from '../diagnostics/commun/BlocRechercheTerritoire.vue';

const SRC_IMAGE_HERO_MOBILE_1X = '/images/accueil/paysage-fertile-889x189.png';
const SRC_IMAGE_HERO_MOBILE_2X = '/images/accueil/paysage-fertile-1778x378.png';
const SRC_IMAGE_HERO_DESKTOP_1X = '/images/accueil/paysage-fertile-2816x443.png';
const SRC_IMAGE_HERO_DESKTOP_2X = '/images/accueil/paysage-fertile-5632x886.png';

const SRCSET_IMAGE_HERO_MOBILE = `${SRC_IMAGE_HERO_MOBILE_1X}, ${SRC_IMAGE_HERO_MOBILE_2X} 2x`;
const SRCSET_IMAGE_HERO_DESKTOP = `${SRC_IMAGE_HERO_DESKTOP_1X}, ${SRC_IMAGE_HERO_DESKTOP_2X} 2x`;

const MIN_LARGEUR_DESKTOP = 768;

useHead({
    link: [
        {
            rel: 'preload',
            as: 'image',
            media: `max-width: ${MIN_LARGEUR_DESKTOP - 1}px`,
            imagesrcset: SRCSET_IMAGE_HERO_MOBILE,
            href: SRC_IMAGE_HERO_MOBILE_1X
        },
        {
            rel: 'preload',
            as: 'image',
            media: `min-width: ${MIN_LARGEUR_DESKTOP}px`,
            imagesrcset: SRCSET_IMAGE_HERO_DESKTOP,
            href: SRC_IMAGE_HERO_DESKTOP_1X
        }
    ]
});
</script>
