<template>
    <div
        v-if="props.accroche"
        class="print:hidden text-lg sm:text-2xl text-white font-bold text-center bg-primaire py-1 sm:py-2 px-2 sm:px-6 mx-2 sm:my-2 w-fit -rotate-[4deg]"
    >
        {{ props.accroche }}
    </div>
    <div v-else></div>
</template>

<script setup lang="ts">
interface Props {
    accroche?: string;
}

const props = defineProps<Props>();
</script>
