<template>
    <div :class="['h-fit', 'text-center']">
        <p
            :class="[
                'flex items-baseline justify-center',
                estChiffreLong ? '-mb-4' : '-mb-8',
                props.theme === 'jaune' ? 'text-jaune-sombre' : 'text-accent'
            ]"
        >
            <span
                v-if="chiffreCle.chiffre"
                :class="[
                    'chiffre',
                    'font-extrabold',
                    estChiffreTresLong ? 'text-4xl sm:text-5xl' : estChiffreLong ? 'text-5xl sm:text-7xl' : 'text-6xl sm:text-8xl'
                ]"
            >{{ chiffreCle.chiffre }}</span
            >
            <span v-if="chiffreCle.chiffre && chiffreCle.unite" :class="['unite', 'font-bold', estChiffreLong ? 'text-4xl' : 'text-5xl']"
            >&nbsp;{{ chiffreCle.unite }}</span
            >
        </p>
        <div class="p-4 pt-6 flex flex-col gap-2 sm:gap-4 bg-white print:border-4 print:border-neutral-50 text-primaire sm:rounded-2xl">
            <!--            eslint-disable vue/no-v-html -->
            <p
                :class="[chiffreCle.phrase.length > 25 ? 'text-data-lg sm:text-data-2xl' : 'text-data-xl sm:text-data-3xl']"
                v-html="chiffreCle.phrase"
            ></p>
            <!--            eslint-enabme vue/no-v-html -->
            <BoutonInfoMethodologie
                :titre="informationsMethodologie.titre"
                :descriptif="informationsMethodologie.descriptif"
                :descriptifDetaille="informationsMethodologie.descriptifDetaille"
                :estPerimetreNational="informationsMethodologie.estPerimetreNational"
                :libelleBouton="informationsMethodologie.libelleBouton"
                :libelleLienComplementInformation="informationsMethodologie.libelleLienComplementInformation"
                :urlComplementInformation="informationsMethodologie.urlComplementInformation"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import type { ChiffreCleInfographieModele, InformationsMethodologieInfographieModele } from '~/modeles/constats/InfographieModele.js';

import BoutonInfoMethodologie from '../commun/BoutonInfoMethodologie.vue';

interface Props {
    chiffreCle: ChiffreCleInfographieModele;
    informationsMethodologie: InformationsMethodologieInfographieModele;
    theme?: 'orange' | 'jaune';
}

const props = defineProps<Props>();

const estChiffreLong = computed(() => (props.chiffreCle.chiffre?.length ?? 0) + (props.chiffreCle.unite?.length ?? 0) > 7);
const estChiffreTresLong = computed(() => (props.chiffreCle.chiffre?.length ?? 0) + (props.chiffreCle.unite?.length ?? 0) > 10);
</script>

<style scoped>
.chiffre {
    -webkit-text-stroke: 0.15em;
    -webkit-text-stroke-color: theme('colors.white');
    paint-order: stroke fill;
    filter: drop-shadow(0px 2px 5px theme('colors.neutral.100'));
}

.unite {
    -webkit-text-stroke: 0.13em;
    -webkit-text-stroke-color: theme('colors.white');
    paint-order: stroke fill;
    filter: drop-shadow(0px 2px 5px theme('colors.neutral.100'));
}
</style>
