<template>
    <div class="flex flex-col items-center justify-center">
        <div class="font-sans text-base sm:text-xl font-extrabold text-primaire text-center p-2 sm:p-4 print:hidden">
            Combien d'agriculteurs cultivent les terres de votre territoire ?
        </div>
        <ChartEvolutionPopulationAgricole
            :annees="infographie.annees"
            :nombreAgriculteurs="infographie.nombreAgriculteurs"
        ></ChartEvolutionPopulationAgricole>
        <Accroche :accroche="infographie.accroche" />
        <BoutonModaleInformation
            class="mt-4 mb-8"
            :titre="infographie.informationsMethodologie.titre"
            :descriptif="infographie.informationsMethodologie.descriptif"
            :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
            :libelleBouton="infographie.informationsMethodologie.libelleBouton"
            :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
            :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
        />
        <div class="text-sm font-bold text-center hidden print:block">Nombre d’actifs agricoles permanents</div>
    </div>
</template>

<script setup lang="ts">
import type { InfographieEvolutionPopulationAgricoleModele } from '@/modeles/constats/InfographieModele';
import BoutonModaleInformation from '~/components/diagnostics/commun/BoutonInfoMethodologie.vue';

import ChartEvolutionPopulationAgricole from '../commun/ChartEvolutionPopulationAgricole.vue';
import Accroche from './Accroche.vue';

interface props {
    infographie: InfographieEvolutionPopulationAgricoleModele;
}

defineProps<props>();
</script>
