<template>
    <div class="w-full h-full flex flex-col justify-center gap-0">
        <div :class="['image-infographie', 'h-auto', 'max-w-[500px]', 'self-center', estStyleCarre ? '' : 'rounded-xl', 'relative']">
            <!-- On n'utilise pas l'option placeholder de nuxt car quand present le lazy loading ne marche plus -->
            <!-- De plus ne fonctionne pas avec NuxtPicture (voir https://github.com/nuxt/image/issues/1160 )-->
            <NuxtPicture
                class="image-infographie text-transparent"
                :src="infographie.image.url"
                loading="lazy"
                :alt="infographie.image.descriptionAlt"
                :width="infographie.image.resolutionX"
                :height="infographie.image.resolutionY"
                sizes="500px"
                densities="x1 x2"
                :imgAttrs="{ class: estStyleCarre ? '' : 'rounded-xl' }"
            />
            <div v-if="infographie.attributionHtml" class="w-fit absolute bottom-0 right-0">
                <div
                    class="mb-2 border-2 border-gris-100 bg-white rounded-full px-2 flex items-center self-end gap-1 text-primaire text-xs print:hidden"
                >
                    <!-- eslint-disable-next-line vue/no-template-target-blank -->
                    <span v-html="infographie.attributionHtml"></span>
                    <UIcon name="i-heroicons-information-circle-20-solid" />
                </div>
                <!-- eslint-disable-next-line vue/no-template-target-blank -->
                <div class="hidden print:block text-primaire text-xs bg-neutral-100/50 px-2" v-html="infographie.attributionHtml"></div>
            </div>
        </div>
        <div
            v-if="infographie.message"
            :class="[
                'mx-2 p-4 grid place-self-center gap-2 bg-white print:border-4 print:border-neutral-50 print:p-2 text-center rounded-2xl sm:min-w-[440px] sm:max-w-[80%]',
                infographie.image.espacerImageEtMessage ? `mt-4 print:mt-2` : ''
            ]"
        >
            <div class="text-primaire text-data-lg sm:text-data-2xl" v-html="infographie.message"></div>
            <BoutonInfoMethodologie
                v-if="infographie.informationsMethodologie.titre"
                :titre="infographie.informationsMethodologie.titre"
                :descriptif="infographie.informationsMethodologie.descriptif"
                :descriptifDetaille="infographie.informationsMethodologie.descriptifDetaille"
                :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
                :libelleBouton="infographie.informationsMethodologie.libelleBouton"
                :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
                :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
            />
        </div>
        <Accroche class="self-center" :accroche="infographie.accroche" />
        <BoutonInfoMethodologie
            v-if="!infographie.message && infographie.informationsMethodologie.titre"
            class="m-auto mt-2"
            :titre="infographie.informationsMethodologie.titre"
            :descriptif="infographie.informationsMethodologie.descriptif"
            :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
            :libelleBouton="infographie.informationsMethodologie.libelleBouton"
            :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
            :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
        />
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import type { InfographieImageMessageModele } from '@/modeles/constats/InfographieModele';
import { NuxtPicture } from '#components';

import BoutonInfoMethodologie from '../commun/BoutonInfoMethodologie.vue';
import Accroche from './Accroche.vue';

interface Props {
    infographie: InfographieImageMessageModele;
}

const props = defineProps<Props>();
const estStyleCarre = computed(() => props.infographie.image.styleBords === 'carre');

const valeurLargeur = computed(() => (props.infographie.image.largeurPrefereePx ?? 500) + 'px');
</script>

<style scoped>
.image-infographie {
    width: calc(min(80vw, v-bind(valeurLargeur)));
}
</style>
