<template>
    <div class="grid justify-items-center sm:content-center gap-2 h-fit w-full">
        <div class="relative">
            <div v-if="infographie.tauxAdequationAssietteActuelleBrutPourcent < 30" class="absolute top-0 left-0 w-[50%] text-primaire-300">
                <div class="text-center">dont 85 % pour la viande et produits laitiers</div>
                <IconeFleche class="pt-2 w-[50%] mr-4 ml-auto stroke-primaire-300 stroke-[2]" filled :fontControlled="false"> </IconeFleche>
            </div>
            <ChartTreemapDoubleCultures
                titreCulturesGauche="Production"
                titreCulturesDroite="Consommation"
                :donneesTreemapCulturesGauche="infographie.donneesTreemapCulturesProduction"
                :donneesTreemapCulturesDroite="infographie.donneesTreemapCulturesConsommation"
                :hauteurPixels="220"
            ></ChartTreemapDoubleCultures>
        </div>
        <BoutonInfoMethodologie
            class="pt-2"
            :titre="infographie.informationsMethodologie.titre"
            :descriptif="infographie.informationsMethodologie.descriptif"
            :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
            :libelleBouton="infographie.informationsMethodologie.libelleBouton"
            :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
            :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
        />
        <div class="text-sm font-bold text-center hidden print:block">
            Surfaces agricoles du territoire par type de production et surfaces théoriquement nécessaires pour l'alimentation de ses habitants
        </div>
    </div>
</template>

<script setup lang="ts">
import IconeFleche from '@/assets/icones/fleche-looping.svg';
import ChartTreemapDoubleCultures from '~/components/charts/ChartTreemapDoubleCultures.vue';
import type { InfographieSurfacesAgricolesProductionConsommationModele } from '~/modeles/constats/InfographieModele.js';

import BoutonInfoMethodologie from '../commun/BoutonInfoMethodologie.vue';

interface Props {
    infographie: InfographieSurfacesAgricolesProductionConsommationModele;
}

defineProps<Props>();
</script>
