<template>
    <div class="w-full h-full flex flex-col justify-center gap-0">
        <div :class="['h-auto max-h-[60%]', 'self-center', 'w-full', 'relative']">
            <CarteAnalogueClimatique
                class="m-auto h-full"
                :largeur="infographie.configFondCarte.largeur"
                :hauteur="infographie.configFondCarte.hauteur"
                :pointsAnaloguesClimatiques="infographie.pointsAnaloguesClimatiques"
                :coinsBBox="infographie.coinsBBox"
                :configFondCarte="infographie.configFondCarte"
            ></CarteAnalogueClimatique>
            <div class="w-fit absolute bottom-0 right-0">
                <div
                    class="mb-2 border-2 border-gris-100 bg-white rounded-full px-2 flex items-center self-end gap-1 text-primaire text-xs print:hidden"
                >
                    <!-- eslint-disable-next-line vue/no-template-target-blank -->
                    Voir sur <NuxtLink href="https://ccexplorer.eu/" class="underline" target="_blank">CC Explorer</NuxtLink>
                    <UIcon name="i-heroicons-information-circle-20-solid" />
                </div>
                <div class="hidden print:block text-primaire text-xs bg-neutral-100/50 px-2">En savoir plus sur ccexplorer.eu</div>
            </div>
        </div>
        <div class="w-11/12 max-w-[600px] sm:min-w-[440px] self-center flex flex-col gap-2 bg-white text-primaire rounded-2xl p-2 text-center">
            <!--            eslint-disable vue/no-v-html -->
            <p class="text-data-xl sm:text-data-2xl" v-html="infographie.message"></p>
            <BoutonInfoMethodologie
                :titre="infographie.informationsMethodologie.titre"
                :descriptif="infographie.informationsMethodologie.descriptif"
                :estPerimetreNational="infographie.informationsMethodologie.estPerimetreNational"
                :libelleBouton="infographie.informationsMethodologie.libelleBouton"
                :libelleLienComplementInformation="infographie.informationsMethodologie.libelleLienComplementInformation"
                :urlComplementInformation="infographie.informationsMethodologie.urlComplementInformation"
            />
        </div>
        <Accroche class="self-center mb-4" :accroche="infographie.accroche" />
    </div>
</template>

<script setup lang="ts">
import type { InfographieAnalogueClimatiqueModele } from '@/modeles/constats/InfographieModele';
import { NuxtLink } from '#components';
import BoutonInfoMethodologie from '~/components/diagnostics/commun/BoutonInfoMethodologie.vue';

import CarteAnalogueClimatique from '../commun/CarteAnalogueClimatique.vue';
import Accroche from './Accroche.vue';

interface Props {
    infographie: InfographieAnalogueClimatiqueModele;
}

defineProps<Props>();
</script>
