<template>
    <div>
        <TemplatePage>
            <PersonnaliserTerritoire
                v-if="!useGetStateTerritoire()"
                :fn-creer-route="(idTerritoire: string) => useRouteThematiques(idTheme, idTerritoire)"
            ></PersonnaliserTerritoire>
            <component :is="useImporterComposantThematique(idTheme)" :modele="thematiqueModele.thematiqueModele" />
            <ElementScrollable
                @evtEntrerZoneScroll="
                    () => useTracerActionMatomo('Scroll', 'Atteindre la fin d\'une thématique', `Atteindre la fin de la thématique ${$route.name}`)
                "
            >
                <div class="mt-20" data-track-content data-content-name="Conclusion diagnostics">
                    <BandeauAgir :routePartageRS="routePartageRS" />
                    <PresentationThematiques
                        class="mt-8"
                        titre-partie1-surlignee="Découvrir"
                        titre-partie2-non-surlignee="une autre thématique"
                        type-affichage="carrousel"
                    />
                </div>
            </ElementScrollable>
            <BoutonFormulaireRetour />
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import type { IdTheme } from '@lga/indicateurs';
import { computed } from 'vue';

import ElementScrollable from '@/components/navigation/ElementScrollable.vue';
import {
    type ChampsHead,
    useFetchDonneesApi,
    useGetStateTerritoire,
    useImporterComposantThematique,
    usePositionnerInfosHead,
    useRouteParamsThematiques,
    useRouteThematiques,
    useSetStateTef,
    useTracerActionMatomo
} from '@/composables';
import { creerDiagnosticThematiqueModele } from '@/modeles/DiagnosticModele';
import { useAppConfig } from '#imports';
import BandeauAgir from '~/components/diagnostics/commun/BandeauAgir.vue';
import PersonnaliserTerritoire from '~/components/diagnostics/commun/PersonnaliserTerritoire.vue';
import PresentationThematiques from '~/components/diagnostics/PresentationThematiques.vue';
import BoutonFormulaireRetour from '~/components/navigation/BoutonFormulaireRetour.vue';
import TemplatePage from '~/components/templates/TemplatePage.vue';
import { getTheme } from '~/modeles/Theme.js';

const appConfig = useAppConfig();
const params = useRouteParamsThematiques();
const idTheme: IdTheme = params.idTheme as IdTheme;

const donneesApi = await useFetchDonneesApi(params.idTerritoire || appConfig.tef.idNomFrance);

if (params.idTerritoire) {
    useSetStateTef(donneesApi.territoireApi);
}
const territoire = useGetStateTerritoire();

const thematiqueModele = computed(() => creerDiagnosticThematiqueModele(idTheme, donneesApi));

const calculerTitrePage = () => `${getTheme(idTheme)?.titre ? getTheme(idTheme)?.titre : ''} ${territoire ? ` %separator ${territoire.nom}` : ''}`;
const champsHeadThematique: ChampsHead = {
    titre: calculerTitrePage(),
    description: `Comprendre les enjeux sur le sujet "${getTheme(idTheme)?.titre.toLowerCase()}" ${territoire?.nomAvecPrepositionA ?? ''}`,
    titreRS: `Enjeux ${getTheme(idTheme)?.titre.toLowerCase()}`
};
usePositionnerInfosHead(champsHeadThematique);

const routePartageRS = useRouteThematiques(idTheme, params.idTerritoire);
</script>
