<template>
    <TemplatePageMethodologie :sections="SECTIONS" titrePage="Diagnostics Flash">
        <template #principes>
            <TexteP>
                Le diagnostic flash a pour objectif de présenter rapidement les principaux enjeux agricoles et alimentaires de chaque territoire
                français à un public varié : élus, agents territoriaux, citoyens, etc. Il s'agit d'expliquer les spécificités du territoire, notamment
                ses forces et faiblesses, tout en les recadrant dans le contexte national. Pour chaque enjeu, des initiatives inspirantes sont
                sélectionnées en regard de l'enjeu et des profils des territoires (celui sur lequel porte le diagnostic et celui où se situe
                l'initiative).
            </TexteP>

            <TexteP>
                Il est construit en présentant un constat par thématique. Chaque constat est choisi selon des règles définies aux sections suivantes.
                Ces règles sont appliquées selon le profil et les valeurs des indicateurs du territoire.
            </TexteP>

            <TitreH3>Profil du territoire</TitreH3>
            <TexteP>
                {{ PROFILS.length }} profils différents de territoire sont définis :
                <ul class="list-disc pl-16">
                    <li v-for="p in PROFILS" :key="p" class="pl-4">{{ p }}</li>
                </ul>
            </TexteP>
            <TexteP> La règle d'attribution du profil est la suivante : </TexteP>
            <div class="border-l-8 ml-4 pl-2 my-4 border-primaire">
                <ul class="pl-2">
                    <li>
                        <strong
                        >Si
                            <LienDescriptionIndicateur
                                :indicateur="INDICATEURS.adequationTheoriqueBruteProductionConsommation"
                            ></LienDescriptionIndicateur>
                            ≤ 10% :</strong
                        >
                        <div class="p-1">Profil = "URBAIN"</div>
                    </li>
                    <li>
                        <strong>Si le territoire est majoritairement viticole :</strong>
                        <div class="p-1">Profil = "VITICULTURE"</div>
                    </li>
                    <li>
                        <strong>Si le territoire est majoritairement dédiée aux grandes cultures :</strong>
                        <div class="p-1">Profil = "GRANDES_CULTURES"</div>
                    </li>
                    <li>
                        <strong>Si le territoire est majoritairement dédiée aux fruits et légumes :</strong>
                        <div class="p-1">Profil = "FRUITS_ET_LEGUMES"</div>
                    </li>
                    <li>
                        <strong>Si le territoire est majoritairement dédiée à l'élevage :</strong>
                        <ul class="p-1">
                            <li>
                                <strong>Si le nombre d'unités de gros bétail par hectare est supérieur à 1.5 :</strong>
                                <div class="p-1">Profil = "ELEVAGE_INTENSIF"</div>
                            </li>
                            <li>
                                <strong>Sinon :</strong>
                                <div class="p-1">Profil = "ELEVAGE_EXTENSIF"</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Sinon :</strong>
                        <div>Profil = "DEFAUT"</div>
                    </li>
                </ul>
            </div>
        </template>
        <template #[IDS_THEMES.terresAgricoles]>
            <TitreH3>Choix du constat {{ getTheme(IDS_THEMES.terresAgricoles)?.titre }}</TitreH3>
            <TexteP> La règle d'attribution du constat est la suivante : </TexteP>
            <div class="border-l-8 ml-4 pl-2 my-4 border-primaire">
                <ul class="pl-2">
                    <li>
                        <strong
                        >Si
                            <LienDescriptionIndicateur
                                :indicateur="INDICATEURS.adequationTheoriqueBruteProductionConsommationAssietteDemitarienne"
                            ></LienDescriptionIndicateur>
                            ≤ 100% :</strong
                        >
                        <div class="p-1">Constat = "Terres insuffisantes"</div>
                    </li>
                    <li>
                        <strong
                        >Si
                            <LienDescriptionIndicateur
                                :indicateur="INDICATEURS.adequationTheoriqueBruteProductionConsommation"
                            ></LienDescriptionIndicateur>
                            ≤ 100% :</strong
                        >
                        <div class="p-1">Constat = "Terres suffisantes si régime demitarien"</div>
                    </li>
                    <li>
                        <strong>Sinon :</strong>
                        <div class="p-1">Constat = "Terres plus que suffisantes"</div>
                    </li>
                </ul>
            </div>

            <TitreH4 :id="IDS_CONSTATS_TERRES_AGRICOLES.terresInsuffisantes">Constat Terres insuffisantes</TitreH4>
            <TexteP>
                Ce constat est utilisé pour décrire les territoires qui ne possèdent pas suffisamment de terres pour nourrir la population, même en
                changeant de régime alimentaire.
            </TexteP>
            <TexteP>
                Il se base sur l'indicateur
                <LienDescriptionIndicateur :indicateur="INDICATEURS.adequationTheoriqueBruteProductionConsommation"></LienDescriptionIndicateur>.
            </TexteP>

            <TitreH4 :id="IDS_CONSTATS_TERRES_AGRICOLES.terresPartiellementSuffisantes">Constat Terres suffisantes si régime demitarien</TitreH4>
            <TexteP>
                Ce constat est utilisé pour décrire les territoires qui ne possèdent pas suffisamment de terres pour nourrir la population avec le
                régime alimentaire et les rendements agricoles actuels, mais qui le pourraient avec un régime comptant moitié moins de produits
                animaux.
            </TexteP>
            <TexteP>
                Il se base sur les indicateurs
                <LienDescriptionIndicateur :indicateur="INDICATEURS.adequationTheoriqueBruteProductionConsommation"></LienDescriptionIndicateur>
                et
                <LienDescriptionIndicateur
                    :indicateur="INDICATEURS.adequationTheoriqueBruteProductionConsommationAssietteDemitarienne"
                ></LienDescriptionIndicateur
                >.
            </TexteP>

            <TitreH4 :id="IDS_CONSTATS_TERRES_AGRICOLES.terresSuffisantes">Constat Terres suffisantes</TitreH4>
            <TexteP>
                Ce constat est utilisé pour décrire les territoires qui possèdent en théorie suffisamment de terres pour nourrir la population avec le
                régime alimentaire et les rendements agricoles actuels.
            </TexteP>
            <TexteP>
                Il se base sur l'indicateur
                <LienDescriptionIndicateur :indicateur="INDICATEURS.adequationTheoriqueBruteProductionConsommation"></LienDescriptionIndicateur>.
            </TexteP>
        </template>
        <template #[IDS_THEMES.autonomieAlimentaire]>
            <TitreH3 :id="IDS_CONSTATS_AUTONOMIE_ALIMENTAIRE.distances"
            >Choix du constat {{ getTheme(IDS_THEMES.autonomieAlimentaire)?.titre }}</TitreH3
            >

            <TexteP>
                Un constat unique est utilisé pour décrire le fait que la majorité de notre alimentation a parcouru de longues distances avant de
                parvenir dans notre assiette, que le territoire soit agricole ou non.
            </TexteP>
            <TexteP>
                Il se base sur l'indicateur
                <LienDescriptionIndicateur :indicateur="INDICATEURS.distanceMoyenneParcourueAliments"></LienDescriptionIndicateur>.
            </TexteP>
        </template>
        <template #[IDS_THEMES.accessibilite]>
            <TitreH3>Choix du constat {{ getTheme(IDS_THEMES.accessibilite)?.titre }}</TitreH3>
            <TexteP> La règle d'attribution du constat est la suivante : </TexteP>
            <div class="border-l-8 ml-4 pl-2 my-4 border-primaire">
                <ul class="pl-2">
                    <li>
                        <strong
                        >Si la
                            <LienDescriptionIndicateur :indicateur="INDICATEURS.partPopulationDependanteVoiture"></LienDescriptionIndicateur>
                            est inférieure à 80% :</strong
                        >
                        <div class="p-1">Constat = "Précarité alimentaire"</div>
                    </li>
                    <li>
                        <strong>Sinon :</strong>
                        <div class="p-1">Constat = "Commerces alimentaires"</div>
                    </li>
                </ul>
            </div>

            <TitreH4 :id="IDS_CONSTATS_ACCESSIBILITE.precariteAlimentaire">Constat Précarité alimentaire</TitreH4>
            <TexteP>
                Ce constat est utilisé pour décrire les risques de précarité alimentaire des habitants d’un territoire donné en utilisant la
                méthodologie développée par l'<TexteLien url="https://obso-alim.org"
                >Observatoire des Solidarités Alimentaires de l'Hérault (Obsoalim34)</TexteLien
                >. Ces risques sont évalués selon 4 dimensions : monétaire, socio-économique, mobilitaire et informationnelle. Les indicateurs sont
                construits en combinant des données INSEE en libre accès et actualisées régulièrement pour garantir un accès libre à tous-tes. Les
                cartographies proviennent du projet <TexteLien url="https://obso-alim.org/estimation-precarite-alimentaire/">Obsoalim34</TexteLien>.
                En cas d'indisponiblité des données pour un territoire, un chiffre global sur la précarité alimentaire des Français est proposé par
                Territoires Fertiles.
            </TexteP>

            <TitreH4 :id="IDS_CONSTATS_ACCESSIBILITE.commercesAlimentaires">Constat Commerces alimentaire</TitreH4>
            <TexteP>
                Ce constat est utilisé pour décrire les inégalités territoriales liées aux trajets nécessaires entre le domicile des habitants et les
                commerces alimentaires les plus proches.
            </TexteP>
            <TexteP>
                Il se base sur les données
                <LienDescriptionIndicateur :indicateur="INDICATEURS.partPopulationDependanteVoiture"></LienDescriptionIndicateur>.
            </TexteP>
        </template>
        <template #[IDS_THEMES.consommation]>
            <TitreH3 :id="IDS_CONSTATS_CONSOMMATION.regimeAlimentaireTropCarne"
            >Choix du constat {{ getTheme(IDS_THEMES.consommation)?.titre }}</TitreH3
            >

            <TexteP>
                Ce constat est utilisé pour quantifier les impacts d’un changement de régime alimentaire sur l’environnement et sur les surfaces des
                terres agricoles nécessaires.
            </TexteP>
            <TexteP>
                Il a été élaboré sur base des chiffres issus de l’étude
                <TexteLien url="https://reseauactionclimat.org/wp-content/uploads/2024/02/rac_alimentation-synthese-08-webpage.pdf"
                >Comment concilier nutrition et climat&nbsp;?</TexteLien
                >
                du Réseau Action Climat et de la Société Française de Nutrition. L’assiette proposée (« diète 1 » dans l’étude) présente notamment une
                baisse de 50&nbsp;% pour la viande et la charcuterie. Elle répond aux recommandations nutritionnelles de la FAO et de l’OMS et permet
                d’améliorer notre santé tout en réduisant l’impact environnemental de notre alimentation.
            </TexteP>
        </template>
        <template #[IDS_THEMES.agriculteurs]>
            <TitreH3>Choix du constat {{ getTheme(IDS_THEMES.agriculteurs)?.titre }}</TitreH3>

            <TexteP> La règle d'attribution du constat est la suivante : </TexteP>
            <div class="border-l-8 ml-4 pl-2 my-4 border-primaire">
                <ul class="pl-2">
                    <li>
                        <strong
                        >Si
                            <LienDescriptionIndicateur :indicateur="INDICATEURS.nombreActifsAgricoles1988"></LienDescriptionIndicateur>
                            ≥ 1,5 x
                            <LienDescriptionIndicateur :indicateur="INDICATEURS.nombreActifsAgricoles2010"></LienDescriptionIndicateur>
                            :</strong
                        >
                        <div class="p-1">Constat = "Déclin de la population agricole"</div>
                    </li>
                    <li>
                        <strong>Sinon :</strong>
                        <div class="p-1">Constat = "Revenus"</div>
                    </li>
                </ul>
            </div>

            <TitreH4 :id="IDS_CONSTATS_AGRICULTEURS.evolutionPopulationAgricole">Constat Déclin de la population agricole</TitreH4>
            <TexteP> Ce constat permet de quantifier le déclin du nombre d’agriculteurs et d’agricultrices dans les différents territoires. </TexteP>
            <TexteP>
                Il se base sur les données du
                <LienDescriptionIndicateur :indicateur="INDICATEURS.nombreActifsAgricoles1988"></LienDescriptionIndicateur> et du
                <LienDescriptionIndicateur :indicateur="INDICATEURS.nombreActifsAgricoles2010"></LienDescriptionIndicateur>.
            </TexteP>

            <TitreH4 :id="IDS_CONSTATS_AGRICULTEURS.revenus">Constat Revenus</TitreH4>
            <TexteP> Ce constat permet de donner quelques chiffres clés sur les conditions de travail des agriculteurs et agricultrices. </TexteP>
        </template>
        <template #[IDS_THEMES.ressources]>
            <TitreH3>Choix du constat {{ getTheme(IDS_THEMES.ressources)?.titre }}</TitreH3>

            <TexteP> La règle d'attribution du constat est la suivante : </TexteP>
            <div class="border-l-8 ml-4 pl-2 my-4 border-primaire">
                <ul class="pl-2">
                    <li>
                        <strong>Si profil = 'VITICULTURE' :</strong>
                        <ul class="pl-2">
                            <li>
                                <strong
                                >Si la
                                    <LienDescriptionIndicateur
                                        :indicateur="INDICATEURS.tendanceEvolutionPrelevementsIrrigation"
                                    ></LienDescriptionIndicateur>
                                    ≥ 20% :</strong
                                >
                                <div class="p-1">Constat = "Prélèvements en eau"</div>
                            </li>
                            <li>
                                <strong>Sinon :</strong>
                                <div class="p-1">Constat = "Dépendances aux ressources"</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Si profil = 'ELEVAGE_INTENSIF' :</strong>
                        <div class="p-1">Constat = "Alimentation animale importée"</div>
                    </li>
                    <li>
                        <strong>Si profil = 'GRANDES_CULTURES' :</strong>
                        <ul class="pl-2">
                            <li>
                                <strong
                                >Si la
                                    <LienDescriptionIndicateur
                                        :indicateur="INDICATEURS.tendanceEvolutionPrelevementsIrrigation"
                                    ></LienDescriptionIndicateur>
                                    ≥ 50% :</strong
                                >
                                <div class="p-1">Constat = "Prélèvements en eau"</div>
                            </li>
                            <li>
                                <strong>Sinon :</strong>
                                <div class="p-1">Constat = "Engrais"</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Si profil = 'FRUITS_ET_LEGUMES' :</strong>
                        <ul class="pl-2">
                            <li>
                                <strong
                                >Si la
                                    <LienDescriptionIndicateur
                                        :indicateur="INDICATEURS.tendanceEvolutionPrelevementsIrrigation"
                                    ></LienDescriptionIndicateur>
                                    ≥ 20% :</strong
                                >
                                <div class="p-1">Constat = "Prélèvements en eau"</div>
                            </li>
                            <li>
                                <strong>Sinon :</strong>
                                <div class="p-1">Constat = "Dépendances aux ressources"</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Si profil = 'DEFAUT' :</strong>
                        <ul class="pl-2">
                            <li>
                                <strong
                                >Si la
                                    <LienDescriptionIndicateur
                                        :indicateur="INDICATEURS.tendanceEvolutionPrelevementsIrrigation"
                                    ></LienDescriptionIndicateur>
                                    ≥ 100% :</strong
                                >
                                <div class="p-1">Constat = "Prélèvements en eau"</div>
                            </li>
                            <li>
                                <strong>Sinon :</strong>
                                <div class="p-1">Constat = "Engrais"</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>Sinon :</strong>
                        <div class="p-1">Constat = "Dépendance aux ressources"</div>
                    </li>
                </ul>
            </div>

            <TitreH4 :id="IDS_CONSTATS_RESSOURCES.dependancesRessources">Constat Dépendance aux ressources</TitreH4>
            <TexteP>
                Ce constat permet de comprendre les dépendances de l’agriculture française aux intrants dont les engrais azotés de synthèse, le
                pétrole et les pesticides.
            </TexteP>

            <TitreH4 :id="IDS_CONSTATS_RESSOURCES.alimentationAnimaleImportee">Constat Alimentation animale importée</TitreH4>
            <TexteP>
                Ce constat met en valeur les dépendances de la production agricole française aux importations de soja majoritairement en provenance
                d’Amérique du Sud.
            </TexteP>

            <TitreH4 :id="IDS_CONSTATS_RESSOURCES.prelevementsEau">Constat Prélèvements en eau</TitreH4>
            <TexteP> Ce constat permet de comprendre les dépendances aux ressources en eau pour l’irrigation des cultures agricoles locales. </TexteP>
            <TexteP>
                Il est basé sur la
                <LienDescriptionIndicateur :indicateur="INDICATEURS.tendanceEvolutionPrelevementsIrrigation"></LienDescriptionIndicateur>.
            </TexteP>
        </template>
        <template #[IDS_THEMES.biodiversite]>
            <TitreH3>Choix du constat {{ getTheme(IDS_THEMES.biodiversite)?.titre }}</TitreH3>

            <TexteP> La règle d'attribution du constat est la suivante : </TexteP>
            <div class="border-l-8 ml-4 pl-2 my-4 border-primaire">
                <ul class="pl-2">
                    <li>
                        <strong
                        >Si territoire France ou
                            <LienDescriptionIndicateur :indicateur="INDICATEURS.hvn"></LienDescriptionIndicateur> indisponible :</strong
                        >
                        <div class="p-1">Constat = "Haies"</div>
                    </li>
                    <li>
                        <strong>Sinon :</strong>
                        <div class="p-1">Constat = "Paysages agricoles"</div>
                    </li>
                </ul>
            </div>

            <TitreH4 :id="IDS_CONSTATS_BIODIVERSITE.haies">Constat Haies</TitreH4>
            <TexteP>Ce constat permet de décrire l’impact de l’agriculture sur la biodiversité au travers de la problématique des haies.</TexteP>

            <TitreH4 :id="IDS_CONSTATS_BIODIVERSITE.paysagesAgricoles">Constat Paysages agricoles</TitreH4>
            <TexteP>Ce constat permet de comprendre les impacts locaux des cultures agricoles sur la biodiversité. </TexteP>
            <TexteP>
                Il se base sur l'<LienDescriptionIndicateur :indicateur="INDICATEURS.hvn"></LienDescriptionIndicateur> et dans certains cas sur
                l’<LienDescriptionIndicateur :indicateur="INDICATEURS.noduNormalise"></LienDescriptionIndicateur>.</TexteP
            >
        </template>
        <template #[IDS_THEMES.climat]>
            <TitreH3>Choix du constat {{ getTheme(IDS_THEMES.climat)?.titre }}</TitreH3>

            <TexteP>Un seul constat est utilisé pour illustrer l'impact du changement climatique : les analogues climatiques. </TexteP>

            <TitreH4 :id="IDS_CONSTATS_CLIMAT.analogueClimatique">Constat Analogues climatiques</TitreH4>
            <TexteP>
                Ce constat permet de se rendre compte des conséquences locales du dérèglement climatique en montrant la ville dont le climat actuel
                sera le plus semblable à celui du territoire en 2050.
            </TexteP>
            <TexteP>
                Les données utilisées proviennent du laboratoire de recherche
                <TexteLien url="https://ccexplorer.eu/#">Climate Change Explorer</TexteLien>.
            </TexteP>
        </template>
    </TemplatePageMethodologie>
</template>

<script setup lang="ts">
import {
    IDS_CONSTATS_ACCESSIBILITE,
    IDS_CONSTATS_AGRICULTEURS,
    IDS_CONSTATS_AUTONOMIE_ALIMENTAIRE,
    IDS_CONSTATS_BIODIVERSITE,
    IDS_CONSTATS_CLIMAT,
    IDS_CONSTATS_CONSOMMATION,
    IDS_CONSTATS_RESSOURCES,
    IDS_CONSTATS_TERRES_AGRICOLES,
    IDS_THEMES,
    INDICATEURS
} from '@lga/indicateurs';

import { usePositionnerInfosHead, useRouteAccueil } from '@/composables';
import TexteLien from '~/components/base/TexteLien.vue';
import TexteP from '~/components/base/TexteP.vue';
import TitreH3 from '~/components/base/TitreH3.vue';
import TitreH4 from '~/components/base/TitreH4.vue';
import LienDescriptionIndicateur from '~/components/methodologie/liens/LienDescriptionIndicateur.vue';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';
import { getTheme } from '~/modeles/Theme.js';

usePositionnerInfosHead({
    titre: 'Méthodologie, diagnostic flash',
    routeUrlCanonique: useRouteAccueil()
});

const PROFILS = ['Urbain', 'Viticulture', 'Élevage intensif', 'Élevage extensif', 'Grandes cultures', 'Fruits & Légumes', 'Défaut'];

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: 'principes',
        libelle: 'Introduction'
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_THEMES.terresAgricoles,
        libelle: `${getTheme(IDS_THEMES.terresAgricoles)?.titre}`
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_THEMES.autonomieAlimentaire,
        libelle: `${getTheme(IDS_THEMES.autonomieAlimentaire)?.titre}`
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_THEMES.accessibilite,
        libelle: `${getTheme(IDS_THEMES.accessibilite)?.titre}`
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_THEMES.consommation,
        libelle: `${getTheme(IDS_THEMES.consommation)?.titre}`
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_THEMES.ressources,
        libelle: `${getTheme(IDS_THEMES.ressources)?.titre}`
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_THEMES.biodiversite,
        libelle: `${getTheme(IDS_THEMES.biodiversite)?.titre}`
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_THEMES.climat,
        libelle: `${getTheme(IDS_THEMES.climat)?.titre}`
    }
];
</script>
