<template>
    <section :id="modele.idTheme" class="flex items-center gap-2">
        <div class="bg-sable-100 w-full p-8">
            <div class="max-w-[700px] flex flex-col m-auto">
                <div v-if="modele.titre" class="my-4 mx-auto text-lg bg-primaire-100 text-primaire w-fit rounded-full px-4 py-1">
                    {{ theme?.titre }}
                </div>
                <ConstatMessage :modele="modele.message" :id-theme="modele.idTheme"></ConstatMessage>
            </div>
        </div>
        <div class="w-full h-fit m-auto p-4 sm:p-6 flex flex-col items-center justify-center relative bg-sable-50">
            <div class="max-w-[700px]">
                <component
                    :is="useImporterComposantInfographie(modele.infographie.nomComposant)"
                    v-if="modele.infographie"
                    :infographie="modele.infographie"
                />
            </div>
        </div>
    </section>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import { useImporterComposantInfographie } from '@/composables';
import type { ConstatModele } from '@/modeles/constats/ConstatModele';
import type { InfographieModele } from '@/modeles/constats/InfographieModele';
import { getTheme } from '~/modeles/Theme.js';

import ConstatMessage from './ConstatMessage.vue';

interface ConstatProps {
    numero: number;
    modele: ConstatModele<InfographieModele>;
}

const props = defineProps<ConstatProps>();

const theme = computed(() => getTheme(props.modele.idTheme));
</script>
