<template>
    <ElementScrollable @evtEntrerZoneScroll="() => majAVuTitre()">
        <UCarousel
            :id="modele.idTheme"
            ref="carousel"
            v-slot="{ index }"
            class="w-full h-[500px]"
            :items="modele.infographie ? Array(3) : Array(2)"
            :ui="{
                container: 'h-full',
                item: `w-full h-[calc(100%-16px)] p-4 sm:p-16`,
                indicators: {
                    wrapper: 'gap-2',
                    base: 'rounded-full h-2 w-2',
                    active: 'bg-accent',
                    inactive: 'bg-sable-300 mix-blend-normal'
                }
            }"
            indicators
        >
            <div class="w-full rounded-lg bg-sable-50 overflow-hidden">
                <div v-if="index === 0" class="relative h-full">
                    <BlocLienImage class="h-full w-full" :label="theme?.titre" :titre="modele.titre.libelle" :image="modele.titre.image" />
                    <div
                        class="absolute bottom-0 right-0 text-accent font-bold text-sm flex items-center gap-1 pb-1 pr-2 pl-8 pt-8 cursor-pointer"
                        @click="() => carousel.next()"
                    >
                        <span>Réponse</span>
                        <UIcon name="i-heroicons-arrow-right" class="text-base"></UIcon>
                    </div>
                </div>
                <div v-else-if="index === 1 && modele.infographie" class="relative h-full">
                    <component :is="useImporterComposantInfographie(modele.infographie.nomComposant)" :infographie="modele.infographie" />
                    <div
                        class="absolute bottom-0 right-0 text-accent font-bold text-sm flex items-center gap-1 pb-1 pr-2 pl-8 pt-8 cursor-pointer"
                        @click="() => carousel.next()"
                    >
                        <span>Explications</span>
                        <UIcon name="i-heroicons-arrow-right" class="text-base"></UIcon>
                    </div>
                </div>
                <ConstatMessage v-else :modele="modele.message" :id-theme="modele.idTheme"></ConstatMessage>
            </div>
        </UCarousel>
    </ElementScrollable>
</template>

<script setup lang="ts">
import type { ConstatModele } from '@/modeles/constats/ConstatModele';
import type { InfographieModele } from '@/modeles/constats/InfographieModele';
import { UCarousel } from '#components';
import { computed, ref, useImporterComposantInfographie, useTracerActionMatomo, watch } from '#imports';
import ElementScrollable from '~/components/navigation/ElementScrollable.vue';
import { getTheme } from '~/modeles/Theme.js';

import BlocLienImage from '../../base/BlocLienImage.vue';
import ConstatMessage from './ConstatMessage.vue';

interface ConstatProps {
    numero: number;
    modele: ConstatModele<InfographieModele>;
}

const props = defineProps<ConstatProps>();

const theme = computed(() => getTheme(props.modele.idTheme));

const carousel = ref(UCarousel);

const aVuTitre = ref(false);
const aVuInfographie = ref(false);
const aVuMessage = ref(false);

const majAVuTitre = () => (aVuTitre.value = true);

watch(
    () => carousel.value.page,
    () => {
        if (carousel.value.page === 2) aVuInfographie.value = true;
        if (carousel.value.page === 3) aVuMessage.value = true;
    }
);

watch(
    () => aVuTitre.value,
    () => {
        if (aVuTitre.value) {
            useTracerActionMatomo('Swipe', `Vue Titre Constat Mobile`, `Vue Titre Constat Mobile ${props.modele.idTheme}`);
        }
    }
);

watch(
    () => aVuInfographie.value,
    () => {
        if (aVuInfographie.value) {
            useTracerActionMatomo('Swipe', `Vue Infographie Constat Mobile`, `Vue Infographie Constat Mobile ${props.modele.idTheme}`);
        }
    }
);

watch(
    () => aVuMessage.value,
    () => {
        if (aVuMessage.value) {
            useTracerActionMatomo('Swipe', `Vue Message Constat Mobile`, `Vue Message Constat Mobile ${props.modele.idTheme}`);
        }
    }
);
</script>
