<template>
    <div>
        <ConstatMobile :numero="numero" :modele="modele" class="block sm:hidden"></ConstatMobile>
        <ConstatTablette :numero="numero" :modele="modele" class="hidden sm:grid xl:hidden"></ConstatTablette>
        <ConstatDesktop :numero="numero" :modele="modele" class="hidden xl:grid"></ConstatDesktop>
    </div>
</template>

<script setup lang="ts">
import type { ConstatModele } from '@/modeles/constats/ConstatModele';
import type { InfographieModele } from '@/modeles/constats/InfographieModele';

import ConstatDesktop from './ConstatDesktop.vue';
import ConstatMobile from './ConstatMobile.vue';
import ConstatTablette from './ConstatTablette.vue';

interface ConstatProps {
    numero: number;
    modele: ConstatModele<InfographieModele>;
}

defineProps<ConstatProps>();
</script>
