<template>
    <div class="contents">
        <ULink class="contents" @click="estOuvert = true">
            <span class="text-md text-accent hover:text-primaire">{{ indicateur?.libelle ?? '' }} </span>
        </ULink>
        <ModaleInformation
            v-if="indicateur"
            v-model="estOuvert"
            :titre="indicateur?.libelle"
            :descriptif="indicateur?.description"
            :descriptifDetaille="indicateur?.descriptionDetaillee"
            libelleLienComplementInformation="Voir la méthode de calcul"
            :urlComplementInformation="indicateur.estIndicateurNational ? '' : urlMethodologieIndicateur"
        />
    </div>
</template>

<script setup lang="ts">
import type { DefinitionIndicateur } from '@lga/indicateurs';

import { calculerComplementUrlCRATer } from '~/modeles/liens-utils.js';

import ModaleInformation from '../../base/ModaleInformation.vue';

interface Props {
    indicateur: DefinitionIndicateur;
}
const props = defineProps<Props>();

const estOuvert = defineModel<boolean>({ default: false });

const urlMethodologieIndicateur = calculerComplementUrlCRATer(props.indicateur);
</script>
