<template>
    <TexteLien :url="useRouteMethodologiePresentationGenerale(ID_SURFACES_AGRICOLES)">
        {{ libelle ?? 'nomenclature des surfaces agricoles' }}
    </TexteLien>
</template>

<script setup lang="ts">
import { useRouteMethodologiePresentationGenerale } from '#imports';

import TexteLien from '../../base/TexteLien.vue';
import { ID_SURFACES_AGRICOLES } from '../methodologie-utils.js';

interface Props {
    libelle?: string;
}

defineProps<Props>();
</script>
