<template>
    <TexteLien :url="useRouteMethodologiePresentationGenerale(ID_FLUX_AZOTE)"> {{ libelle ?? "Flux d'azote issus du modèle MacDyn-Fs" }} </TexteLien>
</template>

<script setup lang="ts">
import { useRouteMethodologiePresentationGenerale } from '#imports';

import TexteLien from '../../base/TexteLien.vue';
import { ID_FLUX_AZOTE } from '../methodologie-utils.js';

interface Props {
    libelle?: string;
}

defineProps<Props>();
</script>
