<template>
    <div class="flex flex-col gap-4 py-8 sm:pb-16 px-2 text-center max-w-4xl m-auto">
        <h2 class="font-serif text-3xl sm:text-5xl text-primaire">
            {{ titrePartie1NonSurlignee }} <TexteStabilo v-if="titrePartie2Surlignee" couleur="jaune"> {{ titrePartie2Surlignee }}</TexteStabilo>
            {{ titrePartie3NonSurlignee }}
        </h2>
        <p class="text-base sm:text-xl text-primaire m-auto">
            <slot></slot>
        </p>
    </div>
</template>

<script setup lang="ts">
import TexteStabilo from '~/components/base/TexteStabilo.vue';

defineProps<{
    titrePartie1NonSurlignee?: string;
    titrePartie2Surlignee?: string;
    titrePartie3NonSurlignee?: string;
}>();
</script>
