<template>
    <Bloc class="bg-white" ombrage>
        <div class="flex flex-row flex-wrap w-full p-4 gap-x-6 gap-y-4">
            <NuxtPicture
                class="w-[200px]"
                :src="props.image.url"
                loading="lazy"
                :alt="props.image.descriptionAlt"
                :width="props.image.resolutionX"
                :height="props.image.resolutionY"
                sizes="200px"
                densities="x1 x2"
            />
            <div class="basis-[300px] grow flex flex-col gap-3 text-primaire">
                <p class="font-bold text-lg sm:text-xl">{{ props.titre }}</p>
                <div v-if="props.localisation" class="flex flex-row items-center gap-1 text-primaire-300">
                    <UIcon name="i-heroicons-map-pin" class="text-2xl"></UIcon>
                    <span class="text-sm">{{ props.localisation }}</span>
                </div>
                <p class="text-sm sm:text-base">{{ props.description }}</p>
                <p v-if="props.source" class="text-xs -mt-2">{{ props.source }}</p>
                <UButton
                    class="self-start"
                    color="accent"
                    variant="link"
                    trailing-icon="i-heroicons-arrow-top-right-on-square"
                    size="xl"
                    :label="props.libelleUrl ? props.libelleUrl : 'Lire le témoignage'"
                    :to="props.url"
                    target="_blank"
                    :padded="false"
                />
            </div>
        </div>
    </Bloc>
</template>

<script setup lang="ts">
import type { ImageModele } from '@lga/base';

import { NuxtPicture } from '#components';
import Bloc from '~/components/base/Bloc.vue';

export interface BlocResumeInitiativeProps {
    titre: string;
    localisation?: string;
    description: string;
    source?: string;
    url: string;
    libelleUrl?: string;
    image: ImageModele;
}

const props = defineProps<BlocResumeInitiativeProps>();
</script>
