<template>
    <CarteTitreEtLegende titre="Niveau de risque de précarité alimentaire" :styleCarte="styleCartePrecariteAlimentaire">
        <CarteChoroplethe
            :territoire="territoire"
            urlIndicateur="consommation.codeNiveauRisquePrecariteAlimentaire"
            :styleCarte="styleCartePrecariteAlimentaire"
            :attributionHtml="attributionHtml"
        >
        </CarteChoroplethe>
    </CarteTitreEtLegende>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { styleCartePrecariteAlimentaire } from '@lga/indicateurs';
import type { TerritoireApi } from '@lga/specification-api';
import { computed } from 'vue';

import CarteChoroplethe from '~/components/cartes/CarteChoroplethe.vue';

import CarteTitreEtLegende from '../../cartes/CarteTitreEtLegende.vue';

interface Props {
    territoire: TerritoireApi;
}

const props = defineProps<Props>();

const attributionHtml = computed(() => {
    let urlObsoAlim = 'https://diagnostic.obso-alim.org/cartographie';
    if ('departement' in props.territoire) {
        const codeDepartement = props.territoire.departement.idCode.split('-')[1];
        urlObsoAlim = `https://diagnostic.obso-alim.org/territoire/${codeDepartement}?ancreFacteur=synthetique`;
    } else if (props.territoire.categorie === 'DEPARTEMENT') {
        const codeDepartement = props.territoire.idCode.split('-')[1];
        urlObsoAlim = `https://diagnostic.obso-alim.org/territoire/${codeDepartement}?ancreFacteur=synthetique`;
    }
    return htmlstring`En savoir plus sur <a href="${urlObsoAlim}" target="_blank" rel="noopener noreferrer">diagnostic.obso-alim.org</a>`;
});
</script>
