<template>
    <main class="w-full flex flex-col gap-0 items-center justify-center relative">
        <div class="print:hidden absolute top-0 z-10 w-full overflow-hidden grid place-items-center">
            <picture class="w-[calc(100%+10px)] -mt-[1px]">
                <source :media="`(max-width: ${MAX_LARGEUR_MOBILE}px)`" srcset="/images/accueil-territoire/ligne-crete-couleur-primaire.svg" />
                <source :media="`(max-width: ${MAX_LARGEUR_TABLETTE}px)`" srcset="/images/accueil-territoire/ligne-crete-sm-couleur-primaire.svg" />
                <source :media="`(max-width: ${MAX_LARGEUR_DESKTOP}px)`" srcset="/images/accueil-territoire/ligne-crete-lg-couleur-primaire.svg" />
                <source
                    :media="`(min-width: ${MAX_LARGEUR_DESKTOP + 1}px)`"
                    srcset="/images/accueil-territoire/ligne-crete-2xl-couleur-primaire.svg"
                />
                <img alt="ligne-crete" class="w-full" />
            </picture>
        </div>
        <CarteFocusTerritoire
            :decentrerTerritoireVersLaGauche="true"
            :territoire="territoire"
            :class="`w-full ${afficherChartOccupationSols ? 'min-h-[300px] xl:min-h-[80vh]' : 'min-h-[300px] xl:min-h-[500px]'} opacity-70`"
        />
        <div
            :class="`xl:absolute grid justify-center ${afficherChartOccupationSols ? 'content-center' : ''} right-0 top-0 h-full xl:w-[50%] print:top-auto py-4`"
        >
            <div class="flex flex-col gap-4 px-2 sm:p-8 sm:pt-12 max-w-[540px]">
                <Bloc
                    class="text-center xl:text-left xl:bg-white/90 print:bg-white/80 rounded-xl xl:rounded-lg xl:shadow-ombre-carte-m print:shadow-none"
                >
                    <div class="flex flex-col gap-2 p-4">
                        <!--            eslint-disable vue/no-v-html -->
                        <div class="font-sans text-base sm:text-lg text-primaire max-w-[640px]">
                            <div v-html="descriptionTerritoire.messageIdentiteTerritoire"></div>
                            <div v-html="descriptionTerritoire.messageOccupationSolsEtAgricultureTerritoire"></div>
                        </div>
                    </div>
                </Bloc>
                <Bloc
                    v-if="
                        descriptionTerritoire.occupationSols.superficieArtificialiseeClcHa !== null &&
                            descriptionTerritoire.occupationSols.superficieAgricoleClcHa !== null &&
                            descriptionTerritoire.occupationSols.superficieNaturelleOuForestiereClcHa !== null &&
                            props.afficherChartOccupationSols
                    "
                    class="bg-white/90 print:bg-white/80 rounded-xl xl:rounded-lg"
                    ombrage
                >
                    <div class="p-4 text-center">
                        <h3 class="text-xl text-primaire font-bold">Occupation des sols</h3>
                        <ChartOccupationSols
                            :superficie-artificialisee-ha="descriptionTerritoire.occupationSols.superficieArtificialiseeClcHa"
                            :superficie-agricole-ha="descriptionTerritoire.occupationSols.superficieAgricoleClcHa"
                            :superficie-naturelle-ou-forestiere-ha="descriptionTerritoire.occupationSols.superficieNaturelleOuForestiereClcHa"
                        />
                        <BoutonInfoMethodologie
                            class="self-end"
                            :titre="informationsMethodologieChartOccupationSols.titre"
                            :descriptif="informationsMethodologieChartOccupationSols.descriptif"
                            :estPerimetreNational="informationsMethodologieChartOccupationSols.estPerimetreNational"
                            :libelleBouton="informationsMethodologieChartOccupationSols.libelleBouton"
                            :libelleLienComplementInformation="informationsMethodologieChartOccupationSols.libelleLienComplementInformation"
                            :urlComplementInformation="informationsMethodologieChartOccupationSols.urlComplementInformation"
                        />
                    </div>
                </Bloc>
            </div>
        </div>
    </main>
</template>

<script setup lang="ts">
import { formaterNombreSelonValeurString, htmlstring } from '@lga/base';
import { INDICATEURS, SOURCES_DONNEES, SOURCES_DONNEES_RETRAITEES } from '@lga/indicateurs';
import type { TerritoireBase } from '@lga/territoires';

import Bloc from '@/components/base/Bloc.vue';
import type { DescriptionTerritoire } from '@/modeles/DiagnosticModele';
import { calculerLibelleSourcesIndicateur } from '~/modeles/liens-utils.js';

import CarteFocusTerritoire from '../../cartes/CarteFocusTerritoire.vue';
import BoutonInfoMethodologie, { type InformationsMethodologieBouton } from './BoutonInfoMethodologie.vue';
import ChartOccupationSols from './ChartOccupationSols.vue';

interface Props {
    territoire: TerritoireBase;
    descriptionTerritoire: DescriptionTerritoire;
    afficherChartOccupationSols?: boolean;
}
const props = withDefaults(defineProps<Props>(), { afficherChartOccupationSols: false });

const MAX_LARGEUR_MOBILE = 400;
const MAX_LARGEUR_TABLETTE = 800;
const MAX_LARGEUR_DESKTOP = 1200;

const informationsMethodologieChartOccupationSols: InformationsMethodologieBouton = {
    titre: 'Occupation des sols',
    descriptif: htmlstring`
        <p>${INDICATEURS.occupationSols.description}</p>
        <br>
        <p>Source : ${calculerLibelleSourcesIndicateur(INDICATEURS.occupationSols)}.</p>
        <br>
        <p>N. B. : la surface agricole recensée peut significativement différer selon les sources utilisées. Elle est ainsi de :
        <ul>
        <li>${formaterNombreSelonValeurString(props.descriptionTerritoire.occupationSols.superficieAgricoleClcHa)} ha selon l'${SOURCES_DONNEES.corineLandCover.nom} (${SOURCES_DONNEES.corineLandCover.annees}) ;</li>
        <li>${formaterNombreSelonValeurString(props.descriptionTerritoire.occupationSols.superficieAgricoleRA2020Ha)} ha selon les ${SOURCES_DONNEES.sau_ra.nom} (${SOURCES_DONNEES.sau_ra.annees}) ;</li>
        <li>${formaterNombreSelonValeurString(props.descriptionTerritoire.sauTotaleHa)} ha selon le ${SOURCES_DONNEES_RETRAITEES.surfaces_agricoles_crater.nom} (${SOURCES_DONNEES_RETRAITEES.surfaces_agricoles_crater.annees}).</li>
        </ul>
        </p>`,
    libelleBouton: 'Chiffres'
};
</script>
