<template>
    <div id="conteneur-chart-occupation-sols" class="w-[300px] sm:w-[400px]">
        <ClientOnly>
            <apexchart width="100%" type="bar" :options="options" :series="series"></apexchart>
            <template #fallback>
                <p class="w-full h-[250px] text-center">Occupation des sols du territoire</p>
            </template>
        </ClientOnly>
    </div>
</template>

<script setup lang="ts">
import { calculerPartsArray, formaterNombreEnEntierString } from '@lga/base';
import type { ApexOptions } from 'apexcharts';
import { computed } from 'vue';

import { ClientOnly } from '#components';
import { _gris, _jaune, _primaire } from '#tailwind-config/theme/colors';
import { _sans } from '#tailwind-config/theme/fontFamily';

interface Props {
    superficieArtificialiseeHa: number;
    superficieAgricoleHa: number;
    superficieNaturelleOuForestiereHa: number;
}

const props = defineProps<Props>();

const partsSuperficies = computed<number[]>(() => {
    return calculerPartsArray([props.superficieArtificialiseeHa, props.superficieAgricoleHa, props.superficieNaturelleOuForestiereHa], 0);
});

const series = computed<ApexAxisChartSeries>(() => {
    return [
        {
            data: partsSuperficies.value
        }
    ];
});

const categories = computed(() => [
    ['Surface', 'artificialisée'],
    ['Surface', 'agricole'],
    ['Surface naturelle', 'ou forestière']
]);

const options = computed<ApexOptions>(() => {
    return {
        chart: {
            id: 'chart-occupation-sols',
            toolbar: {
                show: false
            }
        },
        plotOptions: {
            bar: {
                distributed: true,
                borderRadius: 10,
                borderRadiusApplication: 'end',
                dataLabels: {
                    position: 'top'
                }
            }
        },
        dataLabels: {
            enabled: true,
            offsetY: -40,
            style: {
                fontFamily: _sans,
                fontSize: '24px',
                fontWeight: 'bold',
                colors: [_primaire.DEFAULT]
            },
            formatter: function (val) {
                return formaterNombreEnEntierString(val as number) + ' %';
            }
        },
        colors: [_gris[300], _jaune[500], _primaire[300]],
        xaxis: {
            categories: categories.value,
            position: 'bottom',
            axisBorder: {
                show: true,
                strokeWidth: 2,
                color: _primaire.DEFAULT
            },
            axisTicks: {
                show: false
            },
            tooltip: {
                enabled: false
            },
            labels: {
                show: true,
                style: {
                    colors: [_primaire.DEFAULT],
                    fontSize: '14px',
                    fontFamily: _sans
                }
            }
        },
        yaxis: {
            show: false,
            min: 0,
            max: Math.max(...partsSuperficies.value) * 1.1
        },
        grid: {
            show: false
        },
        legend: {
            show: false
        },
        tooltip: {
            enabled: false
        }
    };
});
</script>

<style>
#conteneur-chart-occupation-sols .apexcharts-xaxis > line {
    -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}
</style>
