<template>
    <div class="w-full h-fit bg-sable-50 text-primaire text-center flex flex-col items-center px-2 py-6 gap-4">
        <div class="font-bold text-2xl">Personnalisez cette page pour votre territoire</div>
        <div>
            <div>Entrez le nom de votre territoire pour découvrir des contenus et données territorialisés.</div>
        </div>
        <div class="xl:w-[350px]"><ChampRechercheTerritoire taille="s" :fnCreerRoute="props.fnCreerRoute" /></div>
    </div>
</template>

<script setup lang="ts">
import '@lga/commun/build/composants/champ-recherche-territoire/ChampRechercheTerritoire.js';

import ChampRechercheTerritoire, { type FonctionCreationRoute } from '~/components/navigation/ChampRechercheTerritoire.vue';

const props = defineProps<{ fnCreerRoute: FonctionCreationRoute }>();
</script>
