<template>
    <section class="flex flex-col items-center justify-center gap-0 sm:px-4 py-8 sm:py-20">
        <BlocTitreSousTitreSection
            titrePartie1NonSurlignee="Des"
            titrePartie2Surlignee="ressources"
            titrePartie3NonSurlignee=" pour vos transitions&nbsp;!"
        >
            Nous avons développé des outils et contenus complémentaires pour vous aider à chaque étape de votre projet.
        </BlocTitreSousTitreSection>
        <div class="flex flex-row flex-wrap items-center justify-center gap-4 sm:gap-8 px-4">
            <BlocTexteEtBouton
                titre="Diagnostic détaillé (CRATer)"
                texte="Analyser votre territoire au travers de graphiques et de cartes détaillées pour tout comprendre."
                libelle-bouton="Diagnostiquer"
                :url-bouton="useRouteDiagnostics(props.idTerritoire)"
                @click="() => useTracerNavigationMatomo($route.name, `RessourcesPourTransitions`, `diagnostiquer`)"
            >
                <SvgDecouvrirCrater filled />
            </BlocTexteEtBouton>
            <BlocTexteEtBouton
                titre="Simulateur d'action (PARCEL)"
                texte="Évaluer les surfaces agricoles nécessaires, les emplois créés et les impacts écologiques associés aux changements de mode de production."
                libelle-bouton="Simuler"
                :url-bouton="useRouteSimulateur(props.idTerritoire)"
                @click="() => useTracerNavigationMatomo($route.name, `RessourcesPourTransitions`, `simulation`)"
            >
                <SvgDecouvrirParcel filled />
            </BlocTexteEtBouton>
            <BlocTexteEtBouton
                titre="Initiatives inspirantes"
                texte="Des témoignages de projets concrets pour vous aider à imaginer vos transitions agricoles et alimentaires."
                libelle-bouton="S'inspirer"
                :url-bouton="useRouteInitiatives(props.idTerritoire)"
                @click="() => useTracerNavigationMatomo($route.name, `RessourcesPourTransitions`, `initiatives`)"
            >
                <SvgTemoignagesEtOutils filled />
            </BlocTexteEtBouton>
        </div>
    </section>
</template>
<script setup lang="ts">
import SvgDecouvrirCrater from 'assets/illustrations/decouvrir-crater.svg';
import SvgDecouvrirParcel from 'assets/illustrations/decouvrir-parcel.svg';
import SvgTemoignagesEtOutils from 'assets/illustrations/temoignages-et-outils.svg';

import BlocTexteEtBouton from '@/components/base/BlocTexteEtBouton.vue';
import { useRouteDiagnostics, useRouteInitiatives, useRouteSimulateur, useTracerNavigationMatomo } from '@/composables';

import BlocTitreSousTitreSection from './BlocTitreSousTitreSection.vue';

const props = defineProps<{ idTerritoire?: string; idTerritoireParcel?: string }>();
</script>
