<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test du BurgerMenu</h1>
        <main class="m-10 p-5 w-96 bg-neutral-50">
            <BurgerMenu :arborescence-site="ARBORESCENCE_TEST" />
        </main>
    </div>
</template>

<script setup lang="ts">
import BurgerMenu from '@/components/navigation/BurgerMenu.vue';

import { ARBORESCENCE_TEST } from './menu-utils';
</script>
