<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test du ChampRechercheTerritoire</h1>
        <main class="m-10 p-5 w-96 bg-neutral-50">
            <p>Champ taille par défaut (m)</p>
            <ChampRechercheTerritoire />
        </main>
        <main class="m-10 p-5 w-80 bg-neutral-50">
            <p>Champ taille s</p>
            <ChampRechercheTerritoire taille="s" />
        </main>
    </div>
</template>

<script setup lang="ts">
import ChampRechercheTerritoire from '@/components/navigation/ChampRechercheTerritoire.vue';
</script>
