<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test EnteteMenu</h1>
        <main class="m-10 p-5 w-full bg-neutral-50">
            <EnteteMenu :arborescence-site="ARBORESCENCE_TEST" />
        </main>
    </div>
</template>

<script setup lang="ts">
import EnteteMenu from '@/components/navigation/EnteteMenu.vue';

import { ARBORESCENCE_TEST } from './menu-utils';
</script>
