<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test du MenuMethodologie</h1>
        <main class="m-10 p-5 w-96 bg-neutral-50">
            <MenuMethodologie :sousMenus="sousMenu" />
        </main>
    </div>
</template>

<script setup lang="ts">
import MenuMethodologie from '~/components/navigation/PagesMenu.vue';
import type { SousMenu } from '~/modeles/navigation/MenuModele';

const sousMenu: SousMenu[] = [
    {
        type: 'SOUS_MENU',
        libelle: 'Présentation générale',
        sousItems: [
            {
                type: 'LIEN_PAGE',
                libelle: 'Diagnostic flash',
                route: '/lien1'
            },
            {
                type: 'LIEN_PAGE',
                libelle: 'Sources de données',
                route: '/lien2'
            }
        ]
    },
    {
        type: 'SOUS_MENU',
        libelle: 'Les indicateurs',
        sousItems: [
            {
                type: 'LIEN_PAGE',
                libelle: 'Terres agricoles',
                route: '/lien3',
                estActif: true
            },
            {
                type: 'LIEN_PAGE',
                libelle: 'Intrants',
                route: '/lien4'
            }
        ]
    }
];
</script>
