<template>
    <ul class="flex flex-row flex-wrap items-center justify-center gap-4">
        <!--        TODO : basculer sur un v-for pour simplifier le template et le script - mas voir comment injecter correctement l'icone-->
        <li v-if="estVisibleBoutonRS(LINKEDIN, props.mode)">
            <BoutonNuxt
                libelle=""
                :to="getUrl(LINKEDIN, props.mode, urlAPartager)"
                :taille="props.taille"
                :type="type"
                :couleur="props.couleur"
                target="_blank"
                @click="tracerActionPartageRS(props.mode, LINKEDIN.nom)"
            >
                <IconeLinkedin />
            </BoutonNuxt>
        </li>
        <li v-if="estVisibleBoutonRS(INSTAGRAM, props.mode)">
            <BoutonNuxt
                libelle=""
                :to="getUrl(INSTAGRAM, props.mode, urlAPartager)"
                :taille="props.taille"
                :type="type"
                :couleur="props.couleur"
                target="_blank"
                @click="tracerActionPartageRS(props.mode, INSTAGRAM.nom)"
            >
                <IconeInstagram />
            </BoutonNuxt>
        </li>
        <li v-if="estVisibleBoutonRS(FACEBOOK, props.mode)">
            <BoutonNuxt
                libelle=""
                :to="getUrl(FACEBOOK, props.mode, urlAPartager)"
                :taille="props.taille"
                :type="type"
                :couleur="props.couleur"
                target="_blank"
                @click="tracerActionPartageRS(props.mode, FACEBOOK.nom)"
            >
                <IconeFacebook />
            </BoutonNuxt>
        </li>
        <li v-if="estVisibleBoutonRS(TWITTER, props.mode)">
            <BoutonNuxt
                libelle=""
                :to="getUrl(TWITTER, props.mode, urlAPartager, nomTerritoireAvecPrepositionDe)"
                :taille="props.taille"
                :type="type"
                :couleur="props.couleur"
                target="_blank"
                @click="tracerActionPartageRS(props.mode, TWITTER.nom)"
            >
                <IconeTwitter />
            </BoutonNuxt>
        </li>
        <li v-if="estVisibleBoutonRS(WHATSAPP, props.mode)">
            <BoutonNuxt
                libelle=""
                :to="getUrl(WHATSAPP, props.mode, urlAPartager, nomTerritoireAvecPrepositionDe)"
                :taille="props.taille"
                :type="type"
                :couleur="props.couleur"
                target="_blank"
                @click="tracerActionPartageRS(props.mode, WHATSAPP.nom)"
            >
                <IconeWhatsapp />
            </BoutonNuxt>
        </li>
        <li v-if="estVisibleBoutonRS(EMAIL, props.mode)">
            <BoutonNuxt
                libelle=""
                :to="getUrl(EMAIL, props.mode, urlAPartager, nomTerritoireAvecPrepositionDe)"
                :taille="props.taille"
                :type="type"
                :couleur="props.couleur"
                target="_blank"
                @click="tracerActionPartageRS(props.mode, EMAIL.nom)"
            >
                <IconeEmail />
            </BoutonNuxt>
        </li>
    </ul>
</template>

<script setup lang="ts">
import type { RouteLocationRaw } from 'vue-router/auto';

import IconeEmail from '@/assets/icones/reseaux-sociaux/email.svg';
import IconeFacebook from '@/assets/icones/reseaux-sociaux/facebook.svg';
import IconeInstagram from '@/assets/icones/reseaux-sociaux/instagram.svg';
import IconeLinkedin from '@/assets/icones/reseaux-sociaux/linkedin.svg';
import IconeTwitter from '@/assets/icones/reseaux-sociaux/twitter.svg';
import IconeWhatsapp from '@/assets/icones/reseaux-sociaux/whatsapp.svg';
import BoutonNuxt from '@/components/base/BoutonNuxt.vue';
import { useGetStateTerritoire, useRouteAccueil, useRouteVersUrlAbsolue, useTracerActionMatomo } from '@/composables';

type Mode = 'suivi' | 'partage';

interface Props {
    couleur?: 'primaire' | 'accent' | 'blanc';
    type?: 'filaire' | 'plein';
    taille?: 's' | 'm' | 'l';
    mode: Mode;
    routeAPartager?: RouteLocationRaw;
}

const props = withDefaults(defineProps<Props>(), {
    couleur: 'primaire',
    type: 'filaire',
    taille: 's',
    routeAPartager: useRouteAccueil
});

type NomReseauSocial = 'linkedin' | 'instagram' | 'facebook' | 'twitter' | 'whatsapp' | 'email';
type ReseauSocial = {
    nom: NomReseauSocial;
    urlSuivi?: string;
    urlPartage?: (urlAPartager: string, nomTerritoireAvecPrepositionDe?: string) => string;
};

const urlAPartager = useRouteVersUrlAbsolue(props.routeAPartager);
const nomTerritoireAvecPrepositionDe = useGetStateTerritoire()?.nomAvecPrepostionDe;

const LINKEDIN: ReseauSocial = {
    nom: 'linkedin',
    urlSuivi: 'https://www.linkedin.com/showcase/territoires-fertiles/',
    urlPartage: (urlAPartager: string) => `https://www.linkedin.com/sharing/share-offsite/?url=${urlAPartager}`
};
const INSTAGRAM: ReseauSocial = {
    nom: 'instagram'
};
const FACEBOOK: ReseauSocial = {
    nom: 'facebook',
    urlSuivi: 'https://www.facebook.com/profile.php?id=61559941391033',
    urlPartage: (urlAPartager: string) => `https://www.facebook.com/sharer/sharer.php?u=${urlAPartager}`
};
const TWITTER: ReseauSocial = {
    nom: 'twitter',
    urlPartage: (urlAPartager: string, nomTerritoireAvecPrepositionDe?: string) => {
        const mentionTerritoire = nomTerritoireAvecPrepositionDe ? nomTerritoireAvecPrepositionDe : 'de votre territoire';
        const messageEncode = encodeURIComponent(`Découvrez les enjeux agricoles et alimentaires ${mentionTerritoire} !`);
        return `https://twitter.com/intent/tweet?url=${urlAPartager}&text=${messageEncode}`;
    }
};
const WHATSAPP: ReseauSocial = {
    nom: 'whatsapp',
    urlPartage: (urlAPartager: string, nomTerritoireAvecPrepositionDe) => {
        const mentionTerritoire = nomTerritoireAvecPrepositionDe ? nomTerritoireAvecPrepositionDe : 'de votre territoire';
        const messageEncode = encodeURIComponent(`Découvrez les enjeux agricoles et alimentaires ${mentionTerritoire} !`);
        return `https://api.whatsapp.com/send?text=${messageEncode}%20${urlAPartager}`;
    }
};
const EMAIL: ReseauSocial = {
    nom: 'email',
    urlPartage: (urlAPartager: string, nomTerritoireAvecPrepositionDe?: string) => {
        const titreMailEncode = encodeURIComponent('Découvrez la plateforme TerritoiresFertiles.fr !');
        const mentionTerritoire = nomTerritoireAvecPrepositionDe ? nomTerritoireAvecPrepositionDe : 'de votre territoire';
        const corpsMailEncode = encodeURIComponent(
            `Un diagnostic ciblé pour comprendre les enjeux agricoles et alimentaires ${mentionTerritoire} : ${urlAPartager}`
        );
        return `mailto:?body=${corpsMailEncode}&subject=${titreMailEncode}`;
    },
    urlSuivi: `mailto:contact@territoiresfertiles.fr`
};

const estVisibleBoutonRS = (ReseauSocial: ReseauSocial, mode: 'suivi' | 'partage') => {
    if (mode === 'suivi') return ReseauSocial.urlSuivi !== undefined && ReseauSocial.urlSuivi !== '';
    else return ReseauSocial.urlPartage !== undefined;
};

const getUrl = (ReseauSocial: ReseauSocial, mode: 'suivi' | 'partage', urlAPartager: string, nomTerritoireAvecPrepositionDe?: string): string => {
    if (mode === 'suivi') return ReseauSocial.urlSuivi ?? '';
    else return ReseauSocial.urlPartage ? ReseauSocial.urlPartage(urlAPartager, nomTerritoireAvecPrepositionDe) : '';
};

const tracerActionPartageRS = (mode: Mode, nomReseauSocial: NomReseauSocial) => {
    useTracerActionMatomo('Partage RS', `${mode} réseaux sociaux`, `${nomReseauSocial}`);
};
</script>
