<template>
    <div class="flex flex-wrap items-center justify-center gap-4 bg-white rounded-md px-4">
        <a v-for="(logo, index) in props.logos" :key="index" :href="logo.href" target="_blank" rel="noopener noreferrer">
            <NuxtImg
                :src="logo.url"
                :width="logo.resolutionX"
                :height="logo.resolutionY"
                sizes="400px"
                density="1x 2x"
                :alt="logo.descriptionAlt"
                :class="[props.taille === 'petite' ? 'max-h-14 max-w-[180px]' : 'max-h-20 max-w-[250px] px-2', 'w-auto']"
            />
        </a>
    </div>
</template>

<script setup lang="ts">
import type { ImageDefinitionAvecLien } from '@lga/images-definitions';

import { NuxtImg } from '#components';

interface Props {
    logos: ImageDefinitionAvecLien[];
    taille?: 'petite' | 'moyenne';
}

const props = withDefaults(defineProps<Props>(), {
    taille: 'moyenne'
});
</script>
