<template>
    <div :class="`overflow-clip ${ombrage ? 'screen:shadow-ombre-carte-m' : ''}`">
        <article class="h-full w-full flex flex-col items-center justify-center gap-6 relative">
            <slot />
        </article>
    </div>
</template>

<script setup lang="ts">
interface Props {
    ombrage?: boolean;
}

defineProps<Props>();
</script>
