<template>
    <Bloc class="bg-white rounded-2xl text-center h-full">
        <div class="grid grid-row-3 place-items-center gap-2 py-6 sm:py-4 px-2 sm:px-12">
            <div class="font-sans text-2xl sm:text-3xl text-primaire font-semibold">{{ props.titre }}</div>
            <div class="font-sans text-base text-primaire">
                {{ props.texte }}
            </div>
            <div class="mt-4">
                <slot />
            </div>
        </div>
    </Bloc>
</template>

<script setup lang="ts">
import Bloc from './Bloc.vue';

interface Props {
    titre: string;
    texte: string;
}

const props = defineProps<Props>();
</script>
