<template>
    <Bloc class="rounded-lg">
        <NuxtLink class="h-full w-full" :to="url">
            <div :class="['h-full w-full relative', url ? 'hover:opacity-80' : '']">
                <!-- Pour ces images de titres, le filtre qui a été appliqué fait que la compression wepb ou avif est moins bonne que png => on utilise NuxtImg et pas NuxtPicture                -->
                <!-- On n'utilise pas l'option placeholder de nuxt car quand present le lazy loading ne marche plus -->
                <NuxtImg
                    :src="image.url"
                    loading="lazy"
                    :width="image.resolutionX"
                    :height="image.resolutionY"
                    sizes="400px"
                    density="1x 2x"
                    :alt="image.descriptionAlt"
                    class="w-full h-full object-cover text-transparent"
                />
                <div class="absolute bottom-0 w-full h-[66%] bg-gradient-to-dark-blue"></div>
                <div class="absolute bottom-8 p-2 text-center w-full grid place-items-center gap-4">
                    <div v-if="label" class="text-xs bg-primaire-100 text-primaire w-fit rounded-full px-2 py-1">{{ label }}</div>
                    <div class="font-serif text-3xl text-white">{{ titre }}</div>
                </div>
            </div>
        </NuxtLink>
    </Bloc>
</template>

<script setup lang="ts">
import type { ImageModele } from '@lga/base';
import type { RouteLocationRaw } from 'vue-router';

import { NuxtImg, NuxtLink } from '#components';

import Bloc from './Bloc.vue';

export interface BlocLienImageModele {
    titre: string;
    label?: string;
    url?: string | RouteLocationRaw;
    image: ImageModele;
}

defineProps<BlocLienImageModele>();
</script>
