<template>
    <Bloc class="max-w-[360px] bg-white rounded-2xl">
        <div class="px-4 py-8 flex flex-col gap-1 items-center text-center">
            <div
                v-if="props.texteBanniere"
                class="absolute w-[200px] top-[30px] -right-[50px] rotate-45 bg-primaire whitespace-nowrap text-lg text-white font-bold text-center"
            >
                {{ props.texteBanniere }}
            </div>
            <figure class="figure hidden sm:flex items-center justify-center h-[200px] max-w-[300px]">
                <slot></slot>
            </figure>
            <div v-if="props.titre" class="flex items-center h-[64px] text-2xl font-serif text-primaire-900">
                <p class="line-clamp-2">{{ props.titre }}</p>
            </div>
            <div v-if="props.texte" :class="`h-[8rem] ${props.titre ? '' : 'grid place-items-center'}`">
                <p class="text-primaire-900 text-base line-clamp-4">
                    {{ props.texte }}
                </p>
            </div>
            <BoutonNuxt
                v-if="props.urlBouton"
                class="w-full"
                :libelle="props.libelleBouton"
                :to="props.urlBouton"
                :type="props.typeBouton"
                :target="props.urlBouton.toString().startsWith('http') ? '_blank' : ''"
                couleur="accent"
            />
            <div v-else class="h-12"></div>
        </div>
    </Bloc>
</template>

<script setup lang="ts">
import type { RouteLocationRaw } from 'vue-router';

import BoutonNuxt from '@/components/base/BoutonNuxt.vue';

import Bloc from './Bloc.vue';

interface Props {
    titre?: string;
    texte?: string;
    typeBouton?: 'plein' | 'filaire';
    libelleBouton?: string;
    urlBouton?: string | RouteLocationRaw;
    texteBanniere?: string;
}

const props = withDefaults(defineProps<Props>(), {
    titre: undefined,
    texte: undefined,
    typeBouton: 'filaire',
    libelleBouton: '',
    urlBouton: '',
    texteBanniere: ''
});
</script>

<style scoped>
.figure ::v-slotted(*) {
    width: 100%;
    height: auto;
}
</style>
