<template>
    <UInput
        v-model="emailSaisi"
        name="mail"
        placeholder="Votre mail"
        size="xl"
        autocomplete="off"
        class="w-11/12 max-w-[420px]"
        :ui="{
            rounded: 'rounded-full',
            padding: { xl: 'py-4' },
            trailing: { padding: { xl: 'px-6' } },
            icon: { trailing: { pointer: '', padding: { xl: 'px-2' } } }
        }"
        @keydown.enter="ouvrirPageInsriptionNewsletter"
    >
        <template #trailing>
            <UButton
                :label="props.labelBouton"
                class="hidden sm:block"
                size="xl"
                color="accent"
                variant="solid"
                :ui="{
                    rounded: 'rounded-full'
                }"
                @click="ouvrirPageInsriptionNewsletter"
            />
            <UButton
                class="block sm:hidden"
                :label="LABEL_BOUTON_COURT"
                size="xl"
                color="accent"
                variant="solid"
                :ui="{
                    rounded: 'rounded-full'
                }"
                @click="ouvrirPageInsriptionNewsletter"
            />
        </template>
    </UInput>
</template>

<script setup lang="ts">
import { ref } from 'vue';

import { useRouteFormulaireInscriptionNewsletter } from '@/composables';
import { navigateTo } from '#imports';

interface Props {
    labelBouton?: string;
}
const LABEL_BOUTON_COURT = 'GO';
const props = withDefaults(defineProps<Props>(), {
    labelBouton: "S'abonner"
});

const emailSaisi = ref('');

const ouvrirPageInsriptionNewsletter = async () => {
    await navigateTo(useRouteFormulaireInscriptionNewsletter(emailSaisi.value));
};
</script>
