<template>
    <div v-if="props.type === 'discrete'">
        <ul class="flex flex-row flex-wrap gap-1 sm:gap-2 p-1 justify-center">
            <li v-for="item in props.items" :key="item.libelle" class="flex items-center text-xs text-primaire">
                <span class="inline-block w-3 h-3 mr-1" :style="{ backgroundColor: item.couleur, backgroundImage: item.motif }"></span
                >{{ item.libelle }}
            </li>
        </ul>
    </div>
    <div v-else-if="props.type === 'continue'" :class="`flex items-end justify-end mx-4 pt-6 pb-2 w-[${largeur}px]`">
        <div v-for="(i, index) in props.items" :key="index" class="flex items-center relative">
            <div class="absolute -top-6 text-sm w-max -translate-x-1/2">{{ i.libelle }}</div>
            <div class="w-[1px] h-2 bg-black"></div>
            <div
                v-if="index < items.length - 1"
                class="h-[6px]"
                :style="{
                    backgroundImage: `linear-gradient(0.25turn, ${i.couleur}, ${props.items[index + 1].couleur}) `,
                    width: `${largeur / (props.items.length - 1)}px`
                }"
            ></div>
        </div>
    </div>
    <div v-else></div>
</template>

<script setup lang="ts">
export interface ItemLegende {
    couleur: string;
    libelle: string;
    motif?: string;
}

interface Props {
    items: ItemLegende[];
    type?: 'discrete' | 'continue';
}

const props = defineProps<Props>();
const largeur = 300; //px
</script>
