<template>
    <div class="w-fit">
        <div @click="telecharger">
            <slot></slot>
        </div>
        <UModal v-model="estModaleOuverte" :prevent-close="messageErreur === ''">
            <div class="min-h-[150px] p-4 grid gap-6 place-items-center">
                <div class="text-primaire text-center grid place-content-center">
                    <div v-if="messageErreur === ''" class="flex flex-col items-center gap-2">
                        <UIcon name="i-heroicons-arrow-path" class="text-4xl animate-spin"></UIcon>
                        <span>Génération de votre document en cours, merci de patienter.</span>
                    </div>
                    <div v-else class="flex flex-col items-center gap-2 text-accent">
                        <UIcon name="i-heroicons-exclamation-triangle" class="text-4xl"></UIcon>
                        <span>{{ messageErreur }}</span>
                        <span
                        >Si le problème persiste, merci de nous contacter
                            <ULink :to="useRouteContact()" class="underline hover:text-accent">ici</ULink>.</span
                        >
                    </div>
                </div>
                <UButton
                    v-if="messageErreur !== ''"
                    class="w-fit px-4"
                    color="accent"
                    variant="solid"
                    :trailing="true"
                    icon="i-heroicons-x-mark-20-solid"
                    size="md"
                    :ui="{ rounded: 'rounded-full' }"
                    @click="fermer"
                >Fermer
                </UButton>
            </div>
        </UModal>
    </div>
</template>

<script setup lang="ts">
import type { NuxtError } from 'nuxt/app';
import { computed, ref, watch } from 'vue';

import { CONFIG_PDF_SIMPLE_PAGE_A4_PAYSAGE, type ConfigPagePdf, usePathVersUrlAbsolue, useTelechargerBlobPdf } from '@/composables';
import { useRouteContact } from '#imports';

interface Props {
    path: string;
    configPagePdf?: ConfigPagePdf;
}

const props = withDefaults(defineProps<Props>(), {
    configPagePdf: () => CONFIG_PDF_SIMPLE_PAGE_A4_PAYSAGE
});

const urlAbsolue = computed(() => usePathVersUrlAbsolue(props.path));

const estModaleOuverte = defineModel<boolean>({ default: false });
const messageErreur = ref('');

const fermer = () => {
    estModaleOuverte.value = false;
};

watch(estModaleOuverte, (estModaleOuverteApres, estModaleOuverteAvant) => {
    if (estModaleOuverteAvant && !estModaleOuverteApres) {
        messageErreur.value = '';
    }
});

const telecharger = async () => {
    if (!props.path) return;

    estModaleOuverte.value = true;
    const nomFichier = calculerNomFichierPdf(props.path);
    try {
        const pdfBlob = await useTelechargerBlobPdf(urlAbsolue.value, props.configPagePdf);
        creerLienTelechargement(pdfBlob, nomFichier).click();
        estModaleOuverte.value = false;
    } catch (error) {
        console.error(`Erreur lors de la génération du PDF, nomFichier=${nomFichier} à partir de l'url ${urlAbsolue.value} : `, error);
        if ((error as NuxtError)?.statusCode === 429) {
            messageErreur.value = 'Serveur sursollicité... merci de réessayer dans quelques minutes.';
        } else {
            messageErreur.value = 'Erreur lors du téléchargement... merci de réessayer dans quelques instants.';
        }
    }
};

function creerLienTelechargement(pdfBlob: Blob, nomFichier?: string): HTMLAnchorElement {
    const a = document.createElement('a');
    a.href = window.URL.createObjectURL(pdfBlob);
    a.download = `${nomFichier ?? 'document'}.pdf`;
    return a;
}

function calculerNomFichierPdf(path?: string): string {
    const date = new Date();
    const dateYYYYDDMM = `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;
    const REGEX_SLASHES_DE_DEBUT_OU_FIN = /^\/*|\/*$/g;
    const baseNomFichier = path ? path.replace(REGEX_SLASHES_DE_DEBUT_OU_FIN, '').replaceAll('/', '-') : 'export-tef';
    return `${baseNomFichier}_${dateYYYYDDMM}`;
}
</script>
