<template>
    <UModal v-model="estOuverte">
        <UCard :ui="{ ring: '', divide: 'divide-y divide-gris-100', base: 'flex flex-col', body: { base: 'overflow-auto' } }" class="max-h-[80vh]">
            <template #header>
                <div class="flex items-center justify-between">
                    <h3 class="text-primaire font-bold pr-2">{{ titre }}</h3>
                    <UButton
                        color="accent"
                        variant="solid"
                        icon="i-heroicons-x-mark-20-solid"
                        size="md"
                        :ui="{ rounded: 'rounded-full' }"
                        @click="fermer"
                    />
                </div>
            </template>

            <div>
                <!--            eslint-disable vue/no-v-html -->
                <p class="description-modale-information text-primaire" v-html="descriptif"></p>
                <div v-if="descriptifDetaille" class="description-modale-information text-primaire">
                    <p class="pt-4">En détails :</p>
                    <p v-html="descriptifDetaille"></p>
                </div>
            </div>

            <template v-if="urlComplementInformation" #footer>
                <div class="flex items-start">
                    <UButton
                        color="primaire"
                        variant="link"
                        :trailing-icon="estLienSortant ? 'i-heroicons-arrow-top-right-on-square' : 'i-heroicons-arrow-right-20-solid'"
                        size="md"
                        :label="libelleLienComplementInformation"
                        :to="urlComplementInformation"
                        :target="estLienSortant ? '_blank' : '_self'"
                    />
                </div>
            </template>
        </UCard>
    </UModal>
</template>

<script setup lang="ts">
import type { HtmlString } from '@lga/base';
import { computed } from 'vue';
import type { RouteLocationRaw } from 'vue-router';

interface Props {
    titre: string;
    descriptif: HtmlString | string;
    descriptifDetaille?: HtmlString | string;
    urlComplementInformation?: string | RouteLocationRaw;
    libelleLienComplementInformation?: string;
}

const props = defineProps<Props>();

const estOuverte = defineModel<boolean>({ default: false });

const fermer = () => {
    estOuverte.value = false;
};

//TODO mutualiser avec TexteLien
const estLienSortant = computed(() => props.urlComplementInformation?.toString().startsWith('http'));
</script>

<style>
.description-modale-information ul {
    list-style: disc;
    padding-left: 32px;
}
</style>
