<template>
    <div class="flex flex-row items-center gap-2">
        <div class="flex items-center justify-center border border-primaire-900 rounded-full w-[2em] h-[2em]">
            <span class="text-primaire-900">{{ props.numero }}</span>
        </div>
        <p>{{ props.texte }}</p>
    </div>
</template>

<script setup lang="ts">
interface Props {
    texte: string;
    numero: number;
}

const props = defineProps<Props>();
</script>
