<template>
    <span class="relative">
        <span
            :class="[
                'absolute',
                'top-[0.65em]',
                '-left-[0.08em]',
                'w-[102%]',
                'h-[0.45em]',
                '-rotate-1.5',
                props.couleur === 'primaire' ? 'bg-primaire-300' : props.couleur === 'accent' ? 'bg-accent-500' : 'bg-jaune'
            ]"
        ></span>
        <span class="relative"><slot></slot></span>
    </span>
</template>

<script setup lang="ts">
interface Props {
    couleur?: 'primaire' | 'accent' | 'jaune';
}

const props = withDefaults(defineProps<Props>(), {
    couleur: 'primaire'
});
</script>
