<template>
    <!-- Bug : interference entre les evt click et hover sur mobile. Fix avec @click.capture.stop.prevent="() => {}"; Devrait etre corrigé avec nuxtui V3 voir https://github.com/nuxt/ui/issues/1337 -->
    <UPopover
        class="contents"
        :ui="{
            trigger: 'inline'
        }"
        mode="hover"
        @click.capture.stop="() => {}"
    >
        <slot></slot>
        <template #panel>
            <div class="p-4 max-w-80 min-w-60">
                <div v-if="props.titre" class="flex gap-1 items-center text-primaire mb-2">
                    <UIcon v-if="props.iconeTitre" :name="props.iconeTitre" />
                    <div class="font-base font-bold">{{ titre }}</div>
                </div>
                <!--            eslint-disable vue/no-v-html -->
                <div class="text-primaire text-base text-left" v-html="props.description"></div>
                <div v-if="props.lien" class="flex justify-end text-sm pt-2">
                    <TexteLien :url="props.lien">En savoir plus ?</TexteLien>
                </div>
            </div>
        </template>
    </UPopover>
</template>

<script setup lang="ts">
import type { HtmlString } from '@lga/base';

import TexteLien from './TexteLien.vue';

interface Props {
    titre?: string;
    iconeTitre?: string;
    description: HtmlString;
    lien?: string;
}

const props = defineProps<Props>();
</script>
