<template>
    <TexteLien :url="url">thématique {{ nomThematique }} </TexteLien>
</template>

<script setup lang="ts">
import type { IdTheme } from '@lga/indicateurs';
import { computed } from 'vue';

import { useRouteThematiques } from '#imports';
import { getTheme } from '~/modeles/Theme.js';

import TexteLien from './TexteLien.vue';

interface Props {
    idTheme: IdTheme;
}

const props = defineProps<Props>();
const url = computed(() => useRouteThematiques(props.idTheme));
const nomThematique = computed(() => getTheme(props.idTheme)?.titre);
</script>
