<template>
    <main>
        <TemplatePageSimpleSansMenu titre="Votre inscription est confirmée !">
            <TexteP> Votre inscription à la newsletter Territoires Fertiles a bien été prise en compte. </TexteP>
            <TexteP> Vous pourrez vous désinscrire à tout moment en utilisant le lien de désinscription présent dans chaque newsletter. </TexteP>
        </TemplatePageSimpleSansMenu>
    </main>
</template>

<script setup lang="ts">
import TexteP from '@/components/base/TexteP.vue';
import { usePositionnerInfosHead, useRouteAccueil } from '@/composables';
import TemplatePageSimpleSansMenu from '~/components/templates/TemplatePageSimpleSansMenu.vue';

usePositionnerInfosHead({
    titre: "Confirmation d'inscription à la newsletter",
    routeUrlCanonique: useRouteAccueil()
});
</script>
