<template>
    <main>
        <TemplatePage>
            <TitrePage titrePartie1Surlignee="Inscrivez-vous à la newsletter" :texte-sous-titre="TEXTE_SOUS_TITRE" />
            <UForm
                :state="champsFormulaire"
                :schema="contactSchema"
                class="mx-auto px-4 max-w-[440px] flex flex-col items-center justify-centerw-full gap-8"
                @submit="envoyerFormulaire"
            >
                <div class="flex flex-col w-full h-full items-center justify-center gap-8">
                    <UFormGroup label="Votre adresse mail" name="email" required class="w-full" size="sm" :ui="{ size: { sm: 'sm:text-base' } }">
                        <UInput
                            v-model="champsFormulaire.email"
                            placeholder="nom@exemple.fr"
                            icon="i-heroicons-envelope"
                            :ui="{
                                size: { sm: 'sm:text-base' },
                                padding: { sm: 'px-3.5 py-2.5' }
                            }"
                        />
                    </UFormGroup>
                    <UFormGroup
                        label="Votre territoire"
                        name="territoire"
                        hint="Optionnel"
                        class="w-full"
                        size="sm"
                        :ui="{
                            size: { sm: 'sm:text-base' },
                            help: 'text-gris-400 dark:text-gris-400 italic'
                        }"
                    >
                        <UInput
                            v-model="champsFormulaire.territoire"
                            placeholder="Commune, EPCI, PAT..."
                            :ui="{
                                size: { sm: 'sm:text-base' },
                                padding: { sm: 'px-3.5 py-2.5' }
                            }"
                        />
                    </UFormGroup>

                    <UFormGroup
                        size="sm"
                        label="Vous êtes..."
                        name="profil"
                        hint="Optionnel"
                        class="w-full"
                        :ui="{
                            size: { sm: 'sm:text-base' },
                            help: 'text-gris-400 dark:text-gris-400 italic'
                        }"
                    >
                        <USelect
                            v-model="champsFormulaire.profil"
                            placeholder="..."
                            :options="profils"
                            :ui="{
                                size: { sm: 'sm:text-base' },
                                padding: { sm: 'px-3.5 py-2.5' }
                            }"
                        />
                    </UFormGroup>
                </div>
                <UButton color="accent" size="xl" :ui="{ rounded: 'rounded-full' }" type="submit"> S'incrire </UButton>
                <UAlert
                    v-if="etatFormulaire === 'ENVOYE'"
                    color="primaire"
                    variant="outline"
                    title="VOTRE DEMANDE A BIEN ÉTÉ ENVOYÉE"
                    description="Vous allez recevoir un mail de confirmation. Merci de cliquer sur le lien contenu dans ce mail pour valider votre inscription."
                />
                <UAlert
                    v-if="etatFormulaire === 'ERREUR_TECHNIQUE'"
                    color="accent"
                    variant="outline"
                    title="Erreur technique lors de l'envoi du formulaire"
                    description="Merci de réessayer dans quelques instants."
                />
            </UForm>
            <p class="m-auto min-w-80 w-full max-w-[640px] my-12 px-4 text-justify">
                Votre adresse de messagerie est uniquement utilisée pour vous envoyer les newsletters du projet Territoires Fertiles. Nous utiliserons
                les informations complémentaires uniquement pour adapter le contenu de ces lettres d'information.
                <br />
                Nous envoyons entre 5 et 10 messages par an, et vous pouvez à tout moment utiliser le lien de désabonnement intégré dans ces messages.
                <br />
                Pour en savoir plus sur la gestion de vos données et vos droits, voir nos
                <NuxtLink :to="useRouteMentionsLegales()" class="underline">mentions légales</NuxtLink>.
            </p>
        </TemplatePage>
    </main>
</template>

<script setup lang="ts">
import { ref } from 'vue';

import TitrePage from '@/components/base/TitrePage.vue';
import { usePositionnerInfosHead, useRouteMentionsLegales } from '@/composables';
import { type Contact, contactSchema, type Profil } from '@/modeles/contacts/Contact';
import { NuxtLink } from '#components';
import { reactive, useRoute } from '#imports';
import TemplatePage from '~/components/templates/TemplatePage.vue';

usePositionnerInfosHead({
    titre: "Formulaire d'inscription à la newsletter",
    description: 'Recevez par mail des informations sur des outils utiles ou des projets de transition alimentaire et agricole.',
    titreRS: 'Inscrivez-vous à la newsletter Territoires fertiles'
});

const TEXTE_SOUS_TITRE =
    "Compléter le formulaire ci-dessous pour suivre l'actualité du projet Territoires Fertiles et pour recevoir des informations sur des outils utiles ou des projets de transition alimentaire et agricole.";

const route = useRoute();
const emailInitial = route.query.email?.toString() ?? undefined;

const champsFormulaire = reactive<Partial<Contact>>({
    email: emailInitial,
    territoire: undefined,
    profil: undefined
});

const profils: { label: string; value: Profil }[] = [
    { label: 'Élu', value: 'ELU' },
    { label: 'Porteur de projet (collectivité ou autre structure)', value: 'PORTEUR_PROJET' },
    { label: "Membre d'une association ou d'un collectif", value: 'ASSOCIATION_OU_COLLECTIF' },
    { label: 'Citoyen', value: 'CITOYEN' },
    { label: 'Autre', value: 'AUTRE' }
];

type EtatFormulaire = 'A_REMPLIR' | 'ENVOYE' | 'ERREUR_TECHNIQUE';
const etatFormulaire = ref<EtatFormulaire>('A_REMPLIR');

const envoyerFormulaire = async () => {
    const body: Contact = {
        email: champsFormulaire.email ?? '',
        territoire: champsFormulaire.territoire,
        profil: champsFormulaire.profil
    };
    try {
        await $fetch('/api/brevo/creerContact', {
            method: 'POST',
            body: body
        });
        etatFormulaire.value = 'ENVOYE';
    } catch (error) {
        console.error("Erreur lors de l'envoi du formulaire", error);
        etatFormulaire.value = 'ERREUR_TECHNIQUE';
    }
};
</script>
