<template>
    <div>
        <TemplatePage>
            <TitreAccueilTerritoire :nomTerritoireAvecPrepositionDe="territoire.nomTerritoireAvecPrepositionDe" />
            <CartePresentationTerritoire class="bg-sable-100" :territoire="territoire" :descriptionTerritoire="descriptionTerritoire" />
            <div class="h-fit relative w-full my-4 px-4 grid place-items-center">
                <BanniereLienVersDiagnosticFlash :id-territoire="territoire.id" class="xl:absolute bottom-0 xl:translate-y-1/2" />
            </div>
            <ElementScrollable
                @evtEntrerZoneScroll="
                    () =>
                        useTracerActionMatomo(
                            'Scroll',
                            'Atteindre comp=PresentationThematiques',
                            `Atteindre page=${$route.name},comp=PresentationThematiques`
                        )
                "
            >
                <PresentationThematiques
                    class="mt-4 xl:mt-48"
                    titre-partie1-surlignee="Approfondir"
                    titre-partie2-non-surlignee="une thématique"
                    sous-titre="Pour comprendre en détails un sujet, voir les impacts sur votre territoire et découvrir des pistes de projet pour y faire face."
                    type-affichage="carrousel"
                />
            </ElementScrollable>
            <ElementScrollable
                @evtEntrerZoneScroll="
                    () =>
                        useTracerActionMatomo(
                            'Scroll',
                            'Atteindre comp=RessourcesPourTransitions',
                            `Atteindre page=${$route.name},comp=RessourcesPourTransitions`
                        )
                "
            >
                <RessourcesPourTransitions
                    :id-territoire="idTerritoire"
                    :id-territoire-parcel="donneesApi.territoireApi.idTerritoireParcel ?? undefined"
                />
            </ElementScrollable>
            <ElementScrollable
                @evtEntrerZoneScroll="
                    () =>
                        useTracerActionMatomo(
                            'Scroll',
                            'Atteindre comp=BoutonFormulaireRetour',
                            `Atteindre page=${$route.name},comp=BoutonFormulaireRetour`
                        )
                "
            >
            </ElementScrollable>
            <BoutonFormulaireRetour />
        </TemplatePage>
    </div>
</template>

<script setup lang="ts">
import '@lga/commun/build/composants/champ-recherche-territoire/ChampRechercheTerritoire.js';

import RessourcesPourTransitions from '@/components/diagnostics/commun/RessourcesPourTransitions.vue';
import TemplatePage from '@/components/templates/TemplatePage.vue';
import { useFetchDonneesApi, usePositionnerInfosHead, useRouteParamsMonTerritoire, useSetStateTef, useTracerActionMatomo } from '@/composables';
import BanniereLienVersDiagnosticFlash from '~/components/diagnostics/BanniereLienVersDiagnosticFlash.vue';
import CartePresentationTerritoire from '~/components/diagnostics/commun/CartePresentationTerritoire.vue';
import PresentationThematiques from '~/components/diagnostics/PresentationThematiques.vue';
import TitreAccueilTerritoire from '~/components/diagnostics/TitreAccueilTerritoire.vue';
import BoutonFormulaireRetour from '~/components/navigation/BoutonFormulaireRetour.vue';
import ElementScrollable from '~/components/navigation/ElementScrollable.vue';
import { creerDescriptionTerritoire, creerTerritoire } from '~/modeles/DiagnosticModele.js';

const params = useRouteParamsMonTerritoire();
const idTerritoire: string = params.idTerritoire;

const donneesApi = await useFetchDonneesApi(idTerritoire);
const territoire = creerTerritoire(donneesApi.territoireApi);
const descriptionTerritoire = creerDescriptionTerritoire(donneesApi);

useSetStateTef(donneesApi.territoireApi);

usePositionnerInfosHead({
    titre: () => `Diagnostic %separator ${donneesApi.territoireApi.nom}`,
    description: () => `Comprendre les enjeux agricoles et alimentaires du territoire ${donneesApi.territoireApi.nom}`,
    titreRS: 'Votre territoire peut-il nourrir ses habitants ?'
});
</script>
