<template>
    <TemplatePage>
        <div class="w-full">
            <h1 class="w-full flex flex-col bg-primaire text-center px-2 pt-6 pb-4 lg:pt-8 lg:pb-6">
                <span class="text-white text-2xl lg:text-5xl font-serif">Documents à imprimer ou partager</span>
                <span v-if="territoire" class="text-white text-2xl lg:text-3xl font-serif">pour {{ territoire.nomAvecDeterminant }}</span>
            </h1>
            <PersonnaliserTerritoire
                v-if="!useGetStateTerritoire()"
                :fn-creer-route="(idTerritoire: string) => useRouteDocumentsAImprimer(idTerritoire)"
            ></PersonnaliserTerritoire>
            <div class="flex flex-row flex-wrap items-center justify-center gap-4 sm:gap-8 px-4 py-8">
                <Bloc class="max-w-[360px] bg-white rounded-2xl">
                    <div class="px-4 py-8 flex flex-col gap-1 items-center text-center">
                        <figure class="figure flex items-center justify-center h-[300px]">
                            <NuxtImg
                                :src="ApercuLivret4Pages.url"
                                :width="ApercuLivret4Pages.resolutionX"
                                :height="ApercuLivret4Pages.resolutionY"
                                :alt="ApercuLivret4Pages.descriptionAlt"
                                class="h-[300px] w-fit"
                                sizes="250px"
                                densities="x1 x2"
                            />
                        </figure>
                        <div class="flex items-center h-[64px] text-2xl font-serif text-primaire-900">Livret 4 pages</div>
                        <div class="h-[4rem] grid place-items-center">
                            <p class="text-primaire-900 text-base line-clamp-4">
                                Résumé des enjeux de votre territoire, sous forme d'un livret de 4 pages à imprimer en recto-verso
                            </p>
                        </div>
                        <div class="pt-4">
                            <LienTelechargerPdf :path="pathLivrets4Pages" :configPagePdf="CONFIG_PDF_DOUBLE_PAGE_A4_PAYSAGE">
                                <UButton
                                    class="w-fit px-12"
                                    variant="solid"
                                    :color="territoire == undefined ? 'gray' : 'accent'"
                                    :disabled="territoire == undefined"
                                    size="xl"
                                    :ui="{
                                        rounded: 'rounded-full'
                                    }"
                                    label="Télécharger le livret"
                                    trailing-icon="i-heroicons-arrow-down-tray-20-solid"
                                    @click="
                                        () =>
                                            useTracerActionMatomo(
                                                'Clic',
                                                `Téléchargement livret 4 pages`,
                                                `Téléchargement livret 4 pages ${territoire?.id}`
                                            )
                                    "
                                />
                            </LienTelechargerPdf>
                        </div>
                    </div>
                </Bloc>
                <Bloc class="max-w-[360px] bg-white rounded-2xl">
                    <div class="px-4 py-8 flex flex-col gap-1 items-center text-center">
                        <figure class="figure flex items-center justify-center h-[300px]">
                            <NuxtImg
                                :src="ApercuDiagFlash.url"
                                :width="ApercuDiagFlash.resolutionX"
                                :height="ApercuDiagFlash.resolutionY"
                                :alt="ApercuDiagFlash.descriptionAlt"
                                class="w-[300px] h-fit"
                                sizes="320px"
                                densities="x1 x2"
                            />
                        </figure>
                        <div class="flex items-center h-[64px] text-2xl font-serif text-primaire-900">Diagnostic en 10 diapos</div>
                        <div class="h-[4rem] grid place-items-center">
                            <p class="text-primaire-900 text-base line-clamp-4">
                                Présentation des enjeux de votre territoire en 10 diapositives imprimables
                            </p>
                        </div>
                        <div class="pt-4">
                            <LienTelechargerPdf :path="pathDiagnosticsFlash" :configPagePdf="CONFIG_PDF_SIMPLE_PAGE_A4_PAYSAGE">
                                <UButton
                                    class="w-fit px-12"
                                    variant="solid"
                                    :color="territoire == undefined ? 'gray' : 'accent'"
                                    :disabled="territoire == undefined"
                                    size="xl"
                                    :ui="{
                                        rounded: 'rounded-full'
                                    }"
                                    label="Télécharger les diapos"
                                    trailing-icon="i-heroicons-arrow-down-tray-20-solid"
                                    @click="() => useTracerActionMatomo('Clic', `Téléchargement diapos`, `Téléchargement diapos ${territoire?.id}`)"
                                />
                            </LienTelechargerPdf>
                        </div>
                    </div>
                </Bloc>
            </div>
        </div>
    </TemplatePage>
</template>

<script setup lang="ts">
import { IMG0078 as ApercuDiagFlash } from '@lga/images-definitions';
import { IMG0079 as ApercuLivret4Pages } from '@lga/images-definitions';

import {
    CONFIG_PDF_DOUBLE_PAGE_A4_PAYSAGE,
    CONFIG_PDF_SIMPLE_PAGE_A4_PAYSAGE,
    useFetchDonneesApi,
    useGetStateTerritoire,
    usePath,
    usePositionnerInfosHead,
    useRouteDocumentsAImprimer,
    useRouteParamsDocumentsAImprimer,
    useSetStateTef,
    useTracerActionMatomo
} from '@/composables';
import { NuxtImg } from '#components';
import { useAppConfig } from '#imports';
import Bloc from '~/components/base/Bloc.vue';
import LienTelechargerPdf from '~/components/base/LienTelechargerPdf.vue';
import PersonnaliserTerritoire from '~/components/diagnostics/commun/PersonnaliserTerritoire.vue';
import TemplatePage from '~/components/templates/TemplatePage.vue';
import { useRouteDiagnosticsFlash, useRouteLivrets4Pages } from '~/composables';

const appConfig = useAppConfig();
const params = useRouteParamsDocumentsAImprimer();

const donneesApi = await useFetchDonneesApi(params.idTerritoire || appConfig.tef.idNomFrance);

if (params.idTerritoire) {
    useSetStateTef(donneesApi.territoireApi);
}
const territoire = useGetStateTerritoire();
const pathLivrets4Pages = territoire?.id ? usePath(useRouteLivrets4Pages(territoire?.id)) : '';
const pathDiagnosticsFlash = territoire?.id ? usePath(useRouteDiagnosticsFlash(territoire?.id)) : '';

usePositionnerInfosHead({
    titre: `Documents à imprimer ou partager`,
    description: 'Livret de synthèse, présentations et affiches à imprimer'
});
</script>
