<template>
    <main>
        <TemplatePageSimple titre="Mentions légales" :sectionsMenu="SECTIONS">
            <template #generalite>
                <TexteP>
                    Les informations décrites dans les paragraphes suivants concernent toutes les pages du site
                    <NuxtLink class="underline hover:no-underline" href="https://territoiresfertiles.fr">https://territoiresfertiles.fr</NuxtLink>.
                </TexteP>
                <TexteP>
                    Les informations contenues dans ce site sont soumises à la loi française et sont fournies sans garanties d’aucune sorte. Elles
                    sont sujettes à modification sans préavis.
                </TexteP>
            </template>

            <template #presentation-site>
                <TexteP>
                    En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux
                    utilisateurs du site
                    <NuxtLink class="underline hover:no-underline" href="https://territoiresfertiles.fr">https://territoiresfertiles.fr</NuxtLink>
                    l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
                </TexteP>
                <TexteP>
                    <ul>
                        <li>
                            <span class="font-bold">Propriétaire :</span> Le site
                            <NuxtLink class="underline hover:no-underline" href="https://territoiresfertiles.fr"
                            >https://territoiresfertiles.fr</NuxtLink
                            >
                            est la propriété de L'association Les Greniers d'Abondance, 4 rue Edouard Pailleron, 73000 Jabob-Bellecombette
                        </li>
                        <br />
                        <li>
                            <span class="font-bold">Direction de la publication : </span> Association Les Greniers d'Abondance : 4 rue Edouard
                            Pailleron, 73000 Jabob-Bellecombette
                        </li>
                        <br />
                        <li>
                            <span class="font-bold">Responsable technique : </span> Association Les Greniers d'Abondance : 4 rue Edouard Pailleron,
                            73000 Jabob-Bellecombette
                        </li>
                        <br />
                        <li>
                            <span class="font-bold">Développeurs web :</span> Association Les Greniers d'Abondance : 4 rue Edouard Pailleron, 73000
                            Jabob-Bellecombette
                        </li>
                        <br />
                        <li>
                            <span class="font-bold">Hébergeur :</span> OVH SAS, filiale de la société OVH Groupe SA, société immatriculée au RCS de
                            Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.
                        </li>
                    </ul>
                </TexteP>
            </template>

            <template #conditions-generales>
                <TexteP>
                    L’utilisation du site
                    <NuxtLink class="underline hover:no-underline" href="https://territoiresfertiles.fr">https://territoiresfertiles.fr</NuxtLink>
                    implique l’acceptation des conditions générales d’utilisation. Ces conditions sont susceptibles d’être modifiées ou complétées à
                    tout moment.<br /><br />
                    Ce site est gratuit et disponible pour tous. Il est normalement ouvert à tout moment aux utilisateurs. Une interruption pour
                    raison de maintenance technique peut être toutefois décidée.<br /><br />
                    Le site
                    <NuxtLink class="underline hover:no-underline" href="https://territoiresfertiles.fr">https://territoiresfertiles.fr</NuxtLink>
                    sera mis à jour régulièrement.
                </TexteP>
            </template>

            <template #propriete-intellectuelle>
                <TexteP>
                    De manière générale, les contenus (textes, images, identité visuelle...), les données et le code sont la propriété de
                    l’association Les Greniers d’Abondance et sont protégés à ce titre par les dispositions du Code de la propriété intellectuelle.
                    Tout internaute s’engage à ne les utiliser que dans le strict cadre offert par le Site.
                </TexteP>
                <TexteP>
                    La plupart de ces éléments sont publiés sous licence open source. Les conditions d'utilisation applicables sont détaillées
                    <NuxtLink class="underline hover:no-underline" :to="useRouteLicencesUtilisation()">dans la page licences d'utilisation</NuxtLink>.
                </TexteP>
            </template>

            <template #politique-de-confidentialite>
                <TitreH3>Informations personnelles collectées</TitreH3>
                <TexteP>
                    L’internaute peut être amené à fournir certaines données personnelles en répondant aux formulaires qui lui sont proposés sur le
                    Site. La saisie de ces données est nécessaire au traitement de la demande de l’internaute, par l’association Les Greniers
                    d’Abondance.
                </TexteP>
                <TexteP>
                    L’association Les Greniers d’Abondance s’engage à respecter les dispositions de la loi n°78-17 du 6 janvier 1978 relative à
                    l’informatique, aux fichiers et aux libertés modifiées et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27
                    avril 2016 dit « RGPD » et prendre toute précaution nécessaire pour préserver la sécurité des informations nominatives confiées.
                </TexteP>

                <TitreH3>Analyse de trafic et cookies</TitreH3>
                <TexteP>
                    En vue d’adapter le site aux demandes de nos visiteurs, nous analysons le trafic avec Matomo. Matomo génère un cookie avec un
                    identifiant unique, dont la durée de conservation est limitée à 13 mois. Les données recueillies (adresse IP, User-Agent…) sont
                    anonymisées et conservées pour une durée de 25 mois. Elles ne sont pas cédées à des tiers ni utilisées à d’autres fins.
                </TexteP>
                <ClientOnly>
                    <GestionConsentementMatomo />
                </ClientOnly>
            </template>
        </TemplatePageSimple>
    </main>
</template>

<script setup lang="ts">
import GestionConsentementMatomo from '@/components/apropos/GestionConsentementMatomo.vue';
import TexteP from '@/components/base/TexteP.vue';
import TitreH3 from '@/components/base/TitreH3.vue';
import { usePositionnerInfosHead, useRouteLicencesUtilisation } from '@/composables';
import type { ItemLienHash } from '@/modeles/navigation/ItemMenuModele';
import { NuxtLink } from '#components';
import { ClientOnly } from '#components';
import TemplatePageSimple from '~/components/templates/TemplatePageSimple.vue';

usePositionnerInfosHead({
    titre: 'Mentions légales'
});

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: 'generalite',
        libelle: 'Généralités'
    },
    {
        type: 'LIEN_HASH',
        hash: 'presentation-site',
        libelle: 'Présentation du site'
    },
    {
        type: 'LIEN_HASH',
        hash: 'conditions-generales',
        libelle: "Conditions générales d'utilisation du site"
    },
    {
        type: 'LIEN_HASH',
        hash: 'propriete-intellectuelle',
        libelle: 'Propriété intellectuelle et contrefaçons'
    },
    {
        type: 'LIEN_HASH',
        hash: 'politique-de-confidentialite',
        libelle: 'Politique de confidentialité'
    }
];
</script>
