<template>
    <TemplatePageSimple titre="À propos" :texte-sous-titre="TEXTE_SOUS_TITRE" :sectionsMenu="SECTIONS">
        <template #[ID_POURQUOI_TERRITOIRES_FERTILES]>
            <TexteP> On aimerait croire que le recul de la faim observé au XXe siècle en France est un acquis. </TexteP>
            <TexteP>
                Mais cette croyance est mise à défaut par des événements de plus en plus fréquents qui révèlent la
                <strong>fragilité de notre sécurité alimentaire</strong>. Progression de la précarité alimentaire depuis la pandémie de Covid-19,
                risque de rupture d’approvisionnement et hausse des prix suite à la guerre en Ukraine, baisses significatives de la production
                agricole dues aux aléas climatiques (sécheresse en 2022, inondations en 2016)... À cela s’ajoutent des évolutions de fond comme la
                baisse rapide du nombre d’agriculteurs, dont la moitié partira à la retraite d’ici 2030.
            </TexteP>
            <TexteP> Or, quel besoin plus essentiel que se nourrir&nbsp;? </TexteP>
            <TexteP>
                Se nourrir dignement, c’est-à-dire <strong>suffisamment et sainement</strong> . Mais également, en nous organisant
                <strong>pour que celles et ceux qui nous nourrissent vivent décemment</strong>, pour que la valeur et le pouvoir soient distribués
                équitablement, du champ à l’assiette. Enfin, manger
                <strong>sans dégrader la capacité future de nos enfants à en faire de même</strong>.
            </TexteP>
            <TexteP> C‘est ce triple objectif qui guide notre volonté de transformer le système alimentaire actuel. </TexteP>
            <TexteP>
                Nous avons la conviction que <strong>les territoires sont des acteurs clefs</strong> pour construire la sécurité alimentaire de
                demain. C'est dans le but d'amplifier leur pouvoir d'action que nous construisons la plateforme Territoires Fertiles. Nous aidons les
                acteurs territoriaux à s’approprier leurs enjeux agricoles et alimentaires et à s’inspirer d’initiatives transformatrices, afin
                d’imaginer et de co-construire des projets alimentaires ambitieux.
            </TexteP>
            <TexteP> Aider les acteurs des territoires face au défi de la transition agricole et alimentaire, c'est ce qui nous anime. </TexteP>
        </template>

        <template #[ID_QUI_SOMMES_NOUS]>
            <TexteP>
                Le projet Territoires Fertiles est né du rapprochement des applications CRATer et PARCEL. Il est porté par les Greniers d’Abondance en
                partenariat avec le Basic, la Fédération Nationale d’Agriculture Biologique et Terre de Liens.
            </TexteP>
            <BarreLogos :logos="LOGOS_PARTENAIRES" />
        </template>

        <template #[ID_NOS_PRINCIPES]>
            <PuceNumeroEtTexte :numero="1" texte="Coopération et autonomie des territoires" class="mt-4 mb-2 font-bold" />
            <p class="pl-10">
                Nous croyons à la capacité des acteurs territoriaux à organiser des systèmes alimentaires résilients et désirables à l’échelle de leur
                bassin de vie.
            </p>

            <PuceNumeroEtTexte :numero="2" texte="Vision systémique" class="mt-4 mb-2 font-bold" />
            <p class="pl-10">
                Plutôt qu’évoquer les questions isolément (dimension économique, environnementale, nutritive, sanitaire, culturelle...), nous
                privilégions les analyses transversales afin de proposer des mesures à fort potentiel transformateur, à la hauteur des enjeux.
            </p>

            <PuceNumeroEtTexte :numero="3" texte="Intérêt général" class="mt-4 mb-2 font-bold" />
            <p class="pl-10">
                Nous avons pour boussole l’intérêt général et défendons une juste répartition de l’effort de transformation du système alimentaire,
                basée sur une analyse réintégrant notamment les «&nbsp;externalités&nbsp;».
            </p>

            <PuceNumeroEtTexte :numero="4" texte="Co-construction et approche centrée sur l’utilisateur" class="mt-4 mb-2 font-bold" />
            <p class="pl-10">
                Territoires Fertiles se nourrit de centaines d’heures d’entretiens avec des personnes dont nous souhaitons amplifier le travail :
                citoyens, agents, élus, organisations partenaires... Notre priorité est de répondre aux besoins du terrain.
            </p>

            <PuceNumeroEtTexte :numero="5" texte="Méthode scientifique" class="mt-4 mb-2 font-bold" />
            <p class="pl-10">
                Nous pensons que la méthode scientifique est un formidable moyen pour comprendre le monde et guider les décisions. Nous sommes
                attachés à la clarté de l’argumentation, la transparence des méthodes et à l’esprit critique.
            </p>

            <PuceNumeroEtTexte :numero="6" texte="Transparence et partage" class="mt-4 mb-2 font-bold" />
            <p class="pl-10">
                Nous exposons notre démarche de façon transparente. Nos méthodologies et nos productions en accès libre sont ouvertes à la critique et
                destinées à être réutilisées par d’autres.
            </p>
        </template>

        <template #[ID_REMERCIEMENTS]>
            <TexteP>
                Nous tenons à remercier chaleureusement :
                <ul class="ps-8 list-disc">
                    <li>Tous les bénévoles qui contribuent ou ont contribué au projet Territoires Fertiles ou CRATer depuis 2020 ;</li>
                    <li>
                        Les experts et acteurs de la recherche qui nous aident ou nous ont aidé dans la construction des indicateurs. En particulier
                        l’ancien comité scientifique de CRATer, et l'équipe Solagro pour la mise à disposition des données HVN ainsi que l'aide à la
                        création des indicateurs sur l'énergie ;
                    </li>
                    <li>
                        Corentin Barbu pour son aide précieuse lors de la construction de l’indicateur des analogues climatiques, basé sur son projet
                        <TexteLien url="https://ccexplorer.eu/">CCExplorer</TexteLien> ;
                    </li>
                    <li>
                        le projet <TexteLien url="https://obso-alim.org/">Obsoalim34</TexteLien> pour la mise à disposition des données de
                        l’indicateur sur la précarité alimentaire ;
                    </li>
                    <li>
                        et plus généralement les agents, élus et citoyens qui grâce à leurs retours et commentaires nous permettent d’améliorer le
                        projet au quotidien et de le rendre utile pour accélérer les transitions localement.
                    </li>
                </ul>
            </TexteP>
        </template>

        <template #[ID_FINANCEURS]>
            <TexteP>
                <BarreLogos :logos="LOGOS_FINANCEURS" />
            </TexteP>
            <TexteP class="pt-4">
                Merci également aux autres organisations qui ont financé CRATer par le passé : l’Agence Nationale de la Recherche au titre du
                Programme d’Investissements d’Avenir portant la référence ANR-17-CONV-0004 et la métropole de Nice Côte d'Azur au travers de son
                soutien au projet d'amélioration de l'utilisation des données sur les surfaces agricoles.
            </TexteP>
        </template>

        <template #[ID_HISTORIQUE_VERSIONS]>
            <TexteP>
                <ul class="ps-8 list-disc">
                    <li>
                        2019 : sortie de PARCEL, le simulateur d’empreinte alimentaire, développé par Terre de Liens, la Fédération Nationale de
                        l’Agriculture Biologique (FNAB) et le BASIC.
                    </li>
                    <li>
                        2020 : sortie de CRATer, le calculateur pour la résilience alimentaire des territoires, développé par les Greniers
                        d’Abondance.
                    </li>
                    <li>2021-2024 : enrichissement régulier de CRATer (ajout d'indicateurs, mise en place des cartes, exports pdf...)</li>
                    <li>Mai 2024 : première mise en ligne, diagnostic 3min et 30min.</li>
                    <li>
                        Septembre 2024 : amélioration du diagnostic 3min (clarification et territorialisation accrue des constats, export en PDF, et
                        navigation mobile plus fluide).
                    </li>
                    <li>
                        Octobre 2024 : ajout d'initiatives inspirantes personnalisées selon le territoire et amélioration de l'interface : refonte de
                        la navigation, design des pages, rendu mobile.
                    </li>
                    <li>Février 2025 : ajout de l'export du diagnostic flash sous forme de livret imprimable A4 pliable.</li>
                    <li>Mars 2025 : intégration de CRATer et PARCEL au sein de Territoires Fertiles.</li>
                </ul>
            </TexteP>
        </template>
    </TemplatePageSimple>
</template>

<script setup lang="ts">
import { LOGOS_FINANCEURS, LOGOS_PARTENAIRES } from '@lga/images-definitions';

import PuceNumeroEtTexte from '@/components/base/PuceNumeroEtTexte.vue';
import TexteLien from '@/components/base/TexteLien.vue';
import TexteP from '@/components/base/TexteP.vue';
import { usePositionnerInfosHead } from '@/composables';
import type { ItemLienHash } from '@/modeles/navigation/ItemMenuModele';
import BarreLogos from '~/components/base/BarreLogos.vue';
import TemplatePageSimple from '~/components/templates/TemplatePageSimple.vue';

usePositionnerInfosHead({
    titre: 'À propos',
    description: 'Un outil libre et gratuit au service de la transition agricole et alimentaire dans les territoires.',
    titreRS: 'À propos du projet Territoires Fertiles'
});

const TEXTE_SOUS_TITRE =
    'Territoires Fertiles a pour ambition de participer à la transformation du système alimentaire et agricole français, en aidant chacun à comprendre l’urgence de changer les choses à l’échelle de son territoire, et à être moteur de ce changement. En plus, c’est gratuit et Open Source.';

const ID_POURQUOI_TERRITOIRES_FERTILES = 'pourquoi-territoires-fertiles';
const ID_QUI_SOMMES_NOUS = 'qui-sommes-nous';
const ID_NOS_PRINCIPES = 'nos-principes';
const ID_REMERCIEMENTS = 'remerciements';
const ID_FINANCEURS = 'financeurs';
const ID_HISTORIQUE_VERSIONS = 'historique-versions';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_POURQUOI_TERRITOIRES_FERTILES,
        libelle: 'Pourquoi Territoires Fertiles ?'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_QUI_SOMMES_NOUS,
        libelle: 'Qui sommes-nous ?'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_NOS_PRINCIPES,
        libelle: 'Nos principes'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_REMERCIEMENTS,
        libelle: 'Remerciements'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_FINANCEURS,
        libelle: 'Les financeurs'
    },
    {
        type: 'LIEN_HASH',
        hash: ID_HISTORIQUE_VERSIONS,
        libelle: 'Historique des versions'
    }
];
</script>
