<template>
    <ConstatsTest :constatsModeles="modeles"> </ConstatsTest>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import { creerConstatEvolutionPopulationAgricole, creerConstatRevenus } from '~/modeles/constats/constats-agriculteurs.js';
import { creerDonneesApi } from '~/modeles/tests-utils';

const modeleEvolutionPopulationAgricole = creerConstatEvolutionPopulationAgricole(
    creerDonneesApi({
        populationAgricole1988: 50000,
        populationAgricole2010: 20000
    })
);

const modeleHaussePopulationAgricole = creerConstatEvolutionPopulationAgricole(
    creerDonneesApi({
        populationAgricole1988: 20000,
        populationAgricole2010: 30000
    })
);

const modeleRevenus = creerConstatRevenus(creerDonneesApi({}));

const modeles = computed(() => [modeleEvolutionPopulationAgricole, modeleHaussePopulationAgricole, modeleRevenus]);
</script>
