<template>
    <ConstatsTest :constatsModeles="modeles"></ConstatsTest>
</template>

<script setup lang="ts">
import type { TerritoireApi } from '@lga/specification-api';
import { computed } from 'vue';

import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import { creerConstatCommercesAlimentaires, creerConstatPrecariteAlimentaire } from '~/modeles/constats/constats-accessibilite.js';
import { creerDonneesApi } from '~/modeles/tests-utils';

const donneesApi = creerDonneesApi({
    tauxAdequationAssietteActuelleBrutPourcent: 120,
    codeNiveauRisquePrecariteAlimentaire: '3_MOYEN',
    partPopulationDependanteVoiturePourcent: 12.324
});

const donneesFranceApi = creerDonneesApi({});
donneesFranceApi.territoireApi = {
    categorie: 'PAYS',
    id: 'france',
    idCode: 'P-FR',
    idNom: 'france',
    idTerritoireParcel: '1',
    nom: 'France',
    boundingBox: {
        latitudeMax: 51.09,
        latitudeMin: 41.33,
        longitudeMax: 9.56,
        longitudeMin: -5.14
    }
} as TerritoireApi;

const modelePrecariteAlimentaireCarte = computed(() => creerConstatPrecariteAlimentaire(donneesApi));
const modelePrecariteAlimentaireMessageFrance = computed(() => creerConstatPrecariteAlimentaire(donneesFranceApi));
const modeleCommercesAlimentaires = computed(() => creerConstatCommercesAlimentaires(donneesApi));

const modeles = computed(() => [
    modelePrecariteAlimentaireCarte.value,
    modelePrecariteAlimentaireMessageFrance.value,
    modeleCommercesAlimentaires.value
]);
</script>
