<template>
    <ConstatsTest :constatsModeles="modeles"> </ConstatsTest>
</template>

<script setup lang="ts">
import { computed } from 'vue';

import ConstatsTest from '~/components/diagnostics/constats/ConstatsTest.vue';
import { creerConstatDistances } from '~/modeles/constats/constats-autonomie-alimentaire';
import { creerDonneesApi } from '~/modeles/tests-utils';

const donneesApi = creerDonneesApi({
    tauxAdequationAssietteActuelleBrutPourcent: 1.1
});

const modeleDistances = computed(() => creerConstatDistances(donneesApi));

const modeles = computed(() => [modeleDistances.value]);
</script>
