<template>
    <div>
        <h1 class="font-bold text-xl">Test du composant Constat</h1>
        <main class="bg-sable">
            <h2>Affichage template constat par défaut = infographie à droite</h2>
            <Constat :modele="modele" :numero="2" />

            <h2>Affichage template constat infographie à gauche</h2>
            <Constat :modele="modele" positionInfographie="gauche" :numero="3"> </Constat>

            <h2>Affichage 3 constats d'affilée</h2>
            <Constat :modele="modele" :numero="1" />
            <Constat :modele="modele" :numero="2" />
            <Constat :modele="modele" :numero="3" />
            <div />
        </main>
    </div>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import { ref } from 'vue';

import Constat from '~/components/diagnostics/constats/Constat.vue';
import type { ConstatModele } from '~/modeles/constats/ConstatModele.js';
import type { InfographieImageChiffreCleModele } from '~/modeles/constats/InfographieModele.js';

const modele = ref<ConstatModele<InfographieImageChiffreCleModele>>({
    id: 'alimentation-animale-importee',
    idTheme: 'ressources',
    titre: {
        libelle: 'Titre constat-thème',
        image: {
            url: 'https://placehold.co/800x800?text=hero',
            descriptionAlt: 'Image alt',
            resolutionX: 800,
            resolutionY: 800
        }
    },
    message: {
        titre: 'Titre du message détaillé',
        texte: htmlstring`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, vestibulum ligula sit amet, posuere urna. Donec nec enim non nunc`,
        question: 'Et si on ... ?',
        initiatives: []
    },
    infographie: {
        nomComposant: 'InfographieImageChiffreCle',
        informationsMethodologie: {
            titre: 'Titre infographie',
            descriptif: htmlstring`Descriptif infographie`,
            urlComplementInformation: 'url-methodologie'
        },
        chiffreCle: {
            chiffre: '9999',
            unite: 'patates',
            phrase: htmlstring`Phrase indicateur`
        },
        image: {
            url: 'https://placehold.co/800x800?text=image',
            descriptionAlt: 'Image alt',
            resolutionX: 800,
            resolutionY: 800,
            position: 'gauche'
        },
        accroche: 'Phrase accroche'
    }
});
</script>
