<template>
    <div class="sticky w-full grid place-items-end bottom-0 p-4 z-10 print:hidden">
        <NuxtLink
            class="hidden sm:flex flex-nowrap w-fit place-items-center gap-3 text-accent bg-white p-3 sm:px-4 rounded-full hover:text-primaire shadow-lg"
            :to="useRouteDonnezVotreAvis()"
        >
            <IconeFormulaire class="text-3xl"></IconeFormulaire>
            <div class="font-medium">Donnez votre avis</div>
        </NuxtLink>
    </div>
</template>

<script setup lang="ts">
import IconeFormulaire from '@/assets/icones/formulaire.svg';
import { useRouteDonnezVotreAvis } from '@/composables';
import { NuxtLink } from '#components';
</script>
