<template>
    <div class="flex flex-col text-white bg-primaire-sombre">
        <div class="flex flex-col items-center gap-2 pb-8 whitespace-nowrap">
            <div class="text-sm text-primaire-300">{{ idTerritoire ? 'Territoire selectionné' : 'Saisissez votre territoire' }}</div>
            <div class="w-full max-w-[640px] px-2">
                <ChampRechercheTerritoire taille="s" @selectionner-territoire="selectionnerTerritoire" />
            </div>
        </div>
        <BurgerMenuAccordeon :arborescence-site="props.arborescenceSite" />
        <BarreReseauxSociaux mode="suivi" couleur="blanc" class="p-4 border-t border-neutral-100/20" />
    </div>
</template>

<script setup lang="ts">
import BarreReseauxSociaux from '@/components/base/BarreReseauxSociaux.vue';
import { useGetStateIdTerritoire } from '@/composables';

import type { ArborescenceSite } from '../../modeles/navigation/MenuModele';
import BurgerMenuAccordeon from './BurgerMenuAccordeon.vue';
import ChampRechercheTerritoire from './ChampRechercheTerritoire.vue';

const emit = defineEmits<{
    (e: 'fermer'): void;
}>();

const props = defineProps<{
    arborescenceSite: ArborescenceSite;
}>();

const idTerritoire = useGetStateIdTerritoire();

async function selectionnerTerritoire() {
    emit('fermer');
}
</script>
