<template>
    <div>
        <IconeBurgerMenu class="grid text-4xl text-primaire cursor-pointer" @click="ouvrirMenu()" />
        <div :class="[displayMenu, 'bg-primaire-950 overflow-auto fixed top-0 right-0 w-[100vw] h-[100vh]']">
            <div class="fixed top-0 z-50 h-[var(--hauteur-entete-totale)] w-full grid items-center pr-2 bg-primaire-950">
                <IconeCroix class="text-4xl text-white h-6 justify-self-end cursor-pointer" @click="fermerMenu()" />
            </div>
            <div class="mt-[var(--hauteur-entete-totale)]">
                <BurgerMenu :arborescence-site="props.arborescenceSite" @fermer="fermerMenu()"></BurgerMenu>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

import IconeBurgerMenu from '@/assets/icones/burger-menu.svg';
import IconeCroix from '@/assets/icones/croix.svg';

import type { ArborescenceSite } from '../../modeles/navigation/MenuModele';
import BurgerMenu from './BurgerMenu.vue';

const props = defineProps<{
    arborescenceSite: ArborescenceSite;
}>();

const displayMenu = ref('hidden');
const ouvrirMenu = () => {
    displayMenu.value = 'block';
};
const fermerMenu = () => {
    displayMenu.value = 'hidden';
};
</script>
