<template>
    <UAccordion :items="creerAccordionItemAvecSousItems(props.sousMenus)" variant="solid" color="sable">
        <template #item="{ item: accordionItemAvecLiens }">
            <UVerticalNavigation
                :links="creerVerticalNavigationLink(accordionItemAvecLiens.itemsSousMenu)"
                :ui="{
                    wrapper: '',
                    label: '',
                    base: 'before:hidden',
                    padding: 'p-0 py-1 ml-4',
                    rounded: '',
                    size: 'text-sm',
                    active: 'text-primaire border-primaire-500 font-semibold',
                    inactive: 'border-neutral-500 hover:border-neutral-600 text-neutral-500 hover:text-neutral-600'
                }"
            />
        </template>
    </UAccordion>
</template>

<script setup lang="ts">
import type { AccordionItem } from '#ui/types';
import type { VerticalNavigationLink } from '#ui/types/vertical-navigation.js';
import type { ItemSousMenu } from '~/modeles/navigation/ItemMenuModele';
import type { SousMenu } from '~/modeles/navigation/MenuModele';

interface AccordionItemAvecSousItems extends AccordionItem {
    itemsSousMenu: ItemSousMenu[];
}

const props = defineProps<{
    sousMenus: SousMenu[];
}>();

const creerAccordionItemAvecSousItems = (items: SousMenu[]): AccordionItemAvecSousItems[] => {
    return items.map((item) => {
        return {
            label: item.libelle,
            defaultOpen: item.estActif,
            itemsSousMenu: item.sousItems
        };
    });
};

const creerVerticalNavigationLink = (items: ItemSousMenu[]): VerticalNavigationLink[] => {
    return items
        .filter((i) => i.type === 'LIEN_PAGE')
        .map((item) => ({
            label: item.libelle,
            to: item.route,
            active: item.estActif ?? false
        }));
};
</script>
