<template>
    <footer class="bg-primaire-600 text-lg text-white px-8">
        <main class="flex flex-row flex-wrap justify-around gap-6 py-8">
            <div class="flex flex-col gap-2 max-w-[600px] items-center justify-between lg:items-start">
                <p class="text-2xl font-bold pb-2">Territoires Fertiles</p>
                <p class="text-base text-center lg:text-left">
                    Un commun numérique développé par l’association Les Greniers d’Abondance, en partenariat avec La Banque des Territoires, Le Basic,
                    La Fédération Nationale d’Agriculture Biologique et Terre de Liens.
                </p>
                <ul class="flex flex-row gap-2 text-base">
                    <li><NuxtLink :to="useRouteQuiSommesNous()" class="hover:text-accent underline">En savoir plus</NuxtLink></li>
                    <li><NuxtLink :to="useRouteContact()" class="hover:text-accent underline">Nous contacter</NuxtLink></li>
                </ul>
                <BarreLogos class="py-4" :logos="LOGOS_PARTENAIRES_ET_BDT" taille="petite" />
            </div>
            <div class="flex flex-col justify-between gap-4">
                <div class="flex flex-col gap-2">
                    <p class="text-2xl font-bold pb-2">On reste en contact ?</p>
                    <BarreReseauxSociaux mode="suivi" couleur="blanc" />
                </div>
                <div class="flex flex-col items-center gap-2">
                    <p class="font-sans text-xl font-bold">Newsletter</p>
                    <ChampInscriptionNewsletter label-bouton="GO" />
                </div>
            </div>
        </main>
        <div class="border-t-white border-t flex flex-col lg:flex-row py-2 items-center lg:items-start text-sm">
            <p class="grow">TerritoiresFertiles.fr</p>
            <ul class="flex flex-col lg:flex-row lg:gap-2 items-center lg:items-start">
                <li class="hover:text-accent"><NuxtLink :to="useRouteMentionsLegales()">Mentions légales</NuxtLink></li>
                <li class="hover:text-accent lg:border-l border-l-white lg:pl-2">
                    <NuxtLink :to="useRouteLicencesUtilisation()">Licences d'utilisation</NuxtLink>
                </li>
                <li class="hover:text-accent lg:border-l border-l-white lg:pl-2"><NuxtLink :to="useRouteCredits()">Crédits</NuxtLink></li>
            </ul>
        </div>
    </footer>
</template>

<script setup lang="ts">
import { LOGOS_PARTENAIRES_ET_BDT } from '@lga/images-definitions';

import BarreReseauxSociaux from '@/components/base/BarreReseauxSociaux.vue';
import ChampInscriptionNewsletter from '@/components/base/ChampInscriptionNewsletter.vue';
import { useRouteContact, useRouteCredits, useRouteLicencesUtilisation, useRouteMentionsLegales, useRouteQuiSommesNous } from '@/composables';
import { NuxtLink } from '#components';

import BarreLogos from '../base/BarreLogos.vue';
</script>
