<template>
    <div>
        <h1 class="text-xl text-black m-2">Test BanniereLienVersDiagnosticFlash</h1>
        <main class="sm:m-10 p-4 sm:p-5 bg-sable-100 flex flex-col gap-5 items-center">
            <BanniereLienVersDiagnosticFlash id-territoire="france" />
        </main>
    </div>
</template>

<script setup lang="ts">
import BanniereLienVersDiagnosticFlash from '~/components/diagnostics/BanniereLienVersDiagnosticFlash.vue';
</script>
