<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test BlocLienImage</h1>
        <main class="m-10 p-5 w-[350px] bg-neutral-50 flex flex-col gap-5">
            <BlocLienImage :label="thematique.label" :titre="thematique.titre" :url="thematique.url" :image="thematique.image" />
        </main>
    </div>
</template>

<script setup lang="ts">
import { IMAGE_PAYSAGE_AGRICOLE } from '~/modeles/constats/constats-terres-agricoles.js';

import BlocLienImage, { type BlocLienImageModele } from '../../../components/base/BlocLienImage.vue';

const thematique: BlocLienImageModele = {
    label: 'Terres agricoles',
    titre: 'Quel est le potentiel nourricier de votre territoire ?',
    url: '/lien-thematique',
    image: IMAGE_PAYSAGE_AGRICOLE
};
</script>
