<template>
    <div>
        <h1>Test des boutons</h1>
        <main class="grid grid-cols-2 gap-2 p-2 bg-gris-100">
            <div class="col-start-1 flex flex-col gap-2">
                <BoutonNuxt libelle="Paramètres par défaut" to="/" />

                <BoutonNuxt libelle="Plein Primaire" to="/" type="plein" couleur="primaire" />
                <BoutonNuxt libelle="Plein Accent" to="/" type="plein" couleur="accent" />
                <BoutonNuxt libelle="Plein Blanc" to="/" type="plein" couleur="blanc" />

                <BoutonNuxt libelle="Plein, avec Icône" to="/">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="Plein, avec Icône complexe" to="/">
                    <IconeWhatsapp />
                </BoutonNuxt>
                <BoutonNuxt libelle="Taille M" to="/" taille="m" />
                <BoutonNuxt libelle="Taille S" to="/" taille="s" />

                <BoutonNuxt libelle="" to="/" taille="m">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="" to="/" taille="s">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="" to="/" taille="s" styleIcone="filaire">
                    <IconeCoeur />
                </BoutonNuxt>
            </div>

            <div class="col-start-2 flex flex-col gap-2">
                <div class="h-12"></div>
                <BoutonNuxt libelle="Filaire Primaire" to="/" type="filaire" couleur="primaire" />
                <BoutonNuxt libelle="Filaire Accent" to="/" type="filaire" couleur="accent" />
                <BoutonNuxt libelle="Filaire Blanc" to="/" type="filaire" couleur="blanc" />

                <BoutonNuxt libelle="Filaire Primaire, avec Icône" to="/" type="filaire">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="Filaire Primaire, avec Icône complexe" to="/" type="filaire">
                    <IconeWhatsapp />
                </BoutonNuxt>
                <BoutonNuxt libelle="Filaire Accent, avec Icône" to="/" type="filaire" couleur="accent">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="Filaire Blanc, avec Icône" to="/" type="filaire" couleur="blanc">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="" to="/" taille="s" type="filaire" couleur="accent" styleIcone="filaire">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="" to="/" taille="s" type="filaire" couleur="accent" styleIcone="plein">
                    <IconeCoeur />
                </BoutonNuxt>
                <BoutonNuxt libelle="" to="/" taille="s" type="filaire" couleur="blanc" styleIcone="filaire">
                    <IconeCoeur />
                </BoutonNuxt>
            </div>
        </main>
    </div>
</template>

<script setup lang="ts">
import IconeCoeur from '@/assets/icones/coeur.svg';
import IconeWhatsapp from '@/assets/icones/reseaux-sociaux/whatsapp.svg';
import BoutonNuxt from '@/components/base/BoutonNuxt.vue';
</script>
