<template>
    <div>
        <BoutonModaleInformation :titre="informationsMethodologie.titre" :descriptif="informationsMethodologie.descriptif" />
    </div>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';

import BoutonModaleInformation from '~/components/diagnostics/commun/BoutonInfoMethodologie.vue';

const informationsMethodologie = {
    titre: 'Titre méthodo',
    descriptif: htmlstring`Descriptif méthodo`,
    urlMethodologie: 'url-methodologie'
};
</script>
