<template>
    <div>
        <h1>Test Carte</h1>
        <main class="h-[400px] w-[400px] m-auto">
            <h2>Carte simple avec options par défaut changées</h2>
            <Carte
                :bounding-box="boundingBox"
                :definitionCoucheTerritoiresDetoures="definitionCoucheTerritoiresDetoures"
                :attribution-html="attributionHtml"
                styleFond="original"
                :ajouterBoutonZoom="false"
                :interdireInteractivite="true"
                :ratiosMarges="[0.5, 1, 0.5, 1]"
            />
            <h2>Carte de territoires colorés</h2>
            <Carte :bounding-box="boundingBox" :definitionCoucheTerritoiresColores="definitionCoucheTerritoiresColores" />
            <h2>Carte de cercles proportionnels</h2>
            <Carte :bounding-box="boundingBox" :definitionCoucheCercles="definitionCoucheCercles" styleFond="original" />
            <h2>Carte avec territoires colorés et cercles proportionnels</h2>
            <Carte
                :bounding-box="boundingBox"
                :definitionCoucheTerritoiresColores="definitionCoucheTerritoiresColores"
                :definitionCoucheCercles="definitionCoucheCercles"
                :definitionCoucheTerritoiresDetoures="definitionCoucheTerritoiresDetoures"
                styleFond="original"
            />
            <h2>Carte de cercles proportionnels colorés</h2>
            <Carte :bounding-box="boundingBox" :definitionCoucheCercles="definitionCoucheCerclesColores" styleFond="original" />
        </main>
    </div>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';
import type { BoundingBoxApi, IndicateurApi } from '@lga/specification-api';
import {
    type FonctionCalculerLibelleTooltip,
    StyleCarteCerclesProportionnels,
    StyleCarteCerclesProportionnelsColores,
    StyleCarteChorochromatique
} from '@lga/styles-carte';

import { useGetApiBaseUrl } from '#imports';
import Carte, {
    type DefinitionCoucheCercles,
    type DefinitionCoucheTerritoiresColores,
    type DefinitionCoucheTerritoiresDetoures
} from '~/components/cartes/Carte.vue';
import type { DonneesCercle, MapIndicateurs } from '~/components/cartes/carte-utils.js';

const attributionHtml = htmlstring`En savoir plus sur <a href="lien" target="_blank" rel="noopener noreferrer">blablabla.org</a>`;

const boundingBox: BoundingBoxApi = {
    latitudeMax: 43.767,
    latitudeMin: 43.516,
    longitudeMax: 1.632,
    longitudeMin: 1.204
};
const apiBaseUrl = useGetApiBaseUrl();

const definitionCoucheTerritoiresDetoures: DefinitionCoucheTerritoiresDetoures = {
    urlPmtilesTerritoires: `${apiBaseUrl}/crater/api/cartes/vectorielles/epcis.pmtiles`,
    listeTerritoires: ['toulouse-metropole', 'communaute-de-communes-des-terres-du-lauragais'],
    couleurDetourage: '#EE82EE'
};

const recupererIndicateursTerritoires = async (): Promise<MapIndicateurs> => {
    const mapIndicateurs: MapIndicateurs = new Map<string, { valeur: string | number | null }>();
    const indicateursApi: IndicateurApi[] = [
        {
            idTerritoire: 'blagnac',
            valeur: 'fort'
        },
        {
            idTerritoire: 'toulouse',
            valeur: 'faible'
        }
    ];
    indicateursApi.forEach((indicateur: IndicateurApi) => {
        mapIndicateurs.set(indicateur.idTerritoire, {
            valeur: indicateur.valeur
        });
    });
    return mapIndicateurs;
};

const styleChorochromatique = new StyleCarteChorochromatique({
    couleurContours: 'grey',
    classes: [
        {
            code: 'faible',
            libelle: 'Faible',
            couleur: '#7217a6'
        },
        {
            code: 'fort',
            libelle: 'Fort',
            couleur: '#17a68e'
        }
    ]
});

const definitionCoucheTerritoiresColores: DefinitionCoucheTerritoiresColores = {
    urlPmtilesTerritoires: `${apiBaseUrl}/crater/api/cartes/vectorielles/communes.pmtiles`,
    recupererIndicateurs: recupererIndicateursTerritoires,
    style: styleChorochromatique
};

const styleCercles = new StyleCarteCerclesProportionnels({
    facteurMultiplicatifTailleCercles: 3,
    opacite: 0.6,
    unite: 'm3/ha'
});

const donneesCercles = async (): Promise<DonneesCercle[]> => [
    {
        idTerritoire: 'toulouse',
        nomTerritoire: 'Toulouse',
        longitude: 1.4414122069975899,
        latitude: 43.60323942237473,
        valeur: -1
    },
    {
        idTerritoire: 'blagnac',
        nomTerritoire: 'Blagnac',
        longitude: 1.38897301495418,
        latitude: 43.63502662454289,
        valeur: -2
    },
    {
        idTerritoire: 'colomiers',
        nomTerritoire: 'Colomiers',
        longitude: 1.3301702185478819,
        latitude: 43.610138425414966,
        valeur: 2
    }
];

const definitionCoucheCercles: DefinitionCoucheCercles = {
    recupererDonnees: donneesCercles,
    style: styleCercles
};

const calculerClasseCerclesColores = (valeurCouleur: number | null): string | null => {
    if (valeurCouleur === -5) {
        return 'niveau_1';
    } else if (valeurCouleur === 5) {
        return 'niveau_2';
    } else return 'niveau_3';
};

const calculerLibelleCerclesColores: FonctionCalculerLibelleTooltip = (valeur: number | string | null) => {
    return 'Niveau : ' + valeur;
};

const calculerLibelleRayonCerclesColores: FonctionCalculerLibelleTooltip = (valeur: number | string | null) => {
    return 'SAU : ' + valeur + ' ha';
};

const styleCerclesColores = new StyleCarteCerclesProportionnelsColores({
    facteurMultiplicatifTailleCercles: 2,
    opacite: 0.6,
    classes: [
        {
            code: 'niveau_1',
            libelle: 'niveau_1',
            couleur: '#17a68e'
        },
        {
            code: 'niveau_2',
            libelle: 'niveau_2',
            couleur: '#7217a6'
        },
        {
            code: 'niveau_3',
            libelle: 'niveau_3',
            couleur: 'red'
        }
    ],
    fonctionNombreVersCodeClasse: calculerClasseCerclesColores,
    calculerLibelleTooltipPersonnalise: calculerLibelleCerclesColores,
    calculerLibelleTooltipRayonCercle: calculerLibelleRayonCerclesColores
});

const donneesCerclesColores = async (): Promise<DonneesCercle[]> => [
    {
        idTerritoire: 'toulouse',
        nomTerritoire: 'Toulouse',
        longitude: 1.4414122069975899,
        latitude: 43.60323942237473,
        valeur: 1,
        valeurCouleur: -5
    },
    {
        idTerritoire: 'blagnac',
        nomTerritoire: 'Blagnac',
        longitude: 1.38897301495418,
        latitude: 43.63502662454289,
        valeur: 1,
        valeurCouleur: 0
    },
    {
        idTerritoire: 'colomiers',
        nomTerritoire: 'Colomiers',
        longitude: 1.3301702185478819,
        latitude: 43.610138425414966,
        valeur: 2,
        valeurCouleur: 5
    }
];

const definitionCoucheCerclesColores: DefinitionCoucheCercles = {
    recupererDonnees: donneesCerclesColores,
    style: styleCerclesColores
};
</script>
