<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test bloc CartePresentationTerritoire</h1>
        <main class="max-w-[1200px] bg-neutral-50 flex flex-col gap-0">
            <CartePresentationTerritoire :territoire="territoire" :descriptionTerritoire="descriptionTerritoire"></CartePresentationTerritoire>
        </main>
    </div>
</template>

<script setup lang="ts">
import CartePresentationTerritoire from '~/components/diagnostics/commun/CartePresentationTerritoire.vue';
import { creerDescriptionTerritoire, creerTerritoire } from '~/modeles/DiagnosticModele.js';
import { creerDonneesApi } from '~/modeles/tests-utils';

const donneesApi = creerDonneesApi({
    population: 3502,
    occupationSols: {
        superficieAgricoleClcHa: 7000,
        superficieArtificialiseeClcHa: 1000,
        superficieNaturelleOuForestiereClcHa: 2000,
        superficieAgricoleRA2020Ha: 6000,
        superficieTotaleHa: 10000
    },
    codeOtexMajoritaire5Postes: 'GRANDES_CULTURES'
});

const territoire = creerTerritoire(donneesApi.territoireApi);
const descriptionTerritoire = creerDescriptionTerritoire(donneesApi);
</script>
