<template>
    <div>
        <h1 class="text-3xl font-serif p-2">Tests des composants nuxt</h1>
        <p><a href="/_debug">← Retour outils de debug</a></p>

        <h2 class="text-2xl font-serif p-2">Base</h2>
        <ul style="margin-left: 50px">
            <li><a href="/_debug/_tests/base/Legende.test">Legende.test</a></li>
            <li><a href="/_debug/_tests/base/BarreLogos.test">BarreLogos.test</a></li>
            <!-- TODO basculer les tests suivants dans le dossier /base            -->
            <li><a href="/_debug/_tests/BarreReseauxSociaux.test">BarreReseauxSociaux.test</a></li>
            <li><a href="/_debug/_tests/BlocLienImage.test">BlocLienImage.test</a></li>
            <li><a href="/_debug/_tests/BlocTexteEtBouton.test">BlocTexteEtBouton.test</a></li>
            <li><a href="/_debug/_tests/BoutonsNuxt.test">BoutonsNuxt.test</a></li>
            <li><a href="/_debug/_tests/BoutonSelecteur.test">BoutonSelecteur.test</a></li>
            <li><a href="/_debug/_tests/LienTelechargerPdf.test">LienTelechargerPdf.test</a></li>
            <li><a href="/_debug/_tests/TexteAvecPopover.test">TexteAvecPopover.test</a></li>
            <li><a href="/_debug/_tests/TexteLien.test">TexteLien.test</a></li>
            <li><a href="/_debug/_tests/TitrePage.test">TitrePage.test</a></li>
        </ul>
        <h2 class="text-2xl font-serif p-2">Navigation</h2>
        <ul style="margin-left: 50px">
            <li><a href="/_debug/_tests/navigation/Burger.test">Burger.test</a></li>
            <li><a href="/_debug/_tests/navigation/BurgerMenu.test">BurgerMenu.test</a></li>
            <li><a href="/_debug/_tests/navigation/ChampRechercheTerritoire.test">ChampRechercheTerritoire.test</a></li>
            <li><a href="/_debug/_tests/navigation/EnteteMenu.test">EnteteMenu.test</a></li>
            <li><a href="/_debug/_tests/navigation/SectionsMenu.test">SectionsMenu.test</a></li>
            <li><a href="/_debug/_tests/navigation/PagesMenu.test">PagesMenu.test</a></li>
        </ul>
        <h2 class="text-2xl font-serif p-2">Charts</h2>
        <ul style="margin-left: 50px">
            <li><a href="/_debug/_tests/charts/ChartOccupationSols.test">ChartOccupationSols.test</a></li>
            <li><a href="/_debug/_tests/charts/ChartTreemapCultures.test">ChartTreemapCultures.test</a></li>
            <li><a href="/_debug/_tests/charts/ChartTreemapDoubleCultures.test">ChartTreemapDoubleCultures.test</a></li>
        </ul>

        <h2 class="text-2xl font-serif p-2">Diagnostic</h2>
        <ul style="margin-left: 50px">
            <h2 class="text-xl font-serif p-2">Commun</h2>
            <ul style="margin-left: 50px">
                <li><a href="/_debug/_tests/BanniereLienVersDiagnosticFlash.test">BanniereLienVersDiagnosticFlash.test</a></li>
                <li><a href="/_debug/_tests/BlocResumeInitiative.test">BlocResumeInitiative.test</a></li>
                <li><a href="/_debug/_tests/BoutonInfoMethodologie.test">BoutonInfoMethodologie.test</a></li>
                <li><a href="/_debug/_tests/BoutonAvecPanneauGlissantTemoignages.test">BoutonAvecPanneauGlissantTemoignages.test</a></li>
                <li><a href="/_debug/_tests/ModaleInformation.test">ModaleInformation.test</a></li>
                <li><a href="/_debug/_tests/CartePresentationTerritoire.test">CartePresentationTerritoire.test</a></li>
                <li><a href="/_debug/_tests/PresentationThematiques.test">PresentationThematiques.test</a></li>
                <li><a href="/_debug/_tests/TitreTerritoire.test">TitreTerritoire.test</a></li>
            </ul>
            <h2 class="text-xl font-serif p-2">Infographies</h2>
            <ul style="margin-left: 50px">
                <li><a href="/_debug/_tests/infographies/ChiffreCle.test">ChiffreCle.test</a></li>
                <li><a href="/_debug/_tests/infographies/InfographieAvecImageEtChiffreCle.test">InfographieAvecImageEtChiffreCle.test</a></li>
                <li><a href="/_debug/_tests/infographies/InfographiePotentielNourricier.test">InfographiePotentielNourricier.test</a></li>
            </ul>
            <h2 class="text-xl font-serif p-2">Constats Diagnostic Flash</h2>
            <ul style="margin-left: 50px">
                <li><a href="/_debug/_tests/france/Constat.test">Constat.test</a></li>
                <li><a href="/_debug/_tests/france/ConstatLivret4pages.test">ConstatLivret4pages.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.TerresAgricoles.test">Constats.TerresAgricoles.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.AutonomieAlimentaire.test">Constats.AutonomieAlimentaire.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.Consommation.test">Constats.Consommation.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.Accessibilite.test">Constats.Accessibilite.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.Agriculteurs.test">Constats.Agriculteurs.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.Ressources.test">Constats.Ressources.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.Biodiversite.test">Constats.Biodiversite.test</a></li>
                <li><a href="/_debug/_tests/france/Constats.Climat.test">Constats.Climat.test</a></li>
            </ul>
            <h2 class="text-xl font-serif p-2">Thématiques</h2>
            <ul style="margin-left: 50px">
                <li><a href="/_debug/_tests/Encadre.test">Encadre.test</a></li>
                <li><a href="/_debug/_tests/IndicateurFocusTerritoire.test">IndicateurFocusTerritoire.test</a></li>
            </ul>
        </ul>
        <h2 class="text-2xl font-serif p-2">Carte</h2>
        <ul style="margin-left: 50px">
            <li><a href="/_debug/_tests/Carte.test">Carte.test</a></li>
        </ul>
    </div>
</template>

<style scoped>
a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
</style>
