<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test PresentationThematiques</h1>
        <div class="bg-gris-200 flex flex-col gap-5">
            <PresentationThematiques
                typeAffichage="carrousel"
                titre-partie1-surlignee="Découvrir"
                titre-partie2-non-surlignee="une thématique"
                sous-titre="Pour comprendre en détail un sujet, voir les impacts sur votre territoire et découvrir des pistes de projet pour y faire face."
            />
            <PresentationThematiques typeAffichage="galerie" titre-partie1-surlignee="Approfondir" titre-partie2-non-surlignee="une thématique" />
        </div>
    </div>
</template>

<script setup lang="ts">
import PresentationThematiques from '~/components/diagnostics/PresentationThematiques.vue';
</script>
