<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test TexteAvecLien</h1>
        <main class="m-10 p-5 w-auto h-80 bg-neutral-50 flex flex-col gap-5">
            <div>Je suis un <TexteLien url="/_debug/_tests">texte avec lien interne</TexteLien>.</div>
            <div>Je suis un <TexteLien url="https://territoiresfertiles.fr">texte avec lien externe</TexteLien>.</div>
        </main>
    </div>
</template>

<script setup lang="ts">
import TexteLien from '@/components/base/TexteLien.vue';
</script>
