<template>
    <div>
        <h1 class="text-2xl text-red m-10">Test TexteAvecPopover</h1>
        <main class="m-10 p-5 w-auto h-80 bg-neutral-50 flex flex-col gap-5">
            <div>
                Je suis un
                <TexteAvecPopover
                    type="definition"
                    :description="
                        htmlstring`Je suis une définition d'un <strong>mot long et compliqué</strong>. Très très très très très très très long. Horriblement long. Très très très très très très très horriblement long. Mais à la fin tu vas comprendre. Promis. Juré. Parole de Pat Patrouille.`
                    "
                    class="underline decoration-dashed"
                >texte avec définition</TexteAvecPopover
                >.
            </div>
            <div>
                Je suis un
                <TexteAvecPopover
                    type="definition"
                    :description="htmlstring`Je suis une définition.`"
                    lien="https://territoiresfertiles.fr"
                    class="underline decoration-dashed"
                >texte avec définition et lien</TexteAvecPopover
                >.
            </div>
            <div>
                Je suis un
                <TexteAvecPopover
                    type="source"
                    :description="htmlstring`Je suis une source.`"
                    lien="https://territoiresfertiles.fr"
                    class="underline decoration-dashed"
                >texte avec source et lien</TexteAvecPopover
                >.
            </div>
            <div>
                Je suis un texte avec une source en sup
                <TexteAvecPopover
                    type="source"
                    :description="htmlstring`Je suis une source.`"
                    lien="https://territoiresfertiles.fr"
                    class="underline decoration-dashed"
                ><sup>Note</sup></TexteAvecPopover
                >.
            </div>
        </main>
    </div>
</template>

<script setup lang="ts">
import { htmlstring } from '@lga/base';

import TexteAvecPopover from '~/components/base/TexteAvecPopover.vue';
</script>
