<template>
    <div>
        <h1 class="text-2xl text-black m-10">Test TitrePage</h1>
        <main class="flex flex-col gap-2 [&>*]:bg-sable-100">
            <TitrePage
                titrePartie1Surlignee="Titre de la page"
                texte-sous-titre="Sous titre de la page qui explique ce qu'on va trouver dans la page de super intéressant"
            />
            <TitrePage
                titrePartie1Surlignee="Titre"
                titrePartie2NonSurlignee=" de la page"
                texte-sous-titre="Sous titre de la page qui explique ce qu'on va trouver dans la page de super intéressant"
            />
        </main>
    </div>
</template>

<script setup lang="ts">
import TitrePage from '~/components/base/TitrePage.vue';
</script>
