<template>
    <Carte
        :bounding-box="boundingBox"
        :definitionCoucheTerritoiresColores="definitionCoucheTerritoiresColores"
        :definitionCoucheTerritoiresDetoures="definitionCoucheTerritoiresDetoures"
        :attribution-html="props.attributionHtml"
    />
</template>

<script setup lang="ts">
import 'maplibre-gl/dist/maplibre-gl.css';

import type { HtmlString } from '@lga/base';
import type { BoundingBoxApi, TerritoireApi } from '@lga/specification-api';
import type { StyleCarte } from '@lga/styles-carte';
import { CategorieTerritoire } from '@lga/territoires';
import { computed } from 'vue';

import { useGetApiBaseUrl } from '#imports';

import Carte, { type DefinitionCoucheTerritoiresColores, type DefinitionCoucheTerritoiresDetoures } from './Carte.vue';
import { recupererIndicateursTerritoires } from './carte-utils.js';

interface Props {
    territoire: TerritoireApi;
    urlIndicateur: string;
    styleCarte: StyleCarte;
    attributionHtml?: HtmlString;
}

const props = withDefaults(defineProps<Props>(), {
    attributionHtml: undefined
});

const apiBaseUrl = useGetApiBaseUrl();

const boundingBox = computed(() => {
    return 'epci' in props.territoire && props.territoire.epci ? props.territoire.epci.boundingBox : props.territoire.boundingBox;
});

const definitionCoucheTerritoiresColores = computed<DefinitionCoucheTerritoiresColores>(() => {
    return {
        urlPmtilesTerritoires: `${apiBaseUrl}/crater/api/cartes/vectorielles/communes.pmtiles`,
        recupererIndicateurs: (bbox: BoundingBoxApi) =>
            recupererIndicateursTerritoires(bbox, CategorieTerritoire.Commune.codeCategorie, props.urlIndicateur),
        style: props.styleCarte
    };
});

const definitionCoucheTerritoiresDetoures = computed<DefinitionCoucheTerritoiresDetoures>(() => {
    return {
        urlPmtilesTerritoires: `${apiBaseUrl}/crater/api/cartes/vectorielles/${props.territoire.categorie === 'REGROUPEMENT_COMMUNES' ? 'regroupements_communes' : props.territoire.categorie.toLowerCase() + 's'}.pmtiles`,
        listeTerritoires: [props.territoire.id]
    };
});
</script>
