<template>
    <TemplateCarteTitreLegende
        :titre="titre"
        :styleCarte="styleCarte"
        class="w-full rounded-xl sm:rounded-none overflow-hidden max-w-[500px] h-[380px] sm:max-h-[400px]"
    >
        <slot></slot>
    </TemplateCarteTitreLegende>
</template>

<script setup lang="ts">
import type { StyleCarte } from '@lga/styles-carte';

import TemplateCarteTitreLegende from './TemplateCarteTitreLegende.vue';

interface Props {
    titre: string;
    styleCarte: StyleCarte;
}

defineProps<Props>();
</script>
