<template>
    <main>
        <TemplatePageMethodologie :sections="SECTIONS" titrePage="Règles de gestion pour le maillon Consommation">
            <template #consommation>
                <Consommation />
            </template>
        </TemplatePageMethodologie>
    </main>
</template>

<script setup lang="ts">
import { usePositionnerInfosHead } from '@/composables';
import Consommation from '~/components/methodologie/contenus/Consommation.vue';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Méthodologie, indicateurs du maillon Consommation',
    description: 'Règles de calcul des indicateurs du maillon Consommation'
});

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: 'consommation',
        libelle: 'Consommation'
    }
];
</script>
