<template>
    <TemplatePageMethodologie :sections="SECTIONS">
        <template #[ID_SECTION]>
            <TitreH2>Principes généraux</TitreH2>

            <TexteP>
                Des indicateurs et messages clés associés sont calculés pour les 6 maillons suivants du système alimentaire :
                <ul>
                    <li>Terres agricoles</li>
                    <li>Agriculteurs & Exploitations</li>
                    <li>Intrants</li>
                    <li>Production</li>
                    <li>Transformation & Distribution</li>
                    <li>Consommation</li>
                </ul>
            </TexteP>
            <TexteP>
                Chaque maillon fait l'objet d'une évaluation en construisant une note sur 10. Cette note, obtenue par consolidation de différents
                indicateurs, permet soit de situer le territoire par rapport à la France entière soit par rapport à un objectif donné selon des règles
                des calculs détaillées ci-dessous. Aucune note globale n'est calculée, car la résilience d'un système alimentaire ne peut se résumer
                en une dimension mais doit au contraire être approchée de façon transversale à travers les différents maillons qui composent le
                système. Chaque note doit être interprétée de façon prudente au regard des hypothèses prises et de la fiabilité des données utilisées
                sur le territoire considéré.
            </TexteP>
            <TexteP>
                A noter que les notes sont parfois calculées par comparaison avec la moyenne nationale, et parfois de façon plus objective quand cela
                est possible et pertinent. Ainsi, les notes minimale (0), maximale (10) et moyenne (5) ne signifient pas la même chose selon les
                maillons.
            </TexteP>
        </template>
    </TemplatePageMethodologie>
</template>

<script setup lang="ts">
import { usePositionnerInfosHead } from '@/composables';
import TexteP from '~/components/base/TexteP.vue';
import TitreH2 from '~/components/base/TitreH2.vue';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';

usePositionnerInfosHead({
    titre: 'Méthodologie des indicateurs, principes généraux',
    description: 'Principes généraux de calcul des indicateurs.'
});

const ID_SECTION = 'principes-generaux';

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: ID_SECTION,
        libelle: 'Principes généraux'
    }
];
</script>
