<template>
    <main>
        <TemplatePageMethodologie :sections="SECTIONS" titrePage="Règles de gestion pour le maillon Terres agricoles">
            <template #[IDS_DOMAINES.actifsAgricoles]>
                <SauParHabitant />
            </template>
            <template #[IDS_DOMAINES.politiqueAmenagement]>
                <PolitiqueAmenagement />
            </template>
            <template #[IDS_DOMAINES.rythmeArtificialisation]>
                <RythmeArtificialisation />
            </template>
            <template #[IDS_DOMAINES.logementsVacants]>
                <PartLogementsVacants />
            </template>
            <template #[IDS_DOMAINES.terresAgricoles]>
                <ScoreTerresAgricoles />
            </template>
        </TemplatePageMethodologie>
    </main>
</template>

<script setup lang="ts">
import { IDS_DOMAINES } from '@lga/indicateurs';

import { usePositionnerInfosHead } from '@/composables';
import PartLogementsVacants from '~/components/methodologie/contenus/PartLogementsVacants.vue';
import PolitiqueAmenagement from '~/components/methodologie/contenus/PolitiqueAmenagement.vue';
import RythmeArtificialisation from '~/components/methodologie/contenus/RythmeArtificialisation.vue';
import SauParHabitant from '~/components/methodologie/contenus/SauParHabitant.vue';
import ScoreTerresAgricoles from '~/components/methodologie/contenus/ScoreTerresAgricoles.vue';
import TemplatePageMethodologie from '~/components/methodologie/TemplatePageMethodologie.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';

usePositionnerInfosHead({
    titre: 'Méthodologie, indicateurs du maillon Terres agricoles',
    description: 'Règles de calcul des indicateurs du maillon Terres agricoles'
});

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.actifsAgricoles,
        libelle: 'Surface agricole utile productive par habitant'
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.politiqueAmenagement,
        libelle: "Politique d'aménagement"
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.rythmeArtificialisation,
        libelle: "Rythme d'artificialisation"
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.logementsVacants,
        libelle: 'Part de logements vacants'
    },
    {
        type: 'LIEN_HASH',
        hash: IDS_DOMAINES.terresAgricoles,
        libelle: 'Évaluation globale du maillon Terres agricoles'
    }
];
</script>
