<template>
    <div :id="indicateur.id">
        <TitreH4>{{ indicateur.libelle }}</TitreH4>
        <!--            eslint-disable vue/no-v-html -->
        <TexteP>
            <div id="description" v-html="indicateur.descriptionDetaillee ? indicateur.descriptionDetaillee : indicateur.description"></div>
        </TexteP>
    </div>
</template>

<script setup lang="ts">
import type { DefinitionIndicateur } from '@lga/indicateurs';

import TexteP from '../base/TexteP.vue';
import TitreH4 from '../base/TitreH4.vue';

interface Props {
    indicateur: DefinitionIndicateur;
}

defineProps<Props>();
</script>

<style>
#description > ul {
    list-style: disc;
    padding-left: 32px;
}
</style>
