<template>
    <TemplatePage>
        <TemplateMenuGaucheEtContenu :sectionsMenu="sectionsMenu" :pagesMenu="pagesMenu" :ajouterTitresAuxSections="ajouterTitresAuxSections">
            <template #hautPage>
                <TitrePage :titrePartie1Surlignee="props.titre" :texte-sous-titre="props.texteSousTitre" />
            </template>
            <slot name="titrePage" />
            <slot name="introduction" />
            <template v-for="section in sectionsMenu" #[section.hash]>
                <slot :name="section.hash" />
            </template>
        </TemplateMenuGaucheEtContenu>
    </TemplatePage>
</template>

<script setup lang="ts">
import TitrePage from '~/components/base/TitrePage.vue';
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';
import type { SousMenu } from '~/modeles/navigation/MenuModele.js';

import TemplateMenuGaucheEtContenu from './TemplateMenuGaucheEtContenu.vue';
import TemplatePage from './TemplatePage.vue';

const props = withDefaults(
    defineProps<{
        titre: string;
        texteSousTitre?: string;
        pagesMenu?: SousMenu[];
        sectionsMenu?: ItemLienHash[];
        ajouterTitresAuxSections?: boolean;
    }>(),
    {
        texteSousTitre: '',
        pagesMenu: () => [],
        sectionsMenu: () => [],
        ajouterTitresAuxSections: true
    }
);
</script>
