<template>
    <div class="relative">
        <slot name="hautPage" />
        <div class="flex flex-col gap-4 justify-center sm:p-8 pb-16 m-auto lg:flex-row">
            <div
                v-if="props.pagesMenu.length > 0 || itemsSectionsMenu.length > 1"
                class="gap-8 md:w-[300px] px-4 py-4 flex flex-wrap flex-shrink-0 lg:flex-col h-fit lg:sticky lg:float-left lg:top-[var(--hauteur-entete-totale)] bg-sable-100 bg-opacity-10 rounded-md"
            >
                <PagesMenu v-if="props.pagesMenu.length > 0" :sousMenus="props.pagesMenu" />
                <UDivider v-if="props.pagesMenu.length > 0 && itemsSectionsMenu.length > 1" class="hidden lg:block"></UDivider>
                <SectionsMenu v-if="itemsSectionsMenu.length > 1" class="hidden lg:block" :liensHash="itemsSectionsMenu" />
            </div>
            <div class="bg-white sm:rounded-2xl p-4 sm:py-8 sm:px-16 max-w-4xl">
                <slot />
                <ElementScrollable
                    v-for="(itemMenu, index) in itemsSectionsMenu"
                    :id="itemMenu.hash"
                    :key="index"
                    :seuil-bas-pourcent="70"
                    :seuil-haut-pourcent="10"
                    class="mt-8 mb-12"
                    @evtEntrerZoneScroll="majHashActif"
                >
                    <TitreH2 v-if="ajouterTitresAuxSections">{{ itemMenu.libelle }}</TitreH2>
                    <slot :name="itemMenu.hash" />
                </ElementScrollable>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';

import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele';
import type { SousMenu } from '~/modeles/navigation/MenuModele';

import TitreH2 from '../base/TitreH2.vue';
import ElementScrollable from '../navigation/ElementScrollable.vue';
import PagesMenu from '../navigation/PagesMenu.vue';
import SectionsMenu from '../navigation/SectionsMenu.vue';

const props = withDefaults(
    defineProps<{
        pagesMenu?: SousMenu[];
        sectionsMenu?: ItemLienHash[];
        ajouterTitresAuxSections?: boolean;
    }>(),
    {
        texteSousTitre: '',
        pagesMenu: () => [],
        sectionsMenu: () => [],
        ajouterTitresAuxSections: true
    }
);

const idHash = ref(props.sectionsMenu.length > 0 ? props.sectionsMenu[0].hash : '');
// Traitement du hash fait dans un onMounted pour éviter un warning de Hydration node mismatch (le hash n'est pas connu côté serveur)
onMounted(() => (idHash.value = useRoute().hash.slice(1) || idHash.value));

const majHashActif = (id: string) => {
    idHash.value = id;
};

const itemsSectionsMenu = computed<ItemLienHash[]>(() => {
    return props.sectionsMenu.map((l) => {
        return {
            hash: l.hash,
            libelle: l.libelle,
            type: l.type,
            estActif: l.hash === idHash.value
        };
    });
});
</script>
