<template>
    <TemplatePageSimple :titre="titre" :texteSousTitre="texteSousTitre" :sectionsMenu="SECTIONS" :ajouterTitresAuxSections="false">
        <template #contenu>
            <slot />
        </template>
    </TemplatePageSimple>
</template>

<script setup lang="ts">
import type { ItemLienHash } from '~/modeles/navigation/ItemMenuModele.js';

import TemplatePageSimple from './TemplatePageSimple.vue';

defineProps<{
    titre: string;
    texteSousTitre?: string;
}>();

const SECTIONS: ItemLienHash[] = [
    {
        type: 'LIEN_HASH',
        hash: 'contenu',
        libelle: 'contenu'
    }
];
</script>
