<template>
    <div class="w-full bg-primaire-900 text-white text-center pt-4 pb-12">
        <div class="flex flex-col items-center m-auto gap-4 sm:gap-8 max-w-[1000px] px-2">
            <div class="font-serif text-xl sm:text-3xl underline decoration-jaune decoration-[3px]">Dernières nouvelles</div>
            <div class="text-2xl sm:text-3xl font-bold">Le rapport annuel de Terre&nbsp;de&nbsp;Liens est sorti</div>
            <div class="sm:text-xl">
                À cette occasion, nous publions dans Territoires Fertiles une version simplifiée du diagnostic de votre territoire sous forme d'un
                <strong>livret 4 pages imprimable</strong>.
            </div>
            <div class="pt-6 flex flex-wrap gap-8 sm:gap-12">
                <div class="m-auto grid place-items-center">
                    <figure class="figure flex items-center justify-center pb-4">
                        <NuxtImg
                            :src="CouvertureRapportTDL.url"
                            :width="CouvertureRapportTDL.resolutionX"
                            :height="CouvertureRapportTDL.resolutionY"
                            :alt="CouvertureRapportTDL.descriptionAlt"
                            class="h-[200px] sm:h-[250px] max-h-full w-fit"
                            sizes="250px"
                            densities="x1 x2"
                        />
                    </figure>
                    <UButton
                        class="px-4"
                        to="https://terredeliens.org/national/actu/souverainet%C3%A9-alimentaire-un-scandale-made-in-france-17-02-2025/"
                        color="accent"
                        size="md"
                        :ui="{ rounded: 'rounded-full' }"
                        icon="i-heroicons-arrow-top-right-on-square"
                        :trailing="true"
                        target="_blank"
                    >Consulter</UButton
                    >
                </div>
                <div class="m-auto grid place-items-center">
                    <figure class="figure flex items-center justify-center pb-4">
                        <NuxtImg
                            :src="ApercuLivret4Pages.url"
                            :width="ApercuLivret4Pages.resolutionX"
                            :height="ApercuLivret4Pages.resolutionY"
                            :alt="ApercuLivret4Pages.descriptionAlt"
                            class="h-[200px] sm:h-[250px] w-fit"
                            sizes="250px"
                            densities="x1 x2"
                        />
                    </figure>
                    <UButton
                        class="px-4"
                        :to="useRouteDocumentsAImprimer(territoire?.id)"
                        color="accent"
                        size="md"
                        :ui="{ rounded: 'rounded-full' }"
                        @click="
                            () =>
                                useTracerActionMatomo(
                                    'Clic',
                                    `Lien vers page Supports`,
                                    `Lien vers page Supports de ${routeCourante.name} depuis comp=DernieresNouvelles`
                                )
                        "
                    >Imprimer le livret</UButton
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { IMG0080 as CouvertureRapportTDL } from '@lga/images-definitions';
import { IMG0079 as ApercuLivret4Pages } from '@lga/images-definitions';

import { NuxtImg } from '#components';
import { useGetStateTerritoire, useRouteDocumentsAImprimer, useRoutePageCourante, useTracerActionMatomo } from '#imports';

const routeCourante = useRoutePageCourante();
const territoire = useGetStateTerritoire();
</script>
