<template>
    <nav class="bg-neutral-50 text-primaire w-full h-full relative">
        <UButton
            v-if="routeRetourAccueilTerritoire"
            class="absolute pl-4 left-0 h-full z-10"
            label="Accueil territoire"
            color="accent"
            variant="link"
            leading-icon="i-heroicons-arrow-left-20-solid"
            size="xl"
            :to="routeRetourAccueilTerritoire"
            :padded="false"
            @click="() => useTracerNavigationMatomo($route.name, 'EnteteDiagnosticFlash(bouton Retour)', 'diagnostic-flash')"
        />
        <div class="w-full"></div>
        <UButton
            :to="useRouteDocumentsAImprimer(idTerritoire)"
            class="absolute pr-4 right-0 h-full z-10"
            label="Télécharger"
            color="accent"
            variant="link"
            trailing-icon="i-heroicons-arrow-down-tray-20-solid"
            size="xl"
            :padded="false"
            @click="
                () =>
                    useTracerActionMatomo(
                        'Clic',
                        `Lien vers page Supports`,
                        `Lien vers page Supports de ${routeCourante.name} depuis comp=EnteteSecondaireDiagnostic`
                    )
            "
        />
    </nav>
</template>

<script setup lang="ts">
import {
    useRouteAccueil,
    useRouteDocumentsAImprimer,
    useRouteMonTerritoire,
    useRoutePageCourante,
    useRouteParamsPageCourante,
    useTracerActionMatomo,
    useTracerNavigationMatomo
} from '@/composables';

const routeCourante = useRoutePageCourante();
const routeParamsPageCourante = useRouteParamsPageCourante();
const routeRetourAccueilTerritoire = routeParamsPageCourante.idTerritoire
    ? useRouteMonTerritoire(routeParamsPageCourante.idTerritoire)
    : useRouteAccueil();
const idTerritoire = routeParamsPageCourante.idTerritoire;
</script>
