<template>
    <div class="flex flex-col m-auto w-full items-center">
        <BlocTitreSousTitreSection :titrePartie2Surlignee="props.titrePartie1Surlignee" :titrePartie3NonSurlignee="props.titrePartie2NonSurlignee">
            {{ props.sousTitre }}
        </BlocTitreSousTitreSection>
        <div class="w-full xl:max-w-[1280px]">
            <UCarousel
                v-slot="{ item }"
                :class="`w-full ${props.typeAffichage === 'carrousel' ? ' hidden lg:block lg:m-auto lg:mr-0' : ' hidden'}`"
                :items="THEMES"
                :ui="{
                    container: 'h-full',
                    item: `p-3 max-w-[350px]`
                }"
                :prev-button="{
                    color: 'white',
                    icon: 'i-heroicons-arrow-left-20-solid'
                }"
                :next-button="{
                    color: 'white',
                    icon: 'i-heroicons-arrow-right-20-solid'
                }"
                arrows
            >
                <BlocLienImage
                    class="max-w-[320px] h-[400px]"
                    :label="item.titreCourt"
                    :titre="item.question"
                    :url="useRouteThematiques(item.id, territoire?.id)"
                    :image="item.image"
                    @click="() => useTracerNavigationMatomo($route.name, `PresentationThematiques`, `thematiques`)"
                />
            </UCarousel>
        </div>
        <div :class="`flex flex-col justify-center px-4 ${props.typeAffichage === 'galerie' ? '' : 'lg:hidden'}`">
            <div class="flex flex-wrap gap-8 justify-center max-w-[1050px]">
                <BlocLienImage
                    v-for="item in THEMES.slice(0, nombreThematiquesAffichees)"
                    :key="item.id"
                    class="max-w-[320px] h-[400px]"
                    :label="item.titreCourt"
                    :titre="item.question"
                    :url="useRouteThematiques(item.id, territoire?.id)"
                    :image="item.image"
                    @click="() => useTracerNavigationMatomo($route.name, `PresentationThematiques`, `thematiques/${item.id}`)"
                />
            </div>
            <UButton
                v-if="nombreThematiquesAffichees < THEMES.length"
                class="w-fit mx-auto mt-8"
                variant="outline"
                color="accent"
                size="lg"
                :ui="{
                    rounded: 'rounded-full'
                }"
                @click="afficherPlusDeThematiques"
            >Voir plus de thématiques</UButton
            >
        </div>
    </div>
</template>

<script setup lang="ts">
import { useGetStateTerritoire, useRouteThematiques, useTracerNavigationMatomo } from '@/composables';
import { UCarousel } from '#components';
import { ref } from '#imports';
import { THEMES } from '~/modeles/Theme.js';

import BlocLienImage from '../base/BlocLienImage.vue';
import BlocTitreSousTitreSection from './commun/BlocTitreSousTitreSection.vue';

const props = defineProps<{
    titrePartie1Surlignee: string;
    titrePartie2NonSurlignee: string;
    sousTitre?: string;
    typeAffichage: 'carrousel' | 'galerie';
    afficherTousLesElements?: boolean;
}>();

const nombreThematiquesAffichees = ref(props.afficherTousLesElements ? THEMES.length : 3);
const afficherPlusDeThematiques = () => {
    nombreThematiquesAffichees.value += 3;
};

const territoire = useGetStateTerritoire();
</script>
