<template>
    <div class="bg-primaire text-center text-white h-fit print:h-[calc(100vh-2*var(--hauteur-entete-totale))] print:break-after-page">
        <div class="max-w-[1000px] flex flex-col place-items-center px-2 py-6 pb-2 sm:py-8 justify-around m-auto gap-8 sm:h-full">
            <p class="print:hidden text-lg font-bold w-fit">Diagnostic</p>
            <div class="flex flex-col place-items-center gap-8">
                <h1 class="text-2xl sm:text-6xl sm:leading-tight font-serif">{{ props.phrase }} {{ props.nomTerritoireAvecPrepositionDe }}</h1>
                <p class="print:hidden text-lg sm:text-2xl bg-jaune text-primaire font-bold text-center py-2 px-6 my-2 w-fit -rotate-[4deg]">
                    {{ props.accroche }}
                </p>
            </div>
            <div class="print:hidden">
                <UButton
                    class="sm:hidden rounded-full"
                    color="white"
                    variant="outline"
                    trailing-icon="i-heroicons-chevron-down"
                    size="xl"
                    :to="'#' + props.hashBoutonChevronBas"
                    :ui="{ color: { white: { outline: 'sm:ring-transparent' } } }"
                    :padded="false"
                />
                <div class="hidden sm:block">
                    <BoutonNuxt libelle="" :to="'#' + props.hashBoutonChevronBas" taille="s" type="filaire" couleur="blanc" styleIcone="filaire">
                        <IconeChevronBas />
                    </BoutonNuxt>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import IconeChevronBas from '@/assets/icones/chevron-bas.svg';
import BoutonNuxt from '@/components/base/BoutonNuxt.vue';

const props = defineProps<{
    nomTerritoireAvecPrepositionDe: string;
    phrase: string;
    accroche: string;
    hashBoutonChevronBas: string;
}>();
</script>
